[2014-07-29 21:19] danliu opened #2269 "Make Metrics service use https"
right now it's http://api-metrics.nuget.org/

[2014-07-29 21:20] #2261 closed, assigned to deepakaravindr

[2014-07-29 21:24] bhuvak opened #2270 "Expose the logs from metrics service to get the heart beat of the service"

[2014-07-30 20:56] danliu opened #2271 "Change the timeout of Metrics Service for writing to database from 30 secs to 5 secs"
as not to block the thread for waiting

[2014-07-31 19:09] #2264 closed, assigned to nobody

[2014-07-31 19:59] deepakaravindr opened #2272 "Support for posting an array of download events"
Support for posting an array of download events. It would be using the same endpoint as '/DownloadEvent'

[2014-08-01 00:09] #2269 closed, assigned to nobody

[2014-08-01 18:10] deepakaravindr opened #2273 "[NuGet.Services.Metrics] Honor the new keys for dependency root package"
Honor the new keys for dependency root package

[2014-08-04 23:38] #2272 closed, assigned to deepakaravindr

[2014-08-04 23:38] #2271 closed, assigned to nobody

[2014-08-04 23:38] #2270 closed, assigned to deepakaravindr

[2014-08-05 17:48] deepakaravindr opened #2274 "[NuGet.Services.Metrics] Should Metrics Service prevent against ultra large POST requests?"
[NuGet.Services.Metrics] Should Metrics Service prevent against ultra large POST requests?

[2014-08-05 18:06] deepakaravindr opened #2275 "D17: Deploy Metrics Service to production"
# Deploy Metrics Service to production

**Status**: Deployed to int after running of functional tests

**Focus**: Fixes including enabling heart beat for the service, set low command timeout, returning MethodNotAllowed, enabling SSL and other minor test fixes

**Services to Deploy**:
- Metrics Service - v3.0.86-r-master
  https://nugetbuild.cloudapp.net/viewLog.html?buildId=3584&tab=buildResultsDi

[2014-08-06 03:08] bhuvak opened #2276 "ImportDatabaseToFailoverDC job failing due to DB size limit"
System.Exception: Error encountered during the service operation. Could not import package. Error SQL72014: .Net SqlClient Data Provider: Msg 40544, Level 17, State 1, Line 3 The database 'backup_2014aug05_2302z' has reached its size quota. Partition or delete data, drop indexes, or consult the documentation for possible resolutions. Error SQL72045: Script execution error. The executed script: PRI

[2014-08-06 03:11] bhuvak opened #2277 "Rebuild DB indexes in Gallery and Warehouse DB"
The index fragmentation for some of the indexes in Packages and PackageRegistration table is around 70%.
We need to rebuild the indexes at some point of time.
Also lot of times queries around warehouse DB is timing out. We need to rebuild the indexes in Warehouse DB as well.

[2014-08-06 10:09] mperdeck opened #2278 "Download stats for my package not being updated"
The download stats for my package JSNLog haven't changed for about a week. Normally, there are about 10 downloads a day. The package still downloads and installs ok in an empty project (I got rid of the cached packages first on my computer). Traffic to my site jsnlog.com is normal.

Is there a technical problem with NuGet causing it not to update the download stats?

[2014-08-06 21:55] bhuvak opened #2279 "EmitPackageRegistrationBlobs_1_DC0 and UpdateCatalog_0_DC0 work service job is not getting invoked"
The last time this job was queued was 7/29 and it is still in "Incomplete" state.
Check out https://api-work-0.nuget.org/work/invocations/instances/EmitPackageRegistrationBlobs_1_DC0 for details.

[2014-08-07 15:41] thomaslevesque opened #2280 "Support formatting in description"
It would be nice to be able to add some basic formatting (perhaps using markdown) in the free-text fields of the nuspec file (`summary`, `description` and `releaseNotes`). Currently it's hard to display the release notes properly.

See also this issue on CodePlex: https://nuget.codeplex.com/workitem/937

[2014-08-08 21:25] #2275 closed, assigned to deepakaravindr

[2014-08-11 21:40] #2278 closed, assigned to nobody

[2014-08-11 21:46] #1829 closed, assigned to bhuvak

[2014-08-11 21:46] #1058 closed, assigned to nobody

[2014-08-11 21:46] #1025 closed, assigned to nobody

[2014-08-11 21:47] #2063 closed, assigned to bhuvak

[2014-08-11 21:57] #2246 closed, assigned to nobody

[2014-08-11 21:58] #2240 closed, assigned to nobody

[2014-08-11 22:18] #2169 closed, assigned to nobody

[2014-08-11 22:19] #2132 closed, assigned to nobody

[2014-08-11 22:22] #2059 closed, assigned to nobody

[2014-08-11 22:25] #1939 closed, assigned to nobody

[2014-08-11 22:27] #2207 closed, assigned to nobody

[2014-08-11 22:27] #1949 closed, assigned to nobody

[2014-08-18 21:59] joostdenijs opened #2282 "Search Should Supports Substrings."
1. Open any project
2. Go to Manage NuGet Packages Window
3. In the Online tab, search "bootstrap.t" - you will see no results
4. Now add "ype" to the end making the query "bootstrap.type" - you will now see 2 results

Expected: To see both results given by searching for "bootstrap.type" when typing "bootstrap.t"
Reality: Don't see the same results with the query "bootstrap.t" as with "bootstrap.t

[2014-08-19 17:56] #2282 closed, assigned to nobody

[2014-08-20 17:47] #1995 closed, assigned to nobody

[2014-08-20 17:48] #1974 closed, assigned to nobody

[2014-08-20 17:51] #1973 closed, assigned to nobody

[2014-08-20 17:55] #1936 closed, assigned to nobody

[2014-08-20 17:58] #1893 closed, assigned to nobody

[2014-08-20 18:07] #1846 closed, assigned to nobody

[2014-08-20 18:19] #1845 closed, assigned to nobody

[2014-08-20 18:53] #1880 closed, assigned to nobody

[2014-08-20 18:59] #1723 closed, assigned to analogrelay

[2014-08-20 18:59] #1721 closed, assigned to analogrelay

[2014-08-20 18:59] #1878 closed, assigned to nobody

[2014-08-20 18:59] #1876 closed, assigned to nobody

[2014-08-20 19:55] #1916 closed, assigned to nobody

[2014-08-20 19:58] #1929 closed, assigned to nobody

[2014-08-20 23:00] #1879 closed, assigned to nobody

[2014-08-20 23:04] #1935 closed, assigned to nobody

[2014-08-20 23:13] #1934 closed, assigned to nobody

[2014-08-20 23:18] #1881 closed, assigned to nobody

[2014-08-21 15:22] RogerKratz opened #2287 "Not listed package shows up when searching"
When doing a search on nuget.org and click the link, you end up on a "not listed" package.
1. Go to nuget.org
2. Search for envers
3. Click Nhibernate.Envers
4. -> end up on version 2.0.1 which is a "unlisted package"

Would prefer to end up on 2.0.o which is the latest "listed package".

[2014-08-27 00:08] #2287 closed, assigned to nobody

[2014-08-27 04:49] danliu opened #2288 "ReplicatePackageStatisticsJob is swallowing exceptions and can silently fail without writing records to DB"
The output from the job is all positive and showing successful messages. But actually no records is being written to warehouse DB.

One scenario that can repro this issue is:
creating a blank warehouse DB, with tables, stored procedures and functions created. But the fixed dimensions are not populated.

[2014-08-27 17:17] danliu opened #2289 "There is Mirror operation in Warehouse DB, which corresponding to UnKnown operation in NuGetGallery"
need to understand why this is from.

seems like the overall download counts are not affected.

[2014-08-27 18:11] tvperez opened #2290 "[Deleted]"
[This issue has been deleted]

[2014-08-27 20:37] #2290 closed, assigned to nobody

[2014-09-09 15:16] Andrewiski opened #2292 "NUGET Search very slow or not responding Sept. 9, 2014 11:15 EST"
Searches on the web page or inside of NUGET ether timeout or don't respond. Web pages eventual throws an error.

[2014-09-09 18:52] danliu opened #2293 "Search: Search for targetframework .netcore, 4.5.1 returns lower version than expected"
Repro steps:
1. create a new WinStore 8.1 app, search against Int
2. check the version of EntityFramework returned

Expected: Version 6.1.1 is returned, as it can be successfully installed to WinStore apps.

Actual: Version 4.1.10715.0 is returned.

[2014-09-10 17:48] danliu opened #2294 "Search: Search for targetframework .net20, .net30 returns packages having only net40 folder"
Repro steps:
1. create a net20 or net30 project, point against Int
2. search PagedList.Mvc or WebActivatorEx

Expected: packages with only net40 folder are not shown as the search results

Actual: they are. And installing these packages will fail with message like below:

Attempting to resolve dependency 'PagedList (≥ 1.16)'.
Installing 'PagedList 1.16.0.0'.
Successfully installed 'PagedList 1.16.

[2014-09-10 17:57] danliu opened #2295 "Search: Package Manage dialog only shows 4 pages of packages when using the new targetframework search"
Repro steps:
1. Stat package manager dialog with a Net40-client project e.g., point to Int
2. click page number 5, it will say "No items found"

There will be no page number 5 and larger after that. The returned results should be > 40 packages.

[2014-09-10 18:41] danliu opened #2296 "Search: feed cannot be connected with Visual Studio 2010 + new search"
Repro steps:
1. Start package manager dialog on visual studio 2010, point to Int
2. Wait for package to load

Expected: works fine

Actual: Unable to connect to the remote server. Have verified by starting IE that the Int feed is working.

Stack trace:
NuGet.exe list -source int -verbosity detailed

System.Net.WebException: Unable to connect to the remote server ---> System.Net.
Sockets.SocketExce

[2014-09-10 22:09] danliu opened #2297 "Search: The targetframework filtered results are not being aggregated for Package Manager dialog for solution"
Repro steps:
1. Create a hub app for windows 8.1 and windows phone 8.1
2. start package manager dialog for windows 8.1, EntityFramework version is 6.1.1
3. start package manager dialog for windows phone 8.1, EntityFramework version is 4.1.07510
4. start  Package Manager dialog for solution (online tab), EntityFramework version is 6.1.1

Expected: The aggregated search results for the solution, whi

[2014-09-10 22:13] danliu opened #2298 "Search: EntityFramework version returned for Windows Phone App 8.1 is not correct"
although EF package 6.1.1 can be installed to Windows Phone App 8.1 project, the returned version is 4.1.70510.

EF 6.1.1 has the following folder structure:
Lib
- net40
- net45

Content
- *.config.transform

Tools
- a bunch of .ps1 and others

Looks like NuGet client allows the package to be installed, although the lib structure is not supporting the current target framework.
But our search is fi

[2014-09-11 04:58] #2297 closed, assigned to nobody

[2014-09-11 17:12] danliu opened #2299 "Search: Curated feed with targetframework search gives an error on WebMatrix"
An error occurred.

Index was outside the bounds of the array.

System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at NuGet.WebMatrix.Data.VirtualizingList.BeginFetchChunk(Object state)
   at System.Threading.Tasks.Task.InnerInvoke()
   at System.Threading.Tasks.Task.Execute()

[2014-09-11 18:05] danliu opened #2300 "Search: While filtering the search targetframework for packages, we should consider also filter based on the framework profile supported by the dependency packages"
Repro steps:
1. create a .NET4.1 Micro framework project
2. start package manager dialog, pointing to Int
3. search for NHibernate, version 3.0.0.4000 will be shown up
4. Install it

Expected: package should be installed successfully

Actual: installation failed due to dependency package of Castle.Core 2.5.1 not compatible with the .NETMicroFramework,Version=v4.1.

Error details:
Attempting to res

[2014-09-11 20:18] danliu opened #2301 "Search: Search by .NETMicroFramework,Version=v4.1 returns incorrect result for AjaxMin"
Package AjaxMin 4.94.4916.15482; targetframework is:
.NETFramework,Version=v2.0;.NETFramework,Version=v3.5;.NETFramework,Version=v4.0;

where it is not compatible.

[2014-09-12 21:25] danliu opened #2302 "Search: Searching curated feed return some non-compatible results"
For example, .NET20 project + DotNet feed has the following two packages shown on the list. But they are not compatible.

AspNet.ScriptManager.jQuery 2.0.2:
.NETFramework,Version=v4.0;.NETFramework,Version=v4.5;

WindowsAzure.MobileServices 1.0.0:
.NETFramework,Version=v4.5;.NETCore,Version=v4.5;.NETPortable,Version=v0.0,Profile=win+net45+sl40+wp71;Silverlight,Version=v4.0,Profile=windowsphone71;W

[2014-09-16 17:12] #2294 closed, assigned to analogrelay

[2014-09-16 17:16] #2293 closed, assigned to analogrelay

[2014-09-16 17:19] #2298 closed, assigned to analogrelay

[2014-09-16 17:20] #2300 closed, assigned to analogrelay

[2014-09-16 17:34] #2302 closed, assigned to analogrelay

[2014-09-17 21:37] #2295 closed, assigned to analogrelay

[2014-09-17 21:58] #2301 closed, assigned to analogrelay

[2014-09-17 22:40] #2296 closed, assigned to analogrelay

[2014-09-20 20:20] obiwanjacobi opened #2304 "spec: Unexpected token error with complex url."
Have a spec file with this url for the icon:
<iconUrl>http://download-codeplex.sec.s-msft.com/Download?ProjectName=vstnet&DownloadId=34897</iconUrl>

When trying to create a package it says:
'=' is an unexpected token. The expected token is ';'. Line 10, position 92.

Pos:92 is the second! '=' char. (after '&' ?)

Hope it helps,
Marc Jacobi

[2014-09-23 20:39] danliu opened #2305 "Nucmd: Delete corresponding stats from Warehouse DB, when calling nucmd package delete"
so that we can have exact match for package stats

[2014-09-26 15:52] olandese opened #2306 "UpdateStatisticsJob and LuceneIndexingJob tasks are not starting"
There is a bug in the NuGetJobCoordinator.
I'm running Nuget Gallery locally and the LuceneIndexing job and the UpdateStatistics job are not starting.
This is because the originalTask.Status when the webapplication is running has the status "Created" and not "WaitingForActivation"

So In the NuGetJobCoordinator at CreateWrappingContinuingTask the originalTask is never starting!

[2014-09-29 23:17] danliu opened #2307 "Search: Microsoft.Bcl.Build 1.0.21 is filtered out incorrectly"
Repro steps:
1. Create an .NET 20 project
2. search packages from Int

Expected: Microsoft.Bcl.Build package is returned on the list

Actual: not on the list, but NuGet.Core consider it compatible with net20 project.

[2014-09-30 08:24] RihanMeij opened #2308 "Unable to build the master branch - NuGet.Services.Platform.Client"
Hi

I have gotten the latest changes, and go into Visual Studio to update the packages (We have a proxy at work, so the command line option does not work.  At least via the IDE I can get to the NuGet Repositories)  However it is unable to find version "3.0.11-r-master" of package "NuGet.Services.Platform.Client".

It has updated all of the other packages as far as I can tell.

If I look at the pac

[2014-09-30 12:21] veerapaneniraghu opened #2309 "when trying to install NServicebus in a project i am facing below issue"
Facing below issue

'NServiceBus 5.0.0' already installed.
Adding 'NServiceBus 5.0.0' to EppWeb.
Could not install package 'NServiceBus 5.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v3.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package au

[2014-09-30 20:40] danliu opened #2310 "Search: Package shown or not shown on search results unexpected"
Note: How to interpret the search results

There are 3 types of tests,
- CompareSearchResultsForReductions, this is to verify packages got removed from the search results are Not compatible with the project's targetframework. Expected compatibility is false.

- CompareSearchResultsForAdditions, this is to verify packages got added to the search results are compatible with the project's targetframe

[2014-09-30 22:08] #2307 closed, assigned to nobody

[2014-10-01 01:51] ToddRopog opened #2311 "What happened to the iter-start branch?"
The readme.md says we should start by branching off of iter-start, but I don't see that branch in the repo. What branch should we use?

[2014-10-01 04:19] #2311 closed, assigned to nobody

[2014-10-01 16:43] #2299 closed, assigned to analogrelay

[2014-10-02 19:35] lorrin opened #2314 "Results not in specified sort order when using published or lastEdited sorts."
Results are nearly sorted correctly, but there are jitters.

[code]
or
[code]

[2014-10-09 17:23] ArvindRSingh opened #2316 "nuget.org was not accessible now it is but got error while updating packages"
Error while updating all packages:
The remote name could not be resolved: 'az320820.vo.msecnd.net'

[2014-10-13 11:46] hardsky opened #2317 "Search: request with filter, that contains 'startswith', became executed very slow"
Hi!
We noticed that search request
https://www.nuget.org/api/v2/Search()?$filter=IsAbsoluteLatestVersion%20and%20startswith(Id,'newt')&$orderby=Id&$skip=0&$top=30&searchTerm='newt'&targetFramework='net45%7Cnet40%7Cnet35%7Cnet20%7Cnet45-Client%7Cnet40-Client%7Cnet35-Client%7Cnet20-Client'&includePrerelease=true
became executed very slow.
This issue became about week ago.

Here is more clean represe

[2014-10-13 21:33] johnegbert opened #2318 "Add a way in Visual Studio UI to update multiple selected packages at one time"
Currently you can go to "Updates" on "Manage NUGet Packages" and select an individual package and click the "Update" button to update packages 1 at a time. But I have 30 packages I need to update and don't want to "Update All" packages. I would like to "multi-select" the packages I want to update and click 1 button to update them all.
Thanks

[2014-10-13 23:57] zfields opened #2319 "Newer Azure SDK 2.4 does not seem to support nuget.localtest.me"
`nuget.localtest.me` should be replaced with `localhost` in
NuGetGallery.csproj
NuGetGallery.Cloud\ServiceConfiguration.Local.cscfg

[2014-10-31 21:06] JamesNK opened #2322 "Package statistics page graph package order"
http://www.nuget.org/stats/packages/Newtonsoft.Json?groupby=Version

I noticed in the graph on the package statistics page that 6.0.1-beta1 is displayed after 6.0.1. Shouldn't it be the other way around?

[2014-11-05 23:09] VintageMud opened #2323 "Build is broken by MVC4 Windows Update"
The build is failing with the below error, and can be attributed to a [Windows Update](http://stackoverflow.com/questions/26393157/windows-update-caused-mvc3-and-mvc4-stop-working)

[2014-11-06 14:58] VintageMud opened #2324 "CodeAnalysis Build Failure - Unused Variable"
The build is failing with the below error due to unused variable.

[2014-11-08 22:14] hikalkan opened #2327 "nuget.exe "pack" command dependency problem."
I have an issue. I will write a sample situation to explain the problem:

This is my sample command to create a nuget package named Abp:

"..\src\.nuget\NuGet.exe" "pack" "..\src\Abp\Abp.csproj" -Properties Configuration=Release -IncludeReferencedProjects -Symbols

It automatically finds packages.config and create dependencies of Abp package. In package.config, it depends on:

  &lt;package id=&qu

[2014-11-09 05:19] bhuvak opened #2328 "Deleting package from Search index doesn't work"
While updating index, package deletes from DB are not applied to the search index and the UpdateSearchIndexJob throws "ArgumentOutofRangeException"

The issue seems to be related to the commit : .
https://github.com/NuGet/NuGet.Services.Search/commit/bc77f5d2ffa62d9764f95b0d106ab93b15fa6b24#diff-8728326a7661b44a7f1a61a0e0be07a7.

The PackageFetcher ( @ https://github.com/NuGet/NuGet.Services.Searc

[2014-11-10 11:17] volkanceylan opened #2329 "Package download statistics are not updated"
For last three days package download counts on nuget.org are not increased.

Main page is always showing 280,266,060 package downloads and it stayed constant since 2014-11-08. Some packages i use (e.g. Serenity.Web 1.4.0) shows 0 download count.

[2014-11-17 19:51] jeffhandley opened #2331 "Logging exception crashed job"
The Stats Aggregation job was dead this morning, and the console showed that it died because of an exception in the logging.

[Info]:     [2014-11-15T17:31:35.8523373Z]: Job run took '8967.000' ms (or '8.967' seconds or '0.149' mins)
[Info]:     [2014-11-15T17:31:35.9140279Z]: Job Succeeded
[Info]:     Waiting for log flush runner loop to terminate...
[Info]:     Setting Local log only queue to nu

[2014-11-17 20:16] #1952 closed, assigned to deepakaravindr

[2014-11-18 01:23] #2331 closed, assigned to deepakaravindr

[2014-11-18 03:55] deepakaravindr opened #2332 "[NuGet.Jobs] Need a start-up script to restart all the jobs when the VM restarts"
[NuGet.Jobs] Need a start-up script to restart all the jobs when the VM restarts

[2014-11-18 04:24] deepakaravindr opened #2333 "[NuGet.Jobs] Multiple users should be able to monitor nuget jobs concurrently"
[NuGet.Jobs] Multiple users should be able to monitor nuget jobs concurrently

[2014-11-19 20:34] deepakaravindr opened #2335 "[NuGet.Warehouse] Improve parsing in SQL methods like 'UserAgentClientMinorVersion'"
[NuGet.Warehouse] Improve parsing in SQL methods like 'UserAgentClientMinorVersion'

[2014-11-19 20:38] deepakaravindr opened #2336 "[NuGet.Jobs] Convert pending Work service jobs to exes"
[NuGet.Jobs] Convert pending Work service jobs to exes

[2014-11-27 03:26] ghost opened #2337 "Would be nice if you guys did things consistently"
instead of this splitbrained "NuWorld" repository for everything on github vs nuget repository on codecrap(plex) because:

Cloning into bare repository '/usr/portage/distfiles/egit-src/nuget'...
remote: Counting objects: 57399, done.
remote: Compressing objects: 100% (13991/13991), done.
remote: Total 57399 (delta 47146), reused 52243 (delta 42917)
Receiving objects: 100% (57399/57399), 39.11 MiB

[2014-11-28 13:56] bentolor opened #2338 "NuGet CLI command `update` ignores settings in `nuget.config`"
I assume I have found a bug regarding the usage of `nuget.exe` where it ignores the `repositorypath` setting in a `nuget.config` placed in the solution directory for the command `update` but not for `restore`.
## How to reproduce

I have a  `nuget.config` placed in my solution directory:

[code]

This works:

[code]

This doesn't:

[code]

I'm required to explicity pass an additional  `-repository

[2014-11-28 13:59] #2338 closed, assigned to nobody

[2014-12-11 20:09] zfields opened #2340 "BUG: NuGet package manager has difficulty with "unavailable" projects in multi-project solution."
MENU:
NuGet Package Manager >> Manage NuGet Packages for Solution...

BRIEF:
When a project is unloaded, it is not recognized by the "Installed packages" pane, however it is considered by the "Online" pane.

DETAIL:
If you remove a package using the "Manage" button on the "Installed packages", the NuGet package will not be removed from an unloaded project. When attempting to subsequently re-"Insta

[2014-12-11 20:34] CalvinRodo opened #2341 "I18n (Internationalization and Localization) of NuGet Gallery."
I would like to be able to run a local copy of the NuGet Gallery in my org we are however a bilingual workplace and as such would have to provide a bilingual gallery, currently all the text is hard-coded in the views. A move should be made to make the text configurable.

For user generated packages uni-lingual is fine though localization would be a nice to have feature there as well.

[2014-12-15 14:41] amitinspop opened #2342 "My Package being shown in My Account when Logging in but now in search of Nuget"
Hello there,

I've created a sample package as a dummy one as my first package and published it too. But it was only visible in Nuget searches only on the same day it was created. I've tested it adding in a dummy project and it was successfully added. But now its not shown in searches of nuget.org. But when I try to install it via Package manager Console in Visual Studio, it is successfully instal

[2014-12-15 18:05] #2342 closed, assigned to nobody

[2014-12-21 05:35] cnblogs-dudu opened #2343 "Incredibly slow package download speed"
very very very slow!
![pc5gbkjcb](https://cloud.githubusercontent.com/assets/3196961/5517308/0929062c-8918-11e4-8f46-e1ca6aa7ca12.png)

[2014-12-26 23:13] jianyunt opened #2344 "Page cannot be displayed http://nuget.localtest.me"
I followed guidelines NuGet, cloned the nugget, ran Enable-LocalTestMe.ps1, and built it from VS successfully. However when I launch http://nuget.localtest.me/ from VS or hit F5, I got an error below.

My machine config: WS2012 R2 Standard Server,  2013 VS, and Azure 2.4.   It’s a clean installed VM.   How do I get around this?

Network Access Message: The page cannot be displayed
Explanation: The

[2015-01-08 08:11] robertmuehsig opened #2346 "Idea: Enhance User Profile with "External Sites" ala Chocolatey"
The NuGet Gallery should support something like the External Site Section as you can see on Chocolatey:
https://chocolatey.org/profiles/mwrock

This would help to know who is behind the profile.

[2015-01-12 19:34] kappos opened #2347 "Questions about NugetGallery cloud configuration"
Hi together,
I installed NugetGallery as a private repository. I configured that packages uploaded into Azure Blobstorage.
In that szenario i have the problem, that displaying stats not working.
So I reading the code and me understanding is that this is not really implemented and if i interpreting correctly, that there are many NuGet.Services.xx projects, that this job in futuere doing this stuff,

[2015-01-19 15:09] DoCode opened #2348 "How build from master branch and setup on premise(local) nuget gallery"
Hi,
what are currently the minumum steps to build and setup a local gallery?
The current branch not build, nuget references, etc.
Many thanks

[2015-01-20 04:49] Groggy60 opened #2349 "More than one migrations configuration type was found in the assembly Startup/NuGet"
I am developing an MVC 5 project in VS2013 requiring me to use migrations which seem to be the only way to initialize Role values.  Piece of crap to me.

In the Package Manager Console When I enter
PD> Enable-Migrations –EnableAutomaticMigrations
Migrations have already been enabled in project 'SignupList'. To overwrite the existing migrations configuration, use the -Force parameter.

PM> Update-D

[2015-01-20 19:59] laktak opened #2350 "Global Tools Deployment"
Package managers like npm allow us to install tools with the -g switch (e.g. `npm i hjson -g`) so I can use it from the commandline (e.g. `hjson file.hjson`).

Would it be possible to add a similar functionality that can install an exe in my path to NuGet?

[2015-01-20 20:17] Groggy60 commented on #2349
And...  of course it was another Configuration.cs file.  It seems creating an MVC application in VS2013 will provide a Configuration.cs file in Controllers.  It will not actually be executed until you run an update-database command which you cannot run until you have tried to login or registered since the authorization tables are created in a Model.   I wished the commands would have included on t

[2015-01-20 20:17] #2349 closed

[2015-02-01 18:50] chyuck opened #2352 "Cannot install "Validator" and "ByteBlast.Validator" packages from nuget.org"
If I use VS 2013 Package Manger, it can find packages but when i click "Install" it returns "The remote server returned an error: (504) Gateway Timeout." error.

If I use VS 2013 Package Manger Console
PM> Install-Package Validator
The source at nuget.org [https://www.nuget.org/api/v2/] is unreachable. Falling back to NuGet Local Cache at C:\Users\Andrey\AppData\Local\NuGet\Cache
Install-Package :

[2015-02-02 13:44] dimsedane commented on #2350
You could take a look at https://chocolatey.org/, which uses nuget to install applications.

[2015-02-03 18:38] cmoore-cimpress opened #2353 "HTTP 504 from NuGet servers when performing restore"
Over the past two days (2/2/15 & 2/3/15) we've noticed that many operations against the NuGet Azure servers are failing.

e.g. the following request nearly always results in a 504 - Gateway Timeout:
[code]

[2015-02-04 12:34] mariusogrean opened #2354 "Cannot access www.nuget.org"
It's totally DOWN!!!!!!!!!
I cannot access it for days!

Please help with this issue.

[2015-02-07 18:51] delcypher opened #2355 "URL to nuget.exe command line tool should be HTTPS not HTTP"
The [link to the ``nuget.exe`` command line executable on your website](https://docs.nuget.org/consume/installing-nuget) uses HTTP. It should be HTTPS seeing as the HTTPS URL works just fine.

[2015-02-08 00:36] mj1856 opened #2356 "allowedVersions filter not working at solution level"
Add a single web project to a new solution in Visual Studio.  Add jQuery 1.11.2 to the project.

Since jQuery 2.x is not supported in IE8, we want to stick with jQuery 1.11, so I use the `allowedVersions` attribute in the project's packages.config - like this:

    <package id="jQuery" version="1.11.2" targetFramework="net451" allowedVersions="[1,2)" />

This works fine, and hides the 2.x packages

[2015-02-09 11:20] FransBouma opened #2357 "URLs in email confirmation email differ"
Hi,

If you register at nuget.org, you need to confirm your email address. Nuget sends you an email for that. Now, I'm an old fart from the old days where you read your email using 'mail' on a shell prompt so I read all my emails in plain text. When I got the confirmation email, I saw this: (url changed to protect the innocent)

https://www.nuget.org/account/confirm/SomeName/uiRHuje67GrebnZIJMFA2

[2015-02-09 12:24] Niels-V commented on #2357
Seems to be an issue with the Markdown mailer which uses the underscore as italic indicator. That means that either the MarkdownSharp property StrictBoldItalic should be set (which is not accessible from the MarkdownMailer), or the underscore need to be escaped.

[2015-02-09 19:41] FransBouma opened #2359 "Allow perm delete of packages"
Why is it impossible to perm-delete a package? Let me illustrate this by a real-world scenario that happened to me this afternoon:

I wanted to upload a package for a dll of one of our products. A customer of ours already had uploaded a package with the name of the package we want, with the same dll, for their own use. I asked the customer to take the package down as we want to have control over o

[2015-02-09 19:46] davidfowl commented on #2359
The solution to this sorta thing isn't to allow deletion, that would actually be bad (as anybody who got this package before and was working will suddenly get some new random package from a new owner?). The *real* solution is to introduce something like organizations to packages. In this particular case, the package would have been called RandomBob/Something instead of Frans/Something.

[2015-02-09 20:13] FransBouma commented on #2359
While in the theoretical case that could happen, it is also a problem today that if a 3rd party / fan uploads a package under name X, and the owner of the material decides to do it themselves, they're out of luck and have to pick a different package name, which kind of majorly sucks.

I agree that an organizational structuring would be better, so it can't happen you get a different dll from a diff

[2015-02-10 15:47] fitzchak opened #2361 "No support for aspnetcore50 platform"
See this issue http://stackoverflow.com/questions/28423123/problems-with-ravendb-client-reference-in-asp-net-5-0-project-json

In short, when the user install the RavenDB.Client package, it assume support for aspnetcore50 which we don't have.

1. How can we specify in the NuGet configuration that we don't have this support, so our NuGet users won't be confused by this error?
2. What it takes to su

[2015-02-11 05:40] Sbopf opened #2362 "Nuget default exclusion problem"
Hi

I have been investigating an issue I am having with nuget excluding a sub directory of a recursively included directory.

The include statement:
<file src="Content\**\*.*" target="Content\" />

The sub directory that is missing:
Content\LessFiles\Compiler\node\node_modules\less\bin

I didn't think default exclusion would apply to this situation but it is not publishing to the package. I have n

[2015-02-12 21:09] sushils2k9 opened #2364 "Unable to reinstall Json.NET"
When trying to reinstall Json.NET after upgrading the .Net framework version, I get the following errors:

PM> Update-Package –reinstall "Json.NET"
Update-Package : Unable to find package 'Json.NET'.
At line:1 char:1
+ Update-Package –reinstall "Json.NET"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Update-Package], InvalidOperationException
    + FullyQu

[2015-02-13 11:30] ebbeflarup opened #2365 "Private NuGet gallery and NuGet 3.0"
Hello NuGet

I have a question regarding your choice to remove "All package sources"

We have a private NuGet gallery, and some of the packages deployed here have dependencies to packages on the public NuGet gallery. So now the issue is that we can't search across multiple package sources in the NuGet 3.0 UI, meaning that dependencies to the public NuGet gallery from our private NuGet gallry canno

[2015-02-14 23:14] barba3 opened #2366 "Update-Database -Script misses GO statements"
When running "Update-Database -Script", the generated SQL is broken because it misses "GO" statements.

This may be a solution:
http://stackoverflow.com/questions/25162187/entity-framework-how-to-create-sql-script-with-go-statements

[2015-02-16 10:59] ggrnd0 commented on #2365
[6. Don’t depend directly on NuGet.org.](https://msdn.microsoft.com/en-us/magazine/jj851071.aspx)

So, just upload all your deps in private gallery.
It is better way.

[2015-02-19 13:32] eyalkl opened #2370 "DirectoryNotFound"
Hi,

Got this log message when installing: (what can i do please)?

19/02/2015 15:28:05 - Microsoft VSIX Installer
19/02/2015 15:28:05 - -------------------------------------------
19/02/2015 15:28:05 - Initializing Install...
19/02/2015 15:28:05 - Extension Details...
19/02/2015 15:28:05 - 	Identifier      : NuPackToolsVsix.Microsoft.67e54e40-0ae3-42c5-a949-fddf5739e7a5
19/02/2015 15:28:05 - 	Nam

[2015-02-23 16:17] bc3tech opened #2371 "How to remove the pull of nuget.org packages in to the feed listing?"
I followed the install instructions and am seeing all the nuget.org packages when I go to Packages. this despite the "stats" bar below the header on the main page says "1 unique package". In addition, when I search for the package I *have* uploaded, it doesn't show up.

I also went to the GallerySettings table, after running the Update-Database script, and see nothing in there to customize as per

[2015-02-23 16:36] bc3tech opened #2372 "Can Gallery be put on top of Feed?"
I can't find anything in the doco on how to take the NuGet Gallery and have it pull in as its source a feed that was built using the steps [from here](http://docs.nuget.org/create/hosting-your-own-nuget-feeds#creating-remote-feeds).
We've already got an internal nuget server built using this method, and I'd like to bring the "prettiness" of the NugetGallery to it w/o having to pull & push everythi

[2015-02-24 09:52] maartenba commented on #2372
You would have to upload the existing packages I'm affraid. One way f doing this is this:

1. Open a command prompt in your NuGet.Server's packages directory
2. Run `nuget push * <api key of new gallery> -Source <url of new gallery>`

This will upload all packages at once to the new gallery you deployed.

[2015-02-24 13:57] bc3tech commented on #2372
Severe bummer. I spent some time yesterday trying to make this happen as I waited for a response; my thinking was - if the default installation of Gallery pulls from the Nuget.Org feed, how is it doing this? It must be looking at the feed, right?

[2015-02-26 16:08] rkeithhill opened #2374 "NullReferenceException in VS 2015 CTP6 in InstallPackages against local NuGet repo"
This is the error I see (below).  Our ASP.NET MVC web site is hosting NuGet.Server 2.8.3.  I do not see an update for this package.  Perhaps this is a mismatch between the 3.0 client and the server that will get fixed when someone drops an update for NuGet.Server?

[code]

[2015-02-26 16:11] rkeithhill commented on #2365
We are in the same boat.  I'm not so sure, in a corporate environment, our lawyers would go for us hosting another company's package on our internal server.  Not everybody works in a small outfit/startup where "anything goes".  :-)

[2015-02-26 16:14] rkeithhill commented on #2365
Hmm, is there really no way to vote on issue here?  Say what you will about Codeplex.com but it's issue tracking system (and existence of a discussion forum) are far better than what's offered on GitHub.  GitHub has some catching up to do in this regard.

[2015-02-26 16:19] rkeithhill opened #2375 "Package readme is not automatically opening in VS 2015 CTP6"
I'm loading a package from an internal repo running NuGet.Server 2.8.3.  I see that packages I load from api.nuget.org are opening their readme's correctly.  Hopefully, there will be an update to NuGet.Server that allows it to do this correctly as well - on both VS 2013 and VS 2015.

[2015-02-26 16:32] ebbeflarup commented on #2365
Sorry for the late reply.

ggrnd0, I see your point, but as rkeithhill, I'm not sure about the legal implications of this :)

[2015-02-26 18:21] stephenstroud opened #2376 "String was not recognized as a valid DateTime Visual Studio 2015 CTP 5/6"
Can't install any Nuget Packages - getting the following error, any help would be great.

![nugetissue](https://cloud.githubusercontent.com/assets/7649287/6398547/3fcdb1ae-bde4-11e4-858b-838ddd25a275.PNG)

System.FormatException: String was not recognized as a valid DateTime.
   at System.DateTimeParse.Parse(String s, DateTimeFormatInfo dtfi, DateTimeStyles styles)
   at NuGet.Client.V3.VisualStud

[2015-02-26 18:24] danliu commented on #2376
This is a known issue and the fix is on the way.

[2015-02-27 15:37] stephenstroud commented on #2376
Awesome the update just released (3.0.60225.100) fixed it :+1:

[2015-02-27 15:39] #2376 closed

[2015-02-27 15:41] stephenstroud commented on #2374
The latest update (version 3.0.60.225.100)  just fixed the same issue for me.

[2015-03-02 15:35] dale-wilson opened #2377 "Documentation: Start with the basics"
I've been programming for mumble-mumble  years.  I downloaded the latest visual studio and it has this thing called NuGet.   When check it out, it says:

NuGet is the package manager for the Microsoft development platform including .NET. The NuGet client tools provide the ability to produce and consume packages. The NuGet Gallery is the central package repository used by all package authors and co

[2015-03-03 17:24] angelwang commented on #2372
Not sure if this is the right way, but after clear "Gallery.ServiceDiscoveryUri" key value in the web.config, it does not search the feed in official nugget server anymore, now my private nugget gallery only list internal published packages.

Here is the key, it was pointing to the nugget api:
 <add key="Gallery.ServiceDiscoveryUri" value="https://api.nuget.org/v3/index.json" />

[2015-03-03 17:29] bc3tech commented on #2372
Yup. Did that. haven't tried putting the URL to my existing feed in there though....

[2015-03-05 01:49] adamralph opened #2379 "Replacement of a packages with packages with a differently cased ID causes nuget restore to break"
Yes, it's a bit of a mouthful, and a really bizarre problem. The background can be found at http://adamralph.com/2015/03/04/nuget-gallery-casing-woes/

In short, the original package ID was "Bau.XUnit". All versions of it were then removed by the support team. I then pushed several versions of the package with the ID "Bau.Xunit". The ID of the package seemed to change from "Bau.XUnit" to "Bau.Xuni

[2015-03-05 02:50] eswann opened #2380 "Package statistics don't appear to be updating."
I've recently uploaded 2 new packages and neither have downloads/stats updating.  They should be incrementing some as I know they've been downloaded at least a few times.  Is this down?

[2015-03-05 20:01] xavierdecoster commented on #2379
Just took a quick look at the [FindPackagesById](https://github.com/NuGet/NuGetGallery/blob/master/src/NuGetGallery/DataServices/V2Feed.svc.cs#L94) implementation for a v2 feed: it is actually doing a **case-insensitive** query on package id, so that call will always work after changing capitalization of any character in the package id.

The other call is querying the [Packages](https://github.com

[2015-03-05 20:20] adamralph commented on #2379
Hi @xavierdecoster! Yeah I suspected something like that.

I wonder if there's a way it could be manually hacked to align things.

Alternatively, if you can think of a way to *completely* remove all traces of the package, everywhere, I'd be happy for all version of the package to be removed again, and I can try and re-upload the again?

[2015-03-05 20:52] xavierdecoster commented on #2379
Just did a 'view source' on the failing call:
https://www.nuget.org/api/v2/FindPackagesById()?id=%27Bau.Xunit%27

The failing call clearly returns a package with id Bau.XUnit instead of Bau.Xunit. If all versions of the package with this casing were removed, then the search endpoint is clearly thinking otherwise.

[code]

In addition it also contains an exception.
Adding it here for future referen

[2015-03-05 20:55] adamralph commented on #2379
Yep, I concur. I did a similar analysis.

[2015-03-06 08:16] T-Alex commented on #2380
I have the same problem, my last new 4 packages are without any statistic, but should be, this trouble appeared approximately 3-4 days ago, before this everything was ok.

[2015-03-06 09:14] ButchersBoy commented on #2380
Same here, none of [my packages](https://www.nuget.org/profiles/ButchersBoy) have moved for around four days.

[2015-03-09 18:58] eswann commented on #2380
Automapper's been sitting at 1,651,901 total downloads for ~5 days now.  So yeah that's proof that status aren't updating.

[2015-03-09 19:04] eswann commented on #2380
And as soon as I speak...looks like they have started updating again..... :)

[2015-03-09 23:52] bastianeicher commented on #2379
Not sure the issue is really related to casing at all.

I'm getting the exact same error behavior with my library [NanoByte.Common](http://www.nuget.org/packages/NanoByte.Common/) since I released the last update, and I did not change the case.

Valid XML response: https://www.nuget.org/api/v2/Packages(Id='NanoByte.Common',Version='1.1.5')
XML Response with an exception tacked on (looking just lik

[2015-03-12 11:55] Rast1234 opened #2381 "Downloading a package from nuget.org"
On nuget.org i have "download" button for packages only when logged in. If i have not logged in, i see "How to download" with misleading proclamation __"...there is no download link..."__

I wanted to download a package to unpack it and examine its structure. Because nuget itself downloads packages somehow, i had to google the way to download manually. Why not add download button for everyone (not

[2015-03-13 14:35] cnblogs-dudu commented on #335
`mozroots --import --ask-remove`

[2015-03-15 19:34] phatcher commented on #2348
Have a look at https://github.com/NuGet/NuGetGallery/wiki/Hosting-the-NuGet-Gallery-Locally-in-IIS, also I've recently added a pull request to implement #1297, see #2382 for details

[2015-03-16 06:39] Daniel15 opened #2383 "VS2015 appears as "Unknown" in stats - client name"
Example: https://www.nuget.org/stats/packages/Microsoft.AspNet.Mvc.Core?groupby=Version&groupby=ClientName

All the "Other" downloads appear to be VS2015.

[2015-03-17 19:46] derigel23 commented on #2348
It's still not possible to build project from master branch by build.cmd
I get errors in NuGetGallery project - azure related dll are not resolved (Microsoft.WindowsAzure.ServiceRuntime  & etc). There is no hint path, no Azure targets import, nothing. Do you suppose that Azure SDK should register own dll in GAC?! It didn't.

[2015-03-17 19:49] derigel23 commented on #1951
The build is still not working with installed Azure SDK. See https://github.com/NuGet/NuGetGallery/issues/2348#issuecomment-82565100

[2015-03-17 21:11] asbjornu commented on #2348
@phatcher Azure isn't mentioned on [that tutorial page](https://github.com/NuGet/NuGetGallery/wiki/Hosting-the-NuGet-Gallery-Locally-in-IIS) and as I wrote in #1951, it's not very intuitive to have Azure dependencies in something that won't be hosted on Azure. Will #2383 remedy any of this?

[2015-03-18 08:56] maartenba commented on #2348
We need the Azure SDK dependency for deployments to Azure. Unfortunately, the project model requires some assemblies to be imported. Best is to install Azure SDK 2.4 or 2.5.

[2015-03-18 09:00] maartenba commented on #2229
Fixed with #2259

[2015-03-18 09:00] #2229 closed

[2015-03-18 09:49] derigel23 commented on #2348
I did (Azure SDK 2.4). But it doesn't help as I described in previous comment. Did I miss something?

[2015-03-18 10:12] maartenba commented on #2348
The Azure SDK should add itself to the GAC. I installed http://go.microsoft.com/fwlink/?LinkId=323510 earlier this week and got it running.

[2015-03-18 10:19] DoCode commented on #2348
the same with ef...
update-database on fresh install (vs2013) not working...

[2015-03-18 10:29] derigel23 commented on #2348
Yep, with Microsoft.WindowsAzure.ServiceRuntime all fine now.
[code]

Problem with ***Microsoft.WindowsAzure.Diagnostics*** assembly.
[code]
[code]

[2015-03-18 18:13] irwinj commented on #2371
Same issue here. I wonder if there is a step missing in the readme. I see the nuget.org packages via my custom gallery, and also when I query said gallery via Visual Studio.

[2015-03-18 19:59] yishaigalatzer commented on #2379
@bastianeicher I can see your issue reproducing, but I'm not sure if the root cause is the same. We are going to take a look at both issues.

[2015-03-18 21:47] yishaigalatzer commented on #2379
@adamralph @bastianeicher we are trying to investigate this issue. Looks like in both your scenarios (edits to the package metadata or deleting/readding a package) we might end up with duplicates in our index. We are trying to both cleanup the index and fix the root cause problem.

A simple workaround for now would be to add another version of your packages either in the form of a `-beta-07-0` in

[2015-03-18 22:05] adamralph commented on #2379
Thanks @yishaigalatzer.

Would 0.1.0-beta08 have the same effect? I don't mind increase the beta counter.

[2015-03-18 22:12] yishaigalatzer commented on #2379
Yes it should, let us know if it doesn't.

[2015-03-19 03:50] irwinj commented on #2371
To work around this issue you will need to comment out the Gallery.ServiceDisccoveryUril key. As noted in the web.config, this overrides ALL other Lucene related settings and disables indexing jobs. With this key present you will always use a remote Lucene index and will therefore not be able to see the packages you uploaded via search. Hth!

[2015-03-19 10:23] derigel23 commented on #2348
More details - Microsoft.WindowsAzure.Diagnostics is somehow resolved when project is opened in VS. But not resolved when building from command line (it's resolved after first opening solution in VS, because necessary dll get to bin folder).
How do you build it on CI server?!

[2015-03-19 12:41] jmontanaepa commented on #2380
I've just downloaded one of [my packages](http://www.nuget.org/packages/FakeXrmEasy) 2 times from 2 different computers and statistics are not being updated either... they are kept at 0 :(

[2015-03-19 13:26] devmathews commented on #2380
Been days now and the stats still haven't changed at all. They just remain static. There gotta be a prominent issue with the Package Statistics.

I even emailed NuGet reporting the issue but haven't got any replies yet.

[2015-03-19 14:47] maartenba commented on #2348
Should be resolved from GAC or C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.4\ref\Microsoft.WindowsAzure.Diagnostics.dll

[2015-03-19 14:50] derigel23 commented on #2348
Yep, second case is what I see in VS.
But SDK installer do not register Microsoft.WindowsAzure.Diagnostics in GAC.

[2015-03-19 21:16] adamralph commented on #2379
@yishaigalatzer thank you, uploading beta 8 did the trick - https://www.nuget.org/api/v2/Packages(Id='Bau.Xunit',Version='0.1.0-beta08')

This removes the immediate pressure on me to have this problem fixed :smile:

[2015-03-20 09:27] JamesNK commented on #2364
Sup sushils2k9. You want:

    Update-Package –reinstall Newtonsoft.Json

May the JSON be with you.

[2015-03-21 13:35] bastianeicher commented on #2379
@yishaigalatzer in case this relevant to your investigation of the issue:
I did not edit to the package metadata and/or delete/readd a package prior to running into the problem.

[2015-03-21 13:39] adamralph commented on #2379
That makes we wonder if Bau.Xunit simply suffered from some horrible, and hugely unlikely, coincidence.

[2015-03-21 23:42] Zoltu opened #2384 "Visual Studio 2015 CTP 6: Show from all sources."
As a user, I want an easy way to identify what packages are installed from the GUI.

There does not appear to be a way to tell the new NuGet package manager GUI to show a list of all packages from all sources.  I have 4 package sources and in order to see what packages I have installed or search for a package I have to look through each collection separately.

[2015-03-21 23:46] Zoltu opened #2385 "Visual Studio 2015 CTP 6: Don't page packages.config listing."
The new package UI feels unresponsive due to the lazy evaluation of packages and not showing the list until they are evaluated.

Presumably, the packages.config file is local and can easily be read/parsed in one pass.  When viewing Installed packages however, I get a list with a short scrollbar that has items added to it as I scroll.  This is annoying because I don't know how long the list is and

[2015-03-22 00:13] Zoltu opened #2386 "Visual Studio 2015 CTP 6: Cannot install some packages."
1. Launch VS 2015 CTP 6
1. Create a new class library project.
1. Manage NuGet Packages For Solution.
1. Install xunit
 1. Package source: api.nuget.org
 1. Filter: All
 1. Include prerelease: unchecked
 1. Search box: xunit
 1. Show preview window
 1. Action: Installe
 1. Version: Latest stable 2.0.0
 1. Dependency behavior: Lowest
 1. File conflict action: Propmpt

First signs of a problem appea

[2015-03-23 14:52] ggrnd0 commented on #2384
+1

[2015-03-24 16:26] jozefizso commented on #2379
I have problems with restoring/installing WpfLocalizeExtension package:

[code]

Response contains this invalid XML:

[code]

The `Install-Package WpfLocalizeExtension` run in Visual Studio installs the packages correctly (even if I clear the NuGet cache folder).

[2015-03-24 17:29] jozefizso commented on #2379
Installing the package using `Install-Package` works, but running `Update-Package -Reinstall` will fail:

[code]

[code]

[2015-03-24 17:30] adamralph commented on #2379
This is because the client uses different resources for different operations. E.g. for Bau.Xunit 0.7.0, restoration fails but installation succeeds.

[2015-03-25 18:36] thebrianlopez opened #2387 "Manually creating the SQL database standalone"
I've successfully cloned and built the repo per documentation (thanks :)) however I'm wondering how would one create the SQL database from command line externally from Nuget Package Console.

Looking to get an on-premise CI build going from a private fork i'm working on.

Thanks in advanced and keep up the great work team!

[2015-03-27 00:07] jamesfoster opened #2388 "Visual Studio 2015 CTP6: NullReferenceException"
Unable to install version 1.4 of "DeepEqual" in VS2015 CTP6. Works in VS2013.

Any insight appreciated.

![2015-03-27 04 06 46](https://cloud.githubusercontent.com/assets/194666/6854791/c11e0a02-d436-11e4-8da0-f4311b6e7085.png)

[2015-03-30 15:43] binki commented on #335
Huh, it’d be nice if the error message nuget gives when it fails due to certificate validation issues actually mentioned the SSL cert instead of just `WARNING: Error: SendFailure (Error writing headers)` or `WARNING: CreateZStream` or `Unable to find version '1.1.34-rc' of package 'System.Collections.Immutable'.`. I.e., the connection failure should be an error instead of just a warning. I guess t

[2015-03-31 06:19] yishaigalatzer commented on #2388
Can you paste the actual call stack please?

[2015-03-31 06:25] yishaigalatzer commented on #2385
Thanks for the idea. We are going to take a look at design alternatives here. As a side note please open bugs for Nuget Client on github.com/nuget/home

[2015-03-31 06:29] yishaigalatzer commented on #2379
@jozefizso please don't mix bugs. Open your own :) at [home](https://github.com/NuGet/Home/issues)

[2015-03-31 06:30] yishaigalatzer commented on #2379
@adamralph this should resolve your issue. We we are currently blocking user deletes, and looking for perhaps an obscure race condition based on @bastianeicher. But there is nothing to do here, until we enable a self serve delete at some point in the future.

[2015-03-31 06:30] #2379 closed

[2015-03-31 06:33] yishaigalatzer commented on #2354
Sorry for getting late to this. The gallery is up.

[2015-03-31 06:33] #2354 closed

[2015-03-31 06:34] yishaigalatzer commented on #2355
@maartenba can you please include this change when we push the 2.8.5 update?

[2015-03-31 06:37] adamralph commented on #2379
@yishaigalatzer sorry, I don't understand. What is it that should resolve my issue?

[2015-03-31 06:40] yishaigalatzer commented on #2383
@Daniel15 we looked at this today. That was a cool guess, but not a correct one. Some percentage of the others is indeed VS2015 related restores/installs but not only. We are going to fix the ones that provide us we a proper `user-agent` and we let the ASP.NET 5 team know through https://github.com/aspnet/dnx/issues/1546. Once that issue is fixed a large portion of downloads will get proper taggin

[2015-03-31 06:40] #2383 closed

[2015-03-31 06:43] yishaigalatzer commented on #2322
They are ordered by download count as far as I can tell. Makes sense to me at least, am I missing something?

[2015-03-31 06:45] yishaigalatzer commented on #1873
This falls below the things we want to fix.

[2015-03-31 06:45] #1873 closed

[2015-03-31 06:47] yishaigalatzer commented on #2364
@JamesNK the JSON is strong with you

[2015-03-31 06:47] #2364 closed

[2015-03-31 06:52] yishaigalatzer commented on #2359
We are going to enable deletes of packages at some point. But we actually haven't considered this scenario. I agree with @davidfowl that packages that are published should not be republished with the same name (well maybe until we introduce signing).

But at the same time we want to enable self serve delete for people that say accidentally published confidential information accidentally in their p

[2015-03-31 06:57] yishaigalatzer commented on #2379
Publishing a new package of version 0.8.0, am I missing something?

[2015-03-31 07:06] atatanasov opened #2389 "Can't verify my email"
I can't verify my email, because I not receive a verification email in gmail.
my username in gmail is atatanasov.

[2015-03-31 07:09] adamralph commented on #2379
@yishaigalatzer Thanks, it wasn't clear what you were referring to.

I don't believe this issue is solved. Yes, we have a workaround, but it involves work for consumers, i.e. upgrading to 0.8.0. Any attempts to perform package restore when using 0.7.0 or earlier will still fail, so the situation is far from ideal.

[2015-03-31 07:10] FransBouma commented on #2359
but do these users still have to go through your checks? Because what I don't understand is that it is apparently not me who owns the packages I put on your site: once they're there, you apparently control what happens to them, I don't control them as I can't do with them what I want, e.g. delete when I please. It's not you who carries the responsibility towards the users of my stuff, I do, so why

[2015-03-31 07:23] #2355 closed

[2015-03-31 07:40] maartenba commented on #2355
Fixed with https://github.com/NuGet/NuGetDocs/commit/c0c95edb8f14fef79ef8b1239bfbf39107ed186e (docs) and https://github.com/NuGet/NuGetGallery/commit/5e757678fd8a7a3d966b583003053c9f8922ff74 (enforcing https)

[2015-03-31 09:06] JamesNK commented on #2322
I am talking about the graph, not the table of numbers. I have noticed in the past that the graph sometimes is out of order, showing pre-release versions after the final version.

[2015-03-31 13:10] yukoba commented on #2388
Hello. This is the stack trace.

[code]

[2015-03-31 14:09] yishaigalatzer commented on #2389
Please email support@nuget.org for support calls.

[2015-03-31 14:09] #2389 closed

[2015-03-31 14:11] yishaigalatzer commented on #2322
I see what you mean. It is ordered at the moment, but we should take a look at the code and see if this was fixed already or if there is something else lurking there.

[2015-03-31 14:25] jozefizso opened #2390 "`nuget install WpfLocalizeExtension` fails with "WARNING: Unexpected XML declaration.""
I have problems with restoring/installing WpfLocalizeExtension package:

[code]

Response contains this invalid XML:

[code]

The `Install-Package WpfLocalizeExtension` run in Visual Studio installs the packages correctly (even if I clear the NuGet cache folder).

[2015-03-31 14:25] jozefizso commented on #2390
Installing the package using `Install-Package` works, but running `Update-Package -Reinstall` will fail:

[code]

[code]

[2015-03-31 14:27] yishaigalatzer commented on #2359
@FransBouma sorry you don't follow the need of customers to be able to get the same code the installed in their project (with same version) on every build.

Well our users disagree with you. If dev A publishes a pacakage that I as a user depend on. And you asked him to delete and deploy another package with the same name, and same version. Then the end user has a serious problem.

So you have to u

[2015-03-31 14:28] yishaigalatzer commented on #2379
@adamralph. Yes I agree, we will add at some point proper user level deletes, and we are tracking separately an improvement to the sync mechanism such that deletes don't create duplicates. We will be running a manual re-sync sometimes this week so this index is back in order.

For now we are just not allowing deletes and unlisting is the way to go. (We shouldn't have allowed them anyways through a

[2015-03-31 14:54] FransBouma commented on #2359
I do but it's not about the location of the resource the customer takes the dependency on, but the resource itself, which e.g. can be obtained elsewhere if a particular package is deleted. I don't think it should be the case that whatever is put online on nuget has to stay there forever just because there might be someone somewhere who has a dependency on it and hasn't taking precautions when that

[2015-03-31 15:09] yishaigalatzer commented on #2359
@FransBouma so this is down to a schedule question. We will update here when we have one

[2015-03-31 15:23] FransBouma commented on #2359
Thanks :)

[2015-03-31 15:34] yishaigalatzer commented on #2390
@RanjiniM @johnataylor can we see if this related to the syncing index and database?

[2015-03-31 15:35] yishaigalatzer commented on #2390
@jozefizso can you please tell us what version of Visual studio and nuget client are you using?

[2015-03-31 15:39] jozefizso commented on #2390
I use NuGet.exe version 2.8.50926.602 from command line on build server and Visual Studio 2013 Update 4 Ultime with Nuget Package Manager version 2.8.50926.663.

[2015-03-31 17:27] Zoltu commented on #2385
I'll recreate the issue over there.

[2015-03-31 17:27] #2385 closed

[2015-03-31 17:57] sharmagourav opened #2391 "Error : Key not valid for use in specified state."
I am using Artifactory as NuGet repository to store all the nuget packages.
When we use this Artifactory link as source, the package Manager  in Visual Studio  prompts for credentials and worked very fine.
As soon as we moved to build machine (with out VS) and try to build application it is throwing error :
.nuget\NuGet.targets(100,9): error : Key not valid for use in specified state.

I added sou

[2015-03-31 20:50] deepakaravindr commented on #2386
@zoltu, Created https://github.com/NuGet/Home/issues/320 for tracking this.
Please file visual studio client issues in https://github.com/NuGet/Home/issues

[2015-03-31 20:53] ChrisSfanos commented on #2387
Thanks for submitting this - this is a support request, so please email: support@nuget.org or open a question on StackOverflow

[2015-03-31 20:53] #2387 closed

[2015-03-31 20:57] ChrisSfanos commented on #2377
Please come up with some better content and then assign to Maarten (on nuget.org and v3.nuget.org)

[2015-03-31 20:59] ChrisSfanos commented on #2372
Thanks for the posting - as this is a support issue, can you email support@nuget.org or post a question to StackOverflow - thanks!

[2015-03-31 21:01] ChrisSfanos commented on #2371
Thanks for posting - as this is a support request, please email support@nuget.org or post a question to StackOverflow - thanks!

[2015-03-31 21:03] deepakaravindr commented on #2375
@rkeithhill , Created https://github.com/NuGet/Home/issues/321 for tracking this.
Please file visual studio client issues in https://github.com/NuGet/Home/issues

[2015-03-31 21:03] #2375 closed

[2015-03-31 21:03] #2386 closed

[2015-03-31 21:08] #2371 closed

[2015-03-31 21:10] johnataylor commented on #2058
We have since flattened the negative impact of having more tags. You can have up to 15 tags and not receive any penalty.See code in NuGet.Indexing.CustomSimilarity

[2015-03-31 21:10] #2058 closed

[2015-03-31 21:13] johnataylor commented on #2048
Neither of these return any results - which appears correct. Neither does google find that on our site.

[2015-03-31 21:13] #2048 closed

[2015-03-31 21:14] johnataylor commented on #2041
This is fixed in the V3 indexing work. All V2 deletes are currently broken.

[2015-03-31 21:16] johnataylor commented on #1982
We currently camel split and split on punctuation. We could also split on alpha/numeric boundaries

[2015-03-31 21:17] johnataylor commented on #1365
Site visual bugs are being fixed as part of the v3 gallery development.

[2015-03-31 21:17] #1365 closed

[2015-03-31 21:19] johnataylor commented on #1067
Site issues are being addressed as part of the v3 gallery development

[2015-03-31 21:19] #1067 closed

[2015-03-31 21:21] johnataylor commented on #1308
Site navigation issues are being fixed as part of the v3 gallery development.

[2015-03-31 21:21] #1308 closed

[2015-03-31 21:22] johnataylor commented on #1364
site visual issues are being fixed as part of the v3 gallery development

[2015-03-31 21:22] #1364 closed

[2015-04-01 05:15] zhili1208 commented on #2391
what's the nuget version and visual studio version you are using?

[2015-04-01 05:24] zhili1208 commented on #2374
this is not a gallery issue, will move to NuGet/Home

[2015-04-01 11:00] maartenba commented on #2381
@Rast1234 you could use the excellent NuGet Package Explorer (http://npe.codeplex.com) to search and download NuGet packages and explore their contents.

[2015-04-01 11:07] maartenba commented on #2372
Seems there's some confusion here. The NuGet Gallery has its own set of packages stored in SQL database. When configured, it will build a Lucene index from that database in order to make package downloading fast.

The `Gallery.ServiceDiscoveryUri` and `Gallery.SearchServiceResourceType` settings are used by us to run NuGet.org: with the amount of packages and us running multiple servers, we wanted

[2015-04-01 11:07] #2372 closed

[2015-04-01 13:38] sharmagourav commented on #2391
NuGet Package manager : 2.8.50926.663
Visual Studio 12.0

[2015-04-01 13:48] robertmuehsig commented on #2381
Small Hint, if you are logged and are using Internet Explorer you have a deep link to the NuGet Package Explorer.

![open in package explorer](https://cloud.githubusercontent.com/assets/756703/6942198/36cbdf60-d886-11e4-959b-37364e59a1fd.PNG)

It is limited to Internet Explorer because of some ClickOnce issue in other browsers. The full problem is described here: http://npe.codeplex.com/discussion

[2015-04-01 20:36] ChrisSfanos commented on #2370
Version 2.8.5 will be available by 4/3 - we cannot repro this currently, so can you please try that version.  If it does repro, can you provide more specifics if you can

[2015-04-01 20:38] ChrisSfanos commented on #2366
Please file a bug on Entity Framework - thanks!

[2015-04-01 20:38] #2366 closed

[2015-04-01 20:40] ChrisSfanos commented on #2365
Thanks for posting this - this is a NuGet client bug and we will move this issue to that repo.

[2015-04-01 20:40] #2374 closed

[2015-04-01 20:42] ChrisSfanos commented on #2362
We need a bit more details - can you share the whole .nuspec file so we can get a better idea of what you are attempting - thanks

[2015-04-01 20:42] yishaigalatzer commented on #2365
You can currently restore packages across different sources, this is already supported. If you would like a feature to search across multiple sources, please file an issue request for that at https://github.com/nuget/home/issues

[2015-04-01 20:42] #2365 closed

[2015-04-01 20:46] ChrisSfanos commented on #2361
1. This is now supported - note that the next ASPNET release (currently it's in their dev branch), it will become DNXCore (dotnet cross-platform core).  You'll need at least NuGet 2.8.3.  You need a min client of NuGet 2.8.5 to support projects that contain DNXCore in their packages

2.  Visit the ASP.NET on GitHub (https://github.com/aspnet)

[2015-04-01 20:46] #2361 closed

[2015-04-01 20:53] ChrisSfanos commented on #2357
Thanks for reporting this - at this time, this doesn't meet our bar.

[2015-04-01 20:59] ChrisSfanos commented on #2353
Thanks for posting - we will analyze the failures to see if we can determine the cause.  We will look at client improvements to these types of failures where we can

[2015-04-01 21:00] ChrisSfanos commented on #2352
Thanks for posting - we will analyze the issue and see if we can determine a root cause.  We will also look to improve the client against these types of failures - thanks!

[2015-04-01 21:02] ChrisSfanos commented on #2350
Other teams are working on this type of solution, but we don't have anything we can share - thanks!

Ex: https://github.com/oneget

[2015-04-01 21:06] ChrisSfanos commented on #2348
Maarten - please clarify the steps - thanks!

[2015-04-01 21:07] deepakaravindr commented on #2370
Moved issue to https://github.com/NuGet/Home/issues/331. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:07] #2370 closed

[2015-04-01 21:08] ChrisSfanos commented on #2347
Thanks for posting - can you post this to StackOverflow - that will be the best spot to get an answer on this.  Thanks!

[2015-04-01 21:08] #2347 closed

[2015-04-01 21:10] deepakaravindr commented on #2362
Moved issue to NuGet/Home#332. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:10] #2362 closed

[2015-04-01 21:10] ChrisSfanos commented on #2346
Thanks for posting - sounds like a great idea.  We will look at this for a future version of the Gallery

[2015-04-01 21:11] deepakaravindr commented on #2356
Moved issue to NuGet/Home#333. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:11] #2356 closed

[2015-04-01 21:12] ChrisSfanos commented on #2344
This looks like a proxy/FW issue with your Forefront TMG

[2015-04-01 21:12] #2344 closed

[2015-04-01 21:13] deepakaravindr commented on #2350
Moved issue to NuGet/Home#334. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:13] #2350 closed

[2015-04-01 21:16] ChrisSfanos commented on #2343
Thanks - the team is not seeing any slowness during package download.  Are you still seeing this?  If so, can you share more about your location?

[2015-04-01 21:16] #2343 closed

[2015-04-01 21:17] deepakaravindr commented on #2384
Moved issue to NuGet/Home#335. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:17] #2384 closed

[2015-04-01 21:17] FransBouma commented on #2357
Wait, someone created a PR for you and you still refuse to fix it, even though the PR fixes it? Why? If it takes weeks to fix something, and you're nearing a deadline, sure, but the fix is right there!

[2015-04-01 21:18] ChrisSfanos commented on #2341
For the current NuGet Gallery, it is English only.  For a future version of the Gallery, we can consider making the strings localizable

[2015-04-01 21:20] ChrisSfanos commented on #2340
Thanks for the suggestion - this is something we could consider for a future version of the client

[2015-04-01 21:20] deepakaravindr commented on #2388
Moved issue to NuGet/Home#336. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:20] #2388 closed

[2015-04-01 21:22] ChrisSfanos commented on #2337
Thanks - we've moved everything to a single source

[2015-04-01 21:24] ChrisSfanos commented on #2329
We are looking to improve the mechanism for stats - adding this for future work

[2015-04-01 21:25] deepakaravindr commented on #2340
Moved issue to NuGet/Home#337. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:25] #2340 closed

[2015-04-01 21:28] deepakaravindr commented on #2379
@adamralph , This issue is related to https://github.com/NuGet/NuGetGallery/issues/2328

[2015-04-01 21:31] deepakaravindr commented on #2327
Moved issue to NuGet/Home#338. Please file VS client issues on https://github.com/NuGet/Home/issues

[2015-04-01 21:31] #2327 closed

[2015-04-01 21:33] yishaigalatzer commented on #2357
@FransBouma we missed the fact that you had a PR, reactivating.

[2015-04-01 21:38] ChrisSfanos commented on #2319
Could you post the instructions you are referring to?  We want to make sure we are looking at the same thing you are - thanks!

[2015-04-01 21:40] adamralph commented on #2379
@deepakaravindr thanks for the link!

[2015-04-01 21:43] ChrisSfanos commented on #2317
With a custom query, not all paths are optimized.  This is a core issue with having open-ended OData interface.  We won't be able to add specific optimizations in this type of scenario

[2015-04-01 21:43] #2317 closed

[2015-04-01 22:29] deepakaravindr commented on #2276
This job is not used anymore. We are using SQL Azure Premium

[2015-04-01 22:29] #2276 closed

[2015-04-01 22:31] deepakaravindr commented on #1907
This is not needed anymore

[2015-04-01 22:31] #1907 closed

[2015-04-02 04:15] zfields commented on #2319
I have no idea. I appreciate you taking the time to respond, but original post was five and half months ago...

[2015-04-02 10:02] robertmuehsig commented on #2381
:+1:

[2015-04-02 10:11] maartenba commented on #2319
After spelunking through README and docs, I can confirm that:

* You _may_ replace `nuget.localtest.me`with `localhost`, if you want to develop locally without using SSL.
* You _must_ keep it if you want to develop locally using SSL. Some additional steps are required however: in an ADMIN powershell prompt, run the `.\tools\Enable-LocalTestMe.ps1` file. It allows non-admins to host websites at: `h

[2015-04-02 10:37] maartenba commented on #2348
On all my Windows 8.1 machines with VS2013 and Azure SDK 2.5 it "just works". Not reeally a help, I know, but can't reproduce what you are seeing above. The assembly is not in my GAC either, but the Azure tools for VS2013 seem to be able to resolve the correct path.

Just added a bunch of the steps to `README.md`. @derigel, which commit of the gallery have you downloaded for this? I am suspecting

[2015-04-02 10:38] maartenba commented on #2353
On a side note: we switched to a different CDN provider near the end of february. @cmoore-cimpress, are you still seeing this?

[2015-04-02 11:59] derigel23 commented on #2348
I was trying on 465a222cf016185b38173fb43449429e8303d01f.
To finally build the project I was forced to add Microsoft.WindowsAzure.Diagnostics to the GAC manually.

[2015-04-02 13:30] Rast1234 commented on #2381
:+1:

[2015-04-02 14:19] yishaigalatzer commented on #2343
Feel free to reopen if you still see slowness and specify exactly what is slow.

[2015-04-02 14:41] akoeplinger opened #2392 "Commit url in footer points to git://, should use https:// instead"
The link to the release commit in the footer looks like this:

[code]

Note the git protocol instead of https, if I click on the link my browser doesn't know what to do with it, you should use https instead :)

[2015-04-02 18:38] yishaigalatzer opened #2393 "Version calculator page"
Would be nice to support something similar to http://semver.npmjs.com/

@DamianEdwards cool suggestion

[2015-04-02 18:51] csharpfritz commented on #2393
I like the idea, and I think it would be really cool to be able to click
the versions that I want to include and get the semver notation for that
collection.

Jeff

On Thu, Apr 2, 2015 at 2:38 PM, Yishai Galatzer <notifications@github.com>
wrote:

[2015-04-03 06:31] cnblogs-dudu commented on #2343
@ChrisSfanos In Shanghai, China.

[2015-04-03 06:58] maartenba commented on #2392
Updated it to replace this when building from GitHub.com. Keeping the `git://` if you have a private fork on other source repos.

Will be live with our next deployment. Thanks for the suggestion, @akoeplinger!

[2015-04-03 06:58] #2392 closed

[2015-04-03 06:59] maartenba commented on #2381
Added the download + open in package explorer link for all users:

![1](https://cloud.githubusercontent.com/assets/485230/6979119/0e625770-d9df-11e4-91d2-850f9344d445.png)

Next to the download link, I added a "how-to" link, which gives a quick intro to NuGet:

![2](https://cloud.githubusercontent.com/assets/485230/6979120/1299c238-d9df-11e4-85ef-b5647ffa52eb.png)

Will be live with our next deplo

[2015-04-03 06:59] #2381 closed

[2015-04-03 07:07] maartenba commented on #2324
@RanjiniM I fixed this one last week, feel free to close the issue.

[2015-04-03 13:21] jlouros opened #2395 ""nugetvs" Visual Studio 2015 CTP6 installation failure"
Hi there,

I was trying to install VS 2015 CTP6 yesterday, but for some reason it failed while applying package "nugetvs". On the installation log I have found this following error messages:

**[04E8:06C4][2015-04-02T23:50:38]i000**: MUX:  ExecutePackageBegin PackageId: nugetvs
**[0E30:0BE8][2015-04-02T23:50:38]i301**: Applying execute package: nugetvs, action: Install, path: C:\ProgramData\Packag

[2015-04-03 13:23] #2395 closed

[2015-04-03 13:23] jlouros commented on #2395
Sorry, wrong location.

[2015-04-03 13:49] yishaigalatzer commented on #2343
Tell us some more. Connection speed, what packages are you installing how long does it take. Is it slow now?

[2015-04-03 17:14] yishaigalatzer opened #2396 "Some packages show the wrong license"
e.g. https://www.nuget.org/packages/Telerik.DataAccess.Fluent.Sample/

[2015-04-03 17:23] ericlaw1979 commented on #2396
More specifically, SonaType's license analyzer appears to mark some set of commercial licenses as "Public Domain", exposing dangerously misleading information in both the NuGet website sidebar and the clientside UI shown in Visual Studio.

[2015-04-03 17:25] yishaigalatzer commented on #2396
Thanks @ericlaw1979

[2015-04-06 21:10] academy-jtran opened #2397 "Any way to automated installation?"
Is there a way to automate the installation of NugetGallery to run on a server?    I'm not very familiar with Visual Studio, being only a devops guy but since a lot of the instructions for standing up a NugetGallery server require some manual steps in the VS desktop, what's the likelihood of being able to automate this all via powershell scripts?

[2015-04-07 09:33] maartenba commented on #2393
Also http://semver.mwl.be/#?package=madewithlove%2Felasticsearcher&version=%5E0.1.1

[2015-04-07 11:04] ashic opened #2398 "New version of package shouldn't be returned unless package can be downloaded"
It seems that for a period of time after a package has been updated, a nuget install fails coz it can't download the package. It appears that NuGet installs that don't specify a version number, find the latest metadata, but can't download the package. This might be due to DNS updates, or some other reason.

I'd expect any version info that's returned from the api to be downloadable. It really shou

[2015-04-07 21:35] RanjiniM commented on #2390
On investigation, this package seems to fail only from nuget.org. Installing 2.3 from api.nuget.org (v3 feed) works but fails to install from nuget.org (v2 feed)

[2015-04-08 21:08] jedugas commented on #2280
+1

[2015-04-09 01:40] yishaigalatzer commented on #2398
tracked by this item: https://github.com/NuGet/Home/issues/268

[2015-04-09 01:40] #2398 closed

[2015-04-09 01:41] johnataylor commented on #2390
This is the same issue as we see on MSGReader.

Initial analysis suggests this is caused by duplicate entries in the Lucene index.

[2015-04-09 02:15] yishaigalatzer commented on #2390
@jozefizso we should have a fix shortly for this (this week I hope)

[2015-04-09 02:17] yishaigalatzer commented on #2397
@academy-jtran this is something we would like to get to in the future. we don't have a story for this at the moment.

[2015-04-09 06:14] dsplaisted opened #2399 "In the search results, packages with few downloads should not be ranked higher than canonical packages for a search term"
- [Search for HttpClient](http://www.nuget.org/packages?q=httpclient) - The [second result](http://www.nuget.org/packages/Plasma.HttpClient/) has 34 downloads, while [the “real” package](http://www.nuget.org/packages/Microsoft.Net.Http/), with 5 million downloads, is 9th.  Of the first 8 results, the highest number of downloads for any of them is 1376.
- [Search for ReactiveUI](http://www.nuget.or

[2015-04-09 08:55] maartenba commented on #1502
Relates to #1502, #1886 and #1259 - found out this is a bug in `System.Data.Services` (also described at https://social.msdn.microsoft.com/Forums/en-US/6cc0ef87-80ec-4331-8b41-efb22d8f1c60/odata-provider-with-wcf-40-paging-operations-with-null-parameters?forum=adodotnetdataservices).

Created a pull request with the OData folks - https://github.com/OData/odata.net/pull/149

[2015-04-09 08:56] maartenba commented on #1886
Relates to #1502, #1886 and #1259 - found out this is a bug in `System.Data.Services` (also described at https://social.msdn.microsoft.com/Forums/en-US/6cc0ef87-80ec-4331-8b41-efb22d8f1c60/odata-provider-with-wcf-40-paging-operations-with-null-parameters?forum=adodotnetdataservices).

Created a pull request with the OData folks - https://github.com/OData/odata.net/pull/149

[2015-04-09 08:56] maartenba commented on #1259
Relates to #1502, #1886 and #1259 - found out this is a bug in `System.Data.Services` (also described at https://social.msdn.microsoft.com/Forums/en-US/6cc0ef87-80ec-4331-8b41-efb22d8f1c60/odata-provider-with-wcf-40-paging-operations-with-null-parameters?forum=adodotnetdataservices).

Created a pull request with the OData folks - https://github.com/OData/odata.net/pull/149

[2015-04-09 09:03] maartenba commented on #2398
Relates to https://github.com/fsharp/FAKE/issues/710

[2015-04-09 10:21] maartenba commented on #2390
I have deployed a fix to http://int.nugettest.org, pointing to production data. Can you try using http://int.nugettest.org/api/v2 as the package source and see if this fixes the issue?

[2015-04-09 10:21] maartenba commented on #2379
Also related to #2390 (which now has been fixed)

[2015-04-09 12:26] albertjan opened #2400 "Version unavailable (FAKE 3.27.6)"
When running this command: `nuget install FAKE -nocache`

While this request: https://www.nuget.org/api/v2/FindPackagesById()?$filter=IsLatestVersion&$orderby=Version%20desc&$top=1&id=%27FAKE%27

Tells the client `3.27.6` is the latests version

This request:  https://www.nuget.org/api/v2/Packages(Id='FAKE',Version='3.27.6')

this does return the package: https://www.nuget.org/api/v2/FindPackagesB

[2015-04-09 14:31] albertjan commented on #2400
@forki I was you published a new version but the problem persists.

[2015-04-09 14:37] forki commented on #2400
please pin to 3.27.5 - I don't know whats happening on nuget at the moment. /cc @maartenba

[2015-04-09 19:52] filipw commented on #2400
I can't install FAKE anymore as well

[2015-04-09 19:58] forki commented on #2400
I'm unlisting latest packages in order to reduce the pain.

[2015-04-10 06:53] maartenba commented on #2400
The NuGet index has been rebuilt, listing packages should make them available now (bear in mind the up-to-10-minute delay that is possible).

[2015-04-10 06:57] albertjan commented on #2400
Confirmed, closing:

[code]

[2015-04-10 06:57] #2400 closed

[2015-04-10 07:31] albertjan commented on #2400
@maartenba what is the desired channel to communicate about these kinds of things? And where does nuget comunicate about service interruptions like this. Nuget is an essential part in our daily workflow including deployments. I was a bit frustrating :smile:, a bit more information would have gone a long way in resolving this.

[2015-04-10 08:20] filipw commented on #2400
same here, our builds didn't work and it was an expensive, tangible outage in the develeopment process

[2015-04-10 08:22] forki commented on #2400
I hate to say that, but the only thing we as nuget users can do is to pin the versions. It completely defeats the whole idea of continuous deployment, but at least you don't have day long build failures.

[2015-04-10 08:45] maartenba commented on #2400
@albertjan Good question for @csharpfritz and @yishaigalatzer

[2015-04-10 15:16] yishaigalatzer commented on #2400
We will fix this eventually (and sooner rather than later) But practically almost always you should pin a version.@forki I disagree with you. If its your own package you should test it yourself before uploading to nuget, nuget is not your nightly build repository you should stop using it like that. We use myget or a local feed for that. Prereleases on nuget are for stable pre releases.

[2015-04-10 15:18] forki commented on #2400
Dude, the packages work. It's only the delivery mechanism that's broken.
On Apr 10, 2015 5:16 PM, "Yishai Galatzer" <notifications@github.com> wrote:

[2015-04-10 15:21] yishaigalatzer commented on #2400
About where to communicate - you have a support link on the site, it is faster to reach our emails than a github issue. And we want to augment status.nuget.org. Infact @maartenba is looking at it.

Generally I have a goal to make NuGet.org a LOT more stable and LOT more self service. It's not going to happen overnight. At the moment we are focused mostly on releasing nuget 3.0 with visual studio 2

[2015-04-10 15:23] yishaigalatzer commented on #2400
@forki read my comment. It's not your nightly shares server. Can't force you to stop, but your really should.

[2015-04-10 15:31] forki commented on #2400
Dude we don't provide nightly builds. All these versions solve real world issues (coming in by pull requests), the release notes are manually edited. I start the release process manually.
These are real versions. It's just that we release A LOT and our users like that.

[2015-04-10 15:34] dsyme commented on #2400
Agreed - these are real releases. @forki has found a fantastic methodology and rhythm for incremental, fast turnover, high-quality tool releases, and the adoption rates of FAKE and Paket are going through the roof partly as a result of this methodology.

[2015-04-10 15:37] khellang commented on #2400
If you have an automated system to do your packaging and deployment, and perfectly good code (which people would benefit from) hitting master, why wouldn't you ship it? Even if it means multiple times a day?

About communication; I think what you're saying is really sad, that "it is faster to reach our emails than a github issue". Think about how many people have access to that conversation vs. an

[2015-04-10 15:47] csharpfritz commented on #2400
Some quick numbers and then thoughts:
FAKE has 1337 releases available to the public, with an average of about
110 downloads per version and a high water mark of 2905 downloads for FAKE
3.9.9 that was released in November 2014.

I agree with Yishai, NuGet.org is not a nightly build distribution center.
We can't stop you from deploying as often as you'd like to it, but I
question the value of more

[2015-04-10 15:57] csharpfritz commented on #2400
There's a reason that the Support link doesn't go directly to GitHub
issues: it is intended for that one-on-one private support request.  GitHub
issues house more discussion around features or issues that effect all
users.

We are about to get a lot more transparent in our operations at the
conclusion of our effort for Visual Studio 2015, and Yishai has already
paved the way for a number of signif

[2015-04-10 15:58] dsyme commented on #2400
These are not nightly releases.  They are frequent incremental releases. And Nuget is most definitely a distribution center for frequent incremental releases, isn't it?  If nuget is stressed by frequent releases, then a maximum release rate could be enforced. That's better than asking users to manually moderate their release rate to some unspecified frequency.

But technically speaking nuget shoul

[2015-04-10 16:05] csharpfritz commented on #2400
Don,

No one has said that FAKE is stressing the NuGet services.  We are capable
of handling the volume.

The question is: for the typical developer, is a catalog of more than 1300
releases something valuable to them?  Does there come a point where it
makes sense to unlist older prerelease packages or incremental releases
that should not be used in favor of more modern full-featured releases?

Jef

[2015-04-10 16:10] dsyme commented on #2400
That sounds like something to discuss on github.com/fsharp/FAKE.  But an easy way to unlist old versions would be useful.

[2015-04-10 16:27] khellang commented on #2400
If lots of old packages are a problem for NuGet, maybe it's time to introduce some package retention policy/strategy?

[2015-04-10 16:27] csharpfritz commented on #2400
I completely agree: Lets make it easier for package owners to unlist and remove  older packages.

We have this feature on our roadmap.

Jeff

-----Original Message-----
From: "Don Syme" <notifications@github.com>
Sent: ‎4/‎10/‎2015 9:10
To: "NuGet/NuGetGallery" <NuGetGallery@noreply.github.com>
Cc: "Jeffrey T. Fritz" <jeffreytfritz@gmail.com>
Subject: Re: [NuGetGallery] Version unavailable (FAKE 3

[2015-04-10 16:33] csharpfritz commented on #2400
I'll repeat from a prior message in this thread:  NuGet is more than capable of handling the capacity.

I question the value to the packages consumers of having hundreds of older versions. Yes, we could adopt a policy around it.  This discussion is a step in that direction, as my research indicates that FAKE has by far the most releases in the repository. It's the prime candidate to discuss exactl

[2015-04-10 16:42] forki commented on #2400
thanks @csharpfritz I'm very happy that the issues are not caused by FAKE.
Regarding older packages: Basically nobody is installing FAKE through the gallery.

https://www.nuget.org/stats/packages/FAKE?groupby=ClientName shows:

![image](https://cloud.githubusercontent.com/assets/57396/7092278/9a6ecb50-dfb0-11e4-968f-1a05773a8ea4.png)

It's all Nuget command line and "Other" (which is probably most

[2015-04-10 16:48] robertmuehsig commented on #2400
The average dev will just use the most recent release and I really like the fast release cycle and this is valuable. I don't see this as an issue from FAKE, it is a NuGet.org problem IMO.

Regarding the communication: It is on you to get more community involvement. The lack of a clear roadmap since a year is really disappointing.

[2015-04-10 17:34] cmatskas opened #2401 "Expose an API around the NuGet membership functionality"
It would be great if there was a public API to allow interacting with the membership functionality. Things that I would like to do through the API would include:
- Log in using oAuth or whatever other authentication method is supported
- Manage my account
- List my NuGet packages
- Drill down to a specific package
- Get Package statistics / downloads etc
- AOB you may think

Happy to help with any

[2015-04-10 17:47] yishaigalatzer commented on #2401
@cmatskas thanks for the bug request. You also mentioned something about notifications, can you please share what is on your mind?

[2015-04-10 17:56] yishaigalatzer commented on #2399
@dsplaisted thanks for the suggestions. We are aware of these issues, and we will fix them.

Aside: We are not planning to use bing for this, and we are boosting for downloads, but like you said search is hard and we need to find the time to do it over other things that have higher priority at the moment.

[2015-04-10 18:04] cmatskas commented on #2401
Hi @yishaigalatzer, the push notification were in relation to the mobile app I'm planning to develop around the NuGet API. Ideally we could hook Azure Mobile Services to talk to the API and then send notifications based on certain criteria (new downloads etc). Alternatively we could use other means of mechanism that clients can subscribe in order to receive these notifications.

[2015-04-10 18:11] zhili1208 commented on #2391
your config file looks right, Can you provide your NuGet.target file? I can't repro on my machine

[2015-04-10 18:55] zhili1208 commented on #2391
I checked NuGet.target file, looks like line(100,9) is calling nuget restore command. I can't find where the error message come from. Can you use nuget.exe to restore your package in your build machine?
if there is any error, send the error message to me. thanks

[2015-04-10 18:58] sharmagourav commented on #2391
Thanks for reply zhili1208. Yes , I am able to restore everything using nugget.exe on build machine. But again it is restoring from nugget.org instead of Artifactory location.

[2015-04-10 19:16] zhili1208 commented on #2391
that's good if nuget.org works for you. I can't figure out what's the issue from your description. If you still want to restore from Artifactory location, I can help.
First, make sure you can connect to Artifactory location from your build machine with your username and password, And use nuget config command to set user name and password, then try to use nuget.exe restore package from Artifactory

[2015-04-10 19:31] sharmagourav commented on #2391
Yup , I did the same thing as you mentioned.  I can connect to artifactory using my user name and Password from build server. I added them into nugget config using command line as shown in above image.
But still it is restoring from nugget instead of artifactory.

Yes , I want to restore from Artifactory.

[2015-04-10 19:53] zhili1208 commented on #2391
you can disable the nuget.org source, just left the artifactory source. Then can you restore package?

[2015-04-10 19:55] sharmagourav commented on #2391
then I got this error : .nuget\NuGet.targets(100,9): error : Key not valid for use in specified state.

[2015-04-10 20:01] zhili1208 commented on #2391
for me, it looks like a CryptographicException exception. so if you use clearText password, it still has this error?

[2015-04-10 20:04] sharmagourav commented on #2391
yes. I tried with clearText too . it throws the same error.  Do need to check anything on artifactory side?

[2015-04-10 20:08] zhili1208 commented on #2391
so if it still has this problem. I think this error comes from your server side. http client send the request to your server with the encoded username and password, but the server can't decode it. so got this error. Since I can't repro this on my side, I only can guess what's the issue.

[2015-04-11 00:09] yishaigalatzer commented on #2400
To try and conclude this long thread.

1. @forki is shipping usable stable builds every day. People like it. enough said.
2. NuGet.org had an issue, we could have communicated better about it, and we are going to find a way to do it better. One thought is to make status.nuget.org have a message from the team if something is off. We are trying to find the best way to do it (so that is reliable).
3.

[2015-04-11 01:10] dsyme commented on #2400
That's a really good summary, thanks for posting!

[2015-04-13 01:34] Eilon opened #2402 "Results page uses super tiny font for "Last Published" and "Latest Version""
See picture:

![image](https://cloud.githubusercontent.com/assets/202643/7108674/8b8c3c74-e142-11e4-9880-3134db326486.png)

[2015-04-13 02:25] csharpfritz commented on #2402
There's a new web UI coming, and we'll keep this in mind with the new
results page

Jeff

On Sun, Apr 12, 2015 at 6:34 PM, Eilon Lipton <notifications@github.com>
wrote:

[2015-04-13 03:57] Eilon commented on #2402
<sub>thanks!</sub>

[2015-04-13 15:38] maartenba commented on #2402
Will be better in our next deployment.

[2015-04-13 15:38] #2402 closed

[2015-04-14 15:29] JoshClose opened #2403 "How can I create a NuGet package for Windows Phone 8.1 from a PCL project?"
My PCL project is setup with these targets:

.NET Framework 4
Silverlight 5
Windows 8
Windows Phone 8.1
Windows Phone Silverlight 8
I created the PCL target for my nuspec file using the [NuGet Package Explorer](https://npe.codeplex.com/).

My target looks like this: `lib\portable-net4+sl5+wp8+win8`.

If I create a Windows 8 test project, I can find the latest version of my library in NuGet. If I c

[2015-04-14 21:04] picrap opened #2404 "Encouraging use of strong named assemblies?"
This is a problem I often have, which is NuGet packages containing non-signed (with SNK) assemblies.
Since I have to work with signed assemblies, this excludes a lot of packages (and is very frustrating).
Wouldn't it be good to show warnings on uploads when uploaded libs are .NET assemblies with no strong naming?
So this wouldn't forbid unsigned assemblie, but just make people aware of possible im

[2015-04-14 21:54] yishaigalatzer commented on #2404
We don't plan to do that

[2015-04-14 21:54] #2404 closed

[2015-04-14 21:57] yishaigalatzer commented on #2403
You are missing wpa81 (wpa and wpa81 are synonyms)

Stackoverflow answer is right, and also stackoverflow is the place to post.

Also note this repo is for website issues, all other issues should go to nuget/home repo

[2015-04-14 21:57] #2403 closed

[2015-04-14 22:01] yishaigalatzer opened #2405 "Improve search on the gallery"
We want to tweak search to provide better results overall. This is a place holder bug, please add samples here so when we do the work we can consider many cases at once.

1. Satellite package should stay hidden
2. https://github.com/NuGet/Home/issues/257 - Download count should count a bit more.
3. Can we consider page hits as well? Perhaps using Bing as input

[2015-04-15 01:57] JoshClose commented on #2403
That worked. So essentially any of those single profiles are what is used for the PCL profile too? The documentation on this isn't the greatest.

That right there says it all. Why isn't there a real list of everything NuGet understands?

Sorry if this wasn't the correct place to post. I follow some links around and ended up in a place that said everything was moved to github. I went to post on the

[2015-04-15 01:57] JoshClose commented on #2403
Also, thanks for replying and making things clear for me. :)

[2015-04-15 05:00] robertmuehsig commented on #2404
Regarding the "possible improvements": There were several long Strong Naming discussions in the past and the majority (at least in the OSS world) is against Strong Naming in general. See:
https://github.com/octokit/octokit.net/issues/405
http://strongnamingconsideredharmful.com/

[2015-04-15 05:58] yishaigalatzer commented on #2403
Thanks Josh. We just made home repo public and not all links have been updated yet.

[2015-04-15 07:16] maartenba commented on #2403
Updated all README.md's in our projects to point to the correct URL.

[2015-04-15 12:31] csharpfritz opened #2406 "Index package APIs to enable editor's refactoring features"
Index the capabilities of NuGet packages so that packages can be searched for and installed based on the APIs they contain.

Glenn has a sample site that indexes the ASP.NET 5 packages at:  http://packagesearch.azurewebsites.net/

[2015-04-15 14:06] maartenba commented on #2319
Did this help resolving the issue you saw?

[2015-04-15 18:53] zfields commented on #2319
Are those "additional steps" well documented in the README?

[2015-04-15 19:11] maartenba commented on #2319
Yes.

[2015-04-15 21:53] zfields commented on #2319
Then you have resolved my issue. :-) If it was there before, perhaps you could make it more obvious. Thanks man!

[2015-04-16 05:27] maartenba commented on #2319
Thank you for reporting! (and having a lot of patience :-))

[2015-04-16 05:27] #2319 closed

[2015-04-16 13:06] laktak commented on #2280
:+1:

[2015-04-16 20:31] tushargupta51 opened #2408 "Resetting password on int.nugettest.org"
I am trying to reset password using the "lost password" button in int.nugettest.org. It's giving me this error (image attached)
![capture](https://cloud.githubusercontent.com/assets/803796/7190711/e402d9e2-e43c-11e4-90d3-591fadcedc89.PNG)

I can reset password on nuget.org but resetting that and using the same password to log into int.nugettest.org is not working. Is that even suppose to work? I t

[2015-04-16 21:04] emgarten commented on #2405
Also follow suggestions from: NuGet/NuGetGallery#2399

[2015-04-16 21:04] #2399 closed

[2015-04-16 22:13] tushargupta51 commented on #2408
@emgarten @RanjiniM Thanks for the quick action. To emphasize it more, it is currently a blocker for me. I want to push some packages to int.nugettest.org ASAP. But since I am not able to login, I cannot upload any packages. Is there any workaround?

[2015-04-17 00:55] #2337 closed

[2015-04-17 18:22] RanjiniM commented on #2408
@tushargupta51, this issue should be fixed now. The fix was a config change and everything seems okay now.

[2015-04-17 18:22] #2408 closed

[2015-04-17 18:34] RanjiniM commented on #2380
This issue is fixed now.

[2015-04-17 18:34] #2380 closed

[2015-04-17 18:35] RanjiniM commented on #2329
This issue should be fixed now.

[2015-04-17 18:35] #2329 closed

[2015-04-17 19:56] danliu opened #2409 "Package's project url was saved to V2 database with an extra / at the end"
For example, Elmah package's project url was saved as http://elmah.googlecode.com/, whereas in the nuspec file it is http://elmah.googlecode.com.

This makes open-packagePage -passthru -whatif command returns "http://elmah.googlecode.com/" for V2.

V3 does not have this issue and above command resturns  http://elmah.googlecode.com.

[2015-04-17 21:38] tushargupta51 commented on #2408
@RanjiniM Thanks, I can log in now :)

[2015-04-20 21:07] deepakaravindr commented on #2409
this is won't fix since there is no end user impact and it's hard to fix all the existing data.

[2015-04-20 21:07] #2409 closed

[2015-04-21 05:51] leppie opened #2410 "Dont use Uri unescaping on file paths if you dont escape them back"
Here: https://github.com/NuGet/NuGet.PackageManagement/blob/master/src%2FProjectManagement%2FUtility%2FPathUtility.cs#L175

and just below.

MSBuild use to suffer the same issue, peverify still does.

There is a good reason to use them in filenames; to overcome file system naming limitations.

This is a regression in Nuget 3. It works fine on Nuget 2.

Bug repro: `Install-Package IronScheme`

Resu

[2015-04-21 18:27] bhuvak opened #2411 "Delete Missing packages from database"
We have some packages in nuget.org which exist in database and hence show up in search, but the actual package doesn't exist in blob storage.
There are around 164 of such packages like this. We might have ended in this state either due to an error while upload ( where the entry got added in DB and uploading to azure storage failed ) or it might have been an issue while trying to delete the package

[2015-04-21 20:45] #2410 closed

[2015-04-21 20:53] yishaigalatzer commented on #2323
see http://blogs.msdn.com/b/webdev/archive/2014/10/16/microsoft-asp-net-mvc-security-update-broke-my-build.aspx

[2015-04-21 20:53] #2323 closed

[2015-04-21 20:54] #2324 closed

[2015-04-21 20:56] #2318 closed

[2015-04-21 20:57] yishaigalatzer commented on #2316
Sorry for not getting back to your earlier on this. But all seems fine now

[2015-04-21 20:57] #2316 closed

[2015-04-21 21:02] yishaigalatzer commented on #2314
We are not planning to keep sorting support long term.

[2015-04-21 21:02] #2314 closed

[2015-04-21 21:22] lorrin commented on #2314
Hi @yishaigalatzer , thanks for the update. Will there be an alternate API mechanism for walking through large search results?

[2015-04-21 22:10] RanjiniM opened #2412 "Service discovery index.json for V2 Gallery DEV environment"
Currently we don't have service discovery index.json for DEV environment. We should create one and make it deploy through octopus.

[2015-04-21 22:13] RanjiniM opened #2413 "Convert Worker Role jobs into job exes running on a VM"
Here are the jobs still running in Azure Worker Role. We should move them as exes into our VM.

GenerateDownloadCountReport_DC0_Aug14
GenerateSearchRankings_DC0_Aug14
HandlePackageEdits
RebuildWarehouseIndexes
UpdateLicenseReports

[2015-04-21 22:14] yishaigalatzer commented on #2314
We don't plan on having one at the moment. Can you share what is the scenario for this?

[2015-04-21 22:15] RanjiniM opened #2414 "Have all the v2 and v3 jobs run on INT jobs VM"
Once all v2 jobs are ported to PROD VM, we should make them all run in INT VM against INT DB and INT storage. These jobs should be configured through Octopus as well

[2015-04-21 22:16] RanjiniM opened #2415 "Background jobs consolidation"
Currently our background jobs need to be restarted manually for VM reboots and manually deployed after fixes. Make it automatic through Octopus deployments

[2015-04-21 22:18] RanjiniM opened #2416 "Setup CDN configuration on Azure CDN"
We need to move our CDN configuration to Azure CDN.

[2015-04-21 22:19] RanjiniM opened #2417 "E2E monitoring tests for v2 and v3 data integrity"
We should have a test that tests our v2 and v3 E2E and alerts on any failures

[2015-04-21 22:20] RanjiniM opened #2418 "Clean up unused cloud services, storage containers, and VMs for both V2 and V3"
Need to do an inventory and clean up resources that are not in use anymore

[2015-04-21 22:20] RanjiniM opened #2419 "Consolidate v2 and v3 search service"

[2015-04-21 22:21] RanjiniM opened #2420 "Consolidate ng.exe into one folder all v3 jobs"

[2015-04-21 22:21] RanjiniM opened #2421 "Setup trace listener for v3 jobs"

[2015-04-21 22:22] RanjiniM opened #2422 "INT environment (Website/ Storage Containers/ Jobs VM) for v3"

[2015-04-21 22:22] RanjiniM opened #2423 "Convert DB2Catalog and LightningFastC2R to make it part of Ng commands"

[2015-04-21 22:23] RanjiniM opened #2424 "GetDifferences tool should be run on a daily basis to get the difference between DB and v3 Catalog and Package2Catalog should run on the missing packages to add them to the Catalog"

[2015-04-21 22:24] RanjiniM opened #2425 "Monitoring needed for data missing between Catalog and Registration, Catalog and Lucene"
See https://github.com/NuGet/NuGetGallery/issues/2424 (closed but should address as part of this issue)

[2015-04-21 22:42] RanjiniM opened #2426 "Make all the jobs and VM use secret store"

[2015-04-22 07:22] xavierdecoster commented on #2412
We do have this for DEV, being auto-deployed and verified on the CI.

[2015-04-22 16:29] bhuvak opened #2427 "Deprecate search orderby support based on unsupported fields"
Order by based on fields unsupported by Lucene (such as "LastUpdated"), hits the DB and puts pressure on the DB.
We need to start deprecating such queries and return a 404.

[2015-04-22 16:31] bhuvak opened #2428 "Package restore should not hit the database"
We had a bunch of DB wait time out errors that happened this morning and it turns out to be a timeout error in "FindPackageByIdAndVersion" while restoring a package.
Package restore should get all the required data from Search and should not hit the DB. Looks like a regression. This need to be fixed.

[2015-04-22 17:40] jaldipp opened #2429 "Nuget will not include .deployment file during pack command"
I have a nuspec specified with the following file and during the pack command, fails to include the file.

<file src="UI\.deployment" target=".deployment"/> .

I am able to manually add the file using the GUI.

[2015-04-22 18:08] RanjiniM commented on #2412
Yep, but i believe it is pointing to PROD resources now. The following should be done
1. Update Dev-Index.json to point to Dev resources (Search Service for example)
2. Update Dev gallery to use Dev service discovery URI
3. Create a Dev Lucene container
4. Run all the jobs on Dev-jobs VM
5. Make search service use the new container

[2015-04-22 19:00] RanjiniM commented on #2352
This can't be reprod anymore. In general we have some storage/ CDN issues and that is tracked through https://github.com/NuGet/NuGetGallery/issues/2353 so closing this one.

[2015-04-22 19:00] #2352 closed

[2015-04-22 19:44] RanjiniM commented on #2357
The PR has been merged into master now

[2015-04-22 19:44] #2357 closed

[2015-04-22 20:15] bhuvak opened #2430 "Failover and load testing for V3 endpoints"
We need to do proper failover and load testing for v3 scenarios against v3 endpoints.

[2015-04-23 09:56] maartenba commented on #2422
We have these, ping @maartenba.

[2015-04-23 15:34] dsplaisted commented on #2405
It seems like packages are getting extra credit by having the same terms in the package ID, title, description, and tags.  Perhaps matching the search term in multiple fields of a package shouldn't boost the relevance over just matching the search term once.  For the [System.Net.Http package](http://www.nuget.org/packages/Microsoft.Net.Http/), for example, we wouldn't want to have to name the pack

[2015-04-23 16:24] bhuvak opened #2431 "Reliability: V3 search returns XML error at times"
We have an issue reported on the client side ( not consistent repro) that at times, search from package manager dialog throws exception. This happens since the server returns XML error ( where as the client is trying to parse the json results). On retrying it works fine.
We need to see why this happens. A reliability test (which hits the v3 search end point in a loop with a variety of search queri

[2015-04-23 16:36] bhuvak commented on #2255
This is added to v3 search service.

[2015-04-23 16:36] #2255 closed

[2015-04-23 16:37] bhuvak commented on #2273
Moving it to backlog.

[2015-04-23 16:52] bhuvak commented on #2135
This is fixed.

[2015-04-23 16:52] #2135 closed

[2015-04-23 17:02] bhuvak commented on #2415
I will be working on #2415 and #2413 as part of this. Changing the title to reflect it.

[2015-04-23 17:03] bhuvak commented on #2415
#2414

[2015-04-23 17:04] bhuvak commented on #2414
Will be addressed by #2415

[2015-04-23 17:04] #2414 closed

[2015-04-23 17:05] bhuvak commented on #2413
Will be addressed by #2415

[2015-04-23 17:05] #2413 closed

[2015-04-23 17:11] bhuvak commented on #2148
We need to sync latest database from prod to Int environment for better search/stats testing

[2015-04-23 21:22] johnataylor commented on #2431
Regarding running reliability tests: tests on the search should include changing the data in the underlying index at the same time as hitting the service. This is because unless the data in the index changes the state in the service is pretty much static.

Regarding the bug itself. If it turns out that this is an exception that can't be handled, the exception should be caught and returned to the c

[2015-04-24 16:56] abdullin opened #2432 "Provide Status page for nuget.org indexing"
Folks, thank you for the awesome work you are doing for .NET community. You are the central hub for all our package needs in the entire .NET community. Keep it up!

There is a tiny issue, though.

I published a package today (https://www.nuget.org/packages/MessageVault.Client), version 2.1.0. Build server was unable to pull this version from the nuget.org, saying that the package is not found. Aft

[2015-04-24 18:26] RanjiniM commented on #2411
On comparing DB and storage only 4 records from DB were missing nupkgs on storage and those are cleaned up from DB now.

[2015-04-24 18:26] #2411 closed

[2015-04-24 18:49] RanjiniM opened #2434 "Fix Pacakge hash issues"

[2015-04-27 17:07] johnataylor opened #2435 "TargetFramework filtering in Search does not show correct results"
In particular the TargetFramework filtering does not show some packages that it should according to a more reasonable definition of compatible. For example all packages that have content folders are compatible with all projects at least in this regard.

[2015-04-27 17:10] johnataylor opened #2436 "AutoComplete endpoint in Search only accepts a single TargetFramework"
For performance reasons server round trips could be reduced by allowing the client (the project.json editor) to send multiple TargetFrameworks and receive multiple query responses in a single shot.

Note this is a performance optimization strictly for the network round trip. The server still would have to do two queries internally.

[2015-04-27 17:21] johnataylor opened #2437 "AutoComplete endpoint in Search provides response in (almost) random order"
Given a large number of potential matches (based on ngrams) the query attempts to return results ordered by relevance. However, at least initially, for the first few characters typed, because this is ngram matches the only thing the relevance is judged by is essentially downloads. And downloads only influence the top 250. Otherwise the order is determined by other factors, such as the time the pac

[2015-04-27 17:25] SirCmpwn opened #2438 "Special characters in passwords causes breakage"
I tried to register an account with this password and the app puked: `'yj^0b]'nh*'l{}*=;=^W{<Y`.

[2015-04-27 18:36] bhuvak opened #2439 "Streamline the process around incremental rollouts and staging enviromment"
Currently int.nugettest.org is being used both for internal testing and by external folks. This causes issues since int environment goes down at times. We need to see if we can setup a different environment to point external folks to.
As a part of this, we also need to streamline the process around how we do incremental roll outs for server components ( roll them to staging environment and let the

[2015-04-27 20:10] PleasantD opened #2440 "Automated WebDeploy packaging fails"
We are using a build script to automate the building and packaging of the NuGet Gallery so we can deploy it internally. We were using a ~2 year old checkout of the project and recently needed to update.

I was able to point the main build script to the new location (as all of the build scripts have moved and changed significantly).

We were then calling the "Package" target on the former Website p

[2015-04-27 21:19] johnataylor commented on #2436
Could we validate that this is a performance bottleneck with a real world data set and network setup?

[2015-04-27 21:21] johnataylor commented on #2435
Making this P2 only because this should not impact the protocol with the client just the data returned by the server.

[2015-04-27 21:24] johnataylor commented on #2434
We should add monitoring. This monitoring does not need to be super real-time.

[2015-04-27 21:34] #2390 closed

[2015-04-27 21:37] johnataylor commented on #2353
Thanks for reporting this. We are not seeing this currently.

[2015-04-27 21:37] #2353 closed

[2015-04-27 21:37] #2348 closed

[2015-04-27 21:38] #2377 closed

[2015-04-27 21:43] #2292 closed

[2015-04-27 21:43] #2308 closed

[2015-04-27 21:44] johnataylor commented on #2288
This code has been updated.

[2015-04-27 21:44] #2288 closed

[2015-04-27 21:45] #2263 closed

[2015-04-27 21:45] #2251 closed

[2015-04-27 21:46] #2205 closed

[2015-04-27 21:48] #2309 closed

[2015-04-27 21:49] johnataylor commented on #2202
Thanks for the suggestion, the latest development follows this pattern.

[2015-04-27 21:49] #2202 closed

[2015-04-27 21:50] #2194 closed

[2015-04-27 21:50] #2196 closed

[2015-04-27 21:51] #2192 closed

[2015-04-27 21:53] johnataylor commented on #2305
We would want to always keep the stats.

[2015-04-27 21:53] #2305 closed

[2015-04-27 21:54] johnataylor commented on #2041
We we have consolidated the search services and indexes this should be automatically fixed.

[2015-04-27 21:57] johnataylor commented on #2431
Updating the priority because of potential information disclosue.

[2015-04-27 21:59] johnataylor commented on #2419
this should also fix #2041

[2015-04-27 21:59] #2041 closed

[2015-04-27 22:48] bhuvak opened #2441 "Status.nuget.org shows downtime (service disruption) even for 1 minute"
This will be slightly misleading for end users as even 1 minute of minor service disruption is also shown as downtime.
We need to see if we can put a custom status page ....

[2015-04-27 23:44] RanjiniM opened #2442 "Add monitoring to see difference in hashes (between what is returned by the DB and computed by client)"

[2015-04-28 08:48] maartenba commented on #2441
Relates to https://github.com/NuGet/NuGetGallery/issues/2432 and https://github.com/NuGet/Home/issues/397

[2015-04-28 09:27] ranjittgs opened #2443 "Windows App Certification Kit Test Fails, binary is built in debug mode"
Hi,

Windows phone 8.1 App fails Windows App Certification Kit test (WACK Test).

It is producing below error in Debug configuration test,

The debug configuration test detected the following errors:
 1)The binary Phone.Controls.dll is built in debug mode.

Impact if not fixed:  Windows Phone Store doesn’t allow a debug version of an app.

How to fix:  Please make sure the app isn't linking to any

[2015-04-28 11:48] tubwreck opened #2444 "-PreRelease flag not compatible with specifying a specific version"
My package feed contains the following items:

    myPackage.8.5.0-b000069.nupkg
    myPackage.8.5.1-b000022.nupkg
    myPackage.8.5.1-b000023.nupkg
    myPackage.8.5.0-b000075.nupkg
    myPackage.8.5.0-b000076.nupkg

That is, I'm currently building pre-release builds of two versions of myPackage (8.5.0 and 8.5.1).

I need a nuget.exe command line that will get the most recent prerelease of 8.5.0

[2015-04-28 21:10] bhuvak opened #2445 "Reduce the default segment size in lucene index"
The search service instances goes in to bad state often. We suspect this could be related to the reloading of index and big size of segments file. We need to reduce the default size of the segment file.

[2015-04-28 22:05] johnataylor commented on #2445
Really large segments can fail to load. We should be able to limit the segment size by limiting the count of documents per segment. This code used to work so there is some regression here.

[2015-04-28 22:11] johnataylor opened #2446 "odata queries that refer to lastUpdated should be re-written"
odata queries that refer to lastUpdated should be re-written to refer to lastEdited and created. This is because lastUpdated is changed every time a package is downloaded. This is undoubtedly not what the client making the request intended. And it is also not what we can realistically support in the service as it results in far too much egress from the database.

Memory usage on the database is al

[2015-04-28 22:27] johnataylor commented on #2335
Closing this because there is no know bug here. Maintaining this logic in TSQL means that if we want to extend it, we can easily re-apply it to the historical data with a simple TSQL statement.

[2015-04-28 22:27] #2335 closed

[2015-04-28 22:30] johnataylor commented on #2417
Moving this to the RTM milestone. Perhaps we can just close this as a dup. We have two or three issues tracking monitoring.

[2015-04-28 22:30] #2038 closed

[2015-04-28 22:31] johnataylor commented on #2035
This is address with the deployment of API v3. Closing this issues that tracks the design.

[2015-04-28 22:31] #2035 closed

[2015-04-28 22:34] johnataylor commented on #2412
If this is fixed with your changes from yesterday can you comment and close.

[2015-04-28 22:35] #2032 closed

[2015-04-29 09:13] #2412 closed

[2015-04-29 12:03] gregsdennis commented on #2405
Just another example, do a search for [JSON](https://www.nuget.org/packages?q=JSON), and the results seem to have no order at all.  [Newtonsoft's library](https://www.nuget.org/packages/Newtonsoft.Json) is at the top as expected, but beyond that, there is no rhyme or reason to which items are sorted higher than others.  Based on total downloads, [Manatee.Json](https://www.nuget.org/packages/Manate

[2015-04-29 15:45] yansklyarenko opened #2447 "NuGet.exe 2.8 fails to push the package, while NuGet.exe 2.7 succeeds"
I have a NuGet feed hosted in Inedo's ProGet. When I push a package with NuGet.exe version **2.8.x** (the latest available) larger than 1 MB to that feed, I get the following error:

[code]

The command like I run is simple:

[code]
However, if I run the same command with NuGet.exe version **2.7.x** (latest available), it works just fine!

With the help of Inedo's support team I managed to emulate

[2015-04-29 19:42] johnataylor commented on #2443
Please contact the relevant package owners regarding issues with specific packages.
Thanks.

[2015-04-29 19:42] #2443 closed

[2015-04-29 19:46] #2239 closed

[2015-04-29 19:46] #2238 closed

[2015-04-29 19:50] johnataylor commented on #2237
The replicate stats job is no longer idempotent and not reliably able to recover from failures such as a VM reboot. This is a serious regression but can be easily addressed by resorting the original replicate stats logic. However the performance of the original replicate stats can be improved by making use of some of the batching logic in the newer code.

[2015-04-29 19:52] #2210 closed

[2015-04-29 19:52] johnataylor commented on #2206
We are developing an entirely new gallery code base.

[2015-04-29 19:52] #2206 closed

[2015-04-29 19:53] #1991 closed

[2015-04-29 19:53] #2002 closed

[2015-04-29 19:54] #2000 closed

[2015-04-29 19:55] #1902 closed

[2015-04-29 19:57] #1847 closed

[2015-04-29 20:00] #1802 closed

[2015-04-29 20:00] #1779 closed

[2015-04-29 20:01] #1764 closed

[2015-04-29 20:01] #1751 closed

[2015-04-29 20:08] nvivo commented on #1764
Out of curiosity.  Was this closed because it was implemented or because it was discarded? Didn't see anything different on the website.

[2015-04-29 20:08] #1728 closed

[2015-04-29 20:09] #1386 closed

[2015-04-29 20:10] johnataylor commented on #1212
The results seem reasonable

[2015-04-29 20:10] #1212 closed

[2015-04-29 20:11] johnataylor commented on #1221
The new gallery design shows the id

[2015-04-29 20:11] #1221 closed

[2015-04-29 20:12] #1228 closed

[2015-04-29 20:13] #1219 closed

[2015-04-29 20:13] #1266 closed

[2015-04-29 20:14] johnataylor commented on #1222
this is being considered as one of the improvements to search

[2015-04-29 20:14] #1222 closed

[2015-04-29 20:15] #1218 closed

[2015-04-29 20:17] johnataylor commented on #1215
I don't think this should be returned. How are we supposed to tokenize danliutestpackage without a dictionary.

[2015-04-29 20:17] #1215 closed

[2015-04-29 20:17] #1217 closed

[2015-04-29 20:17] #1214 closed

[2015-04-29 20:18] johnataylor commented on #1184
We have a new gallery design.

[2015-04-29 20:18] #1184 closed

[2015-04-29 20:18] johnataylor commented on #1183
We have a new gallery design.

[2015-04-29 20:18] #1183 closed

[2015-04-29 20:18] johnataylor commented on #1181
We have a new gallery design.

[2015-04-29 20:18] #1181 closed

[2015-04-29 20:18] johnataylor commented on #1188
We have a new gallery design.

[2015-04-29 20:18] #1188 closed

[2015-04-29 20:19] johnataylor commented on #1179
We have a new gallery design.

[2015-04-29 20:19] #1179 closed

[2015-04-29 20:19] johnataylor commented on #1178
We have a new gallery design.

[2015-04-29 20:19] #1178 closed

[2015-04-29 20:19] johnataylor commented on #1177
We have a new gallery design.

[2015-04-29 20:19] #1177 closed

[2015-04-29 20:19] johnataylor commented on #1175
We have a new gallery design.

[2015-04-29 20:19] #1175 closed

[2015-04-29 20:19] johnataylor commented on #1185
We have a new gallery design.

[2015-04-29 20:19] #1185 closed

[2015-04-29 20:19] johnataylor commented on #1174
We have a new gallery design.

[2015-04-29 20:19] #1174 closed

[2015-04-29 20:19] johnataylor commented on #1173
We have a new gallery design.

[2015-04-29 20:19] #1173 closed

[2015-04-29 20:20] johnataylor commented on #1172
We have a new gallery design.

[2015-04-29 20:20] #1172 closed

[2015-04-29 20:20] johnataylor commented on #1171
We have a new gallery design.

[2015-04-29 20:20] #1171 closed

[2015-04-29 20:20] johnataylor commented on #1167
We have a new gallery design.

[2015-04-29 20:20] #1167 closed

[2015-04-29 20:20] johnataylor commented on #1170
We have a new gallery design.

[2015-04-29 20:20] #1170 closed

[2015-04-29 20:20] johnataylor commented on #1168
We have a new gallery design.

[2015-04-29 20:20] #1168 closed

[2015-04-29 20:21] johnataylor commented on #1169
We have a new gallery design.

[2015-04-29 20:21] #1169 closed

[2015-04-29 20:21] #1198 closed

[2015-04-29 20:21] #1209 closed

[2015-04-29 20:22] #1193 closed

[2015-04-29 20:22] johnataylor commented on #1294
We have a new gallery design.

[2015-04-29 20:22] #1294 closed

[2015-04-29 20:22] #1211 closed

[2015-04-29 20:22] #1205 closed

[2015-04-29 20:22] #1192 closed

[2015-04-29 20:23] #1207 closed

[2015-04-29 20:23] #1206 closed

[2015-04-29 20:23] #1078 closed

[2015-04-29 20:24] #1226 closed

[2015-04-29 20:24] #905 closed

[2015-04-29 20:24] johnataylor commented on #786
We have a new gallery design.

[2015-04-29 20:24] #786 closed

[2015-04-29 20:26] johnataylor commented on #14
We have a new gallery design and infrastructure that addresses this.

[2015-04-29 20:26] #14 closed

[2015-04-29 20:28] #182 closed

[2015-04-29 20:29] johnataylor commented on #167
Great idea Xavier. Let's add more validation to the publish service. And we probably want a more sophisticated protocol between the publish service and the new gallery.

[2015-04-29 20:32] johnataylor commented on #702
Its not clear that these should be regarded as errors at all. So what are they doing in the error trace in the first place. Closing this because we have a new gallery. We can deal with the noise in the v2 logs, its not a big concern.

[2015-04-29 20:32] #702 closed

[2015-04-29 20:42] RanjiniM commented on #2442
A monitor has been added for this. It will run on a weekly cadence.

[2015-04-29 20:42] #2442 closed

[2015-04-29 20:45] johnataylor commented on #1764
Discarded for now. We have a lot of old open issues and also a new gallery design that is quite developed.

[2015-04-29 21:00] johnataylor commented on #2310
We have another bug tracking this.

[2015-04-29 21:00] #2310 closed

[2015-04-29 21:00] johnataylor commented on #2435
#2310

[2015-04-29 21:07] johnataylor commented on #2328
closing this issue here as its is covered by the consolidation issue.

[2015-04-29 21:07] #2328 closed

[2015-04-29 21:08] RanjiniM commented on #2434
This has been fixed now.

[2015-04-29 21:08] #2434 closed

[2015-04-29 21:10] johnataylor commented on #2419
and fix this #2328

[2015-04-29 21:14] johnataylor opened #2448 "search can show packages that are not yet available in the dnx feed"
The search index creation should use a cursor that is dependent directly or indirectly on the dnx blob creation.

The impact is that without this the user might be able to find packages in search that don't yet exist in the dnx folder structure.

(Moving this issue from nuget/home)

[2015-04-29 21:16] johnataylor opened #2449 "search can show packages that are not yet available in the dnx feed"
The search index creation should use a cursor that is dependent directly or indirectly on the dnx blob creation.

The impact is that without this the user might be able to find packages in search that don't yet exist in the dnx folder structure.

(Moving this issue from nuget/home)

[2015-04-29 21:16] #2449 closed

[2015-04-29 21:17] johnataylor opened #2450 "dnx feed dropping packages that miss-name nuspec file"
Some of the nuspec files in the packages fail because they do not follow the stated convention of .nuspec

the issue is that the client is actually more forgiving.

the dnx job should follow the implemented client behavior for these packages and look for any file that ends with nuspec in the root of the zip (and presumably if it finds more than one - use the .nuspec convention)

(Moving this issue

[2015-04-29 21:19] johnataylor opened #2451 "Feature Request: New API which returns all direct dependencies for all package versions"
In http://fsprojects.github.io/Paket/resolver.html I describe how Paket's resolver works. It basically needs two Nuget API's in order to work.

I assume we could improve the resolver performance if NuGet would provide an Api which would return all versions + all direct dependency requirements for all package versions for a package.
Currently we need to call the NuGet feed for every single package

[2015-04-29 21:23] johnataylor opened #2452 "Search auto complete service should not be case-sensitive"
Found that using the autocomplete search endpoint, the service is case-sensitive.

For example: autocompletion for
microsoft.aspnet vs. Microsoft.AspNet
testpackage vs. TestPackage

returns different results.

Talked to Scott and this is related to the tokenization of the query string and the search indexes.

We should probably improve the logic by adding lower-cased tokens to the existing search

[2015-04-29 21:46] johnataylor commented on #2034
not seeing any 500 on these queries now

[2015-04-29 21:46] #2034 closed

[2015-04-29 21:47] johnataylor commented on #2026
confirmed this still shows no results

[2015-04-29 21:48] #1868 closed

[2015-04-29 21:51] johnataylor commented on #1752
We now show packages that only have pre-release versions. When you navigate to the package its very clear.

[2015-04-29 21:51] #1752 closed

[2015-04-29 21:53] johnataylor commented on #1711
closing as we have dup

[2015-04-29 21:53] #1711 closed

[2015-04-29 21:53] johnataylor commented on #2322
#1711

[2015-04-29 21:54] johnataylor commented on #1722
we have a new gallery design.

[2015-04-29 21:54] #1722 closed

[2015-04-29 21:55] johnataylor commented on #1693
We will be implementing a delete package feature soon.

[2015-04-29 21:55] #1693 closed

[2015-04-29 21:56] johnataylor commented on #2359
#1693

[2015-04-29 22:00] johnataylor commented on #1984
Spell correcting on id is difficult. Though we might be able to do something with ngrams in the search box

[2015-04-29 22:02] johnataylor commented on #1888
We have a new gallery implementation where branding is more first class. closing this bug as we won't be enhancing this on the existing gallery.

[2015-04-29 22:02] #1888 closed

[2015-04-29 22:02] #1951 closed

[2015-04-29 22:03] #1754 closed

[2015-04-29 22:03] #1753 closed

[2015-04-29 22:03] #1801 closed

[2015-04-29 22:03] #1809 closed

[2015-04-29 22:05] #1550 closed

[2015-04-29 22:05] #1460 closed

[2015-04-29 22:06] johnataylor commented on #1473
we have a new gallery design.

[2015-04-29 22:06] #1473 closed

[2015-04-29 22:08] johnataylor commented on #559
Our new API v3 takes a different approach.

[2015-04-29 22:08] #559 closed

[2015-04-29 22:14] #595 closed

[2015-04-29 22:16] johnataylor commented on #1045
Closing as we have not had a specific customer ask for this. Or any comment on this issue which has been open a while.

[2015-04-29 22:16] #1045 closed

[2015-04-29 22:16] #941 closed

[2015-04-29 22:51] JamesNK commented on #2322
Screenshot of it happening for Newtonsoft.Json:

![image](https://cloud.githubusercontent.com/assets/303201/7403135/cc9a077c-ef26-11e4-89f4-8e1e3e28fa85.png)

[2015-04-30 18:55] johnataylor commented on #2277
This is surely out of date?
Perhaps we need issues on monitoring the health of indexes and jobs that trigger index rebuilds. But this issue on actually rebuilding is neither of those.

[2015-04-30 18:55] #2277 closed

[2015-04-30 19:40] forderud opened #2453 "Add NuGet dependency to project from command line"
I am in need for a scriptable way to add NuGet package dependencies to auto-generated C++ vcxproj projects generated by a project-file generator, like CMake or QMake.

The package manager console seem to offer "Install-Package" for doing this, but I've been unable to script this function outside of visual studio.

[2015-04-30 20:45] #2391 closed

[2015-04-30 20:47] deepakaravindr commented on #2444
Duplicate of https://github.com/NuGet/Home/issues/503. Thanks!

[2015-04-30 20:47] #2444 closed

[2015-04-30 20:53] deepakaravindr commented on #2429
This is by design, since we ignore all files that start with a dot. Thanks!

[2015-04-30 20:53] #2429 closed

[2015-04-30 20:57] forderud commented on #2453
Moved to https://github.com/NuGet/Home/issues/509

[2015-04-30 20:57] #2453 closed

[2015-04-30 21:01] RanjiniM opened #2454 "Need to collect data on package push to nuget.org"
1. Version of the client pushing the package
2. Size of the package

[2015-04-30 21:18] johnataylor commented on #2289
This is by design

[2015-04-30 21:18] #2289 closed

[2015-04-30 21:20] #2148 closed

[2015-04-30 21:26] johnataylor commented on #2446
#2427

[2015-04-30 21:27] johnataylor commented on #2427
#2446

[2015-04-30 21:27] #2427 closed

[2015-04-30 21:41] johnataylor commented on #2037
There was a bug with the replication stats feature. This should now be fixed. The search is always a few downloads behind. This could be up to 24 hours behind.

[2015-04-30 21:41] #2037 closed

[2015-04-30 21:44] johnataylor commented on #1959
If this repo's on NuGet.org this is quite poor behavior and should be fixed. Even for v3 feed in RTM milestone we still use the same publish path through the gallery.

[2015-04-30 21:46] johnataylor commented on #1937
This is the old gallery code on an old browser. Closing.

[2015-04-30 21:46] #1937 closed

[2015-04-30 21:47] johnataylor commented on #1875
This is the old gallery on and old browser.

[2015-04-30 21:47] #1875 closed

[2015-04-30 21:50] johnataylor commented on #1808
this is the old gallery on and old browser. Closing

[2015-04-30 21:50] #1808 closed

[2015-04-30 21:53] johnataylor commented on #1837
We are tracking this issue with #2396
Closing this one.

[2015-04-30 21:53] #1837 closed

[2015-04-30 21:53] johnataylor commented on #2396
#1837

[2015-05-01 15:06] #1932 closed

[2015-05-01 15:12] johnataylor commented on #1874
We should consider this for the new gallery.

[2015-05-01 15:16] johnataylor commented on #1892
This currently seems to build fine on VS13. Closing as won't fix, however because I haven't tested on all possible permutations of VS 11/13/15

[2015-05-01 15:16] #1892 closed

[2015-05-01 15:24] johnataylor commented on #1836
This sounds like a Pri 1. Bug for packages upload from the command line. Can you confirm?

[2015-05-01 15:26] johnataylor commented on #1805
We need much better validation.
Perhaps we can collect all the validation gaps under a single validation issue?

[2015-05-01 15:27] johnataylor commented on #1804
We need much better validation.

[2015-05-01 15:33] johnataylor commented on #2396
Please also consider #1705

[2015-05-01 15:36] johnataylor commented on #1705
This issue assumes the Sonatype license information mechanism is working robustly which is currently doesn't appear to be. Closing this as Won't Fix.

[2015-05-01 15:36] #1705 closed

[2015-05-01 15:37] johnataylor commented on #1640
We need much better validation.

[2015-05-01 15:38] #1859 closed

[2015-05-01 15:41] johnataylor commented on #2435
#1815

[2015-05-01 15:41] johnataylor commented on #1815
We are tracking target framework issues elsewhere.

[2015-05-01 15:41] #1815 closed

[2015-05-01 15:44] #2018 closed

[2015-05-01 15:45] johnataylor commented on #1736
Understanding and addressing our database load has become a priority.

[2015-05-01 16:17] johnataylor commented on #1998
nice idea but this is not critical path and there is less database going forward anyhow. closing.

[2015-05-01 16:17] #1998 closed

[2015-05-01 16:21] johnataylor commented on #2415
#2336
#2332

[2015-05-01 16:22] #2336 closed

[2015-05-01 16:23] #2332 closed

[2015-05-01 16:26] johnataylor commented on #1967
Using Markdown seems like a bad mistake. Brokering all this email in the first place seems like another bad mistake.

But given we've got this currently running, it should at least work. Perhaps there is a minimal fix we can drop in here. Otherwise we should close this as won't fix.

[2015-05-01 22:55] johnataylor commented on #2446
An alternative implementation is to simply stop updating LastUpdated when download counts change. The impact would only be for local Lucene indexes.

We could make this configurable in the App_Start by providing an alternative implementation of the AggregateStatistics stored procedure and deciding which one to use according to the requirements of search (as to whether it is an internal or external

[2015-05-03 08:19] forki opened #2455 "NuGet.org rejects package even when Package Explorer finds no issues"
As https://github.com/fsprojects/Paket/issues/812 shows we can create a nupkg that looks good (at least for the Package explorer), but NuGet.org is rejecting it with Server Error 500 (no details).

Repro:
* clone https://github.com/fsprojects/FsReveal/tree/develop
* run build.cmd NuGet

If I extract the nupkg then there are subfolders in reveal.js folder but package explorer is not showing these f

[2015-05-03 08:20] forki opened #2456 "If NuGet.org rejects a package with Error 500 it should show details"
This wouldhelp to solve https://github.com/NuGet/NuGetGallery/issues/2455

[2015-05-04 18:20] bhuvak opened #2457 "Add appinsights to V2 Gallery"

[2015-05-04 18:20] bhuvak opened #2458 "Update V2 Gallery to MVC 5"

[2015-05-04 20:57] deepakaravindr commented on #2304
Duplicate of https://github.com/NuGet/Home/issues/526

[2015-05-04 20:57] #2304 closed

[2015-05-04 20:58] yishaigalatzer commented on #2455
1. The package seems to be missing a nuspec file (at least from the screenshot).
2. Tried to clone and build, build fails. Can you please take a look?

![image](https://cloud.githubusercontent.com/assets/1238711/7462360/a80bacde-f265-11e4-9942-20705b63f891.png)

[2015-05-04 21:00] yishaigalatzer commented on #2456
A website should never reveal details about 500s. It is useful for us (site developers) but a vulnerability when shared with the world.

[2015-05-04 21:00] #2456 closed

[2015-05-04 21:17] forki commented on #2455
Ah sorry it's on the develop branch.
On May 4, 2015 10:59 PM, "Yishai Galatzer" <notifications@github.com> wrote:

[2015-05-04 21:24] forki commented on #2456
Ok but it would still be nice to understand the issue of the package.
On May 4, 2015 11:00 PM, "Yishai Galatzer" <notifications@github.com> wrote:

[2015-05-04 21:37] johnataylor commented on #2456
Yes absolutely, regarding #2455 we will be improving the validation and it should be returning 400.
But 500 is the wrong error code to return this information on that's all. The information on the 500 we'll get in our trace.

[2015-05-04 21:43] yishaigalatzer commented on #2455
The develop branch builds a `0.7.2` version of FsReveal. Can you help by stashing a package somehwere where we can get to it directly?

[2015-05-05 06:02] forki commented on #2455
yes of course. Should have done this from the beginning.

https://github.com/fsprojects/FsReveal/blob/invalid/FsReveal.0.7.4.nupkg?raw=true

The screenshot is only showing a subfolder in the package. The nuspec is one level up.

[2015-05-05 06:17] forki opened #2459 "SSL error on https://preview-search.nuget.org/search/autocomplete"
If I ask http://preview.nuget.org/ver3-preview/index.json for the autocomplete service I get:

     {
     "version": "3.0.0-preview.1",
     "resources": [
      {
       "@id": "https://preview-search.nuget.org/search/query",
       "@type": "SearchQueryService"
      },
      {
       "@id": "https://preview-search.nuget.org/search/autocomplete",
       "@type": "SearchAutocompleteService"

[2015-05-05 08:03] ParagNaikade opened #2460 "Nuget package element is not declared"
When i open packages.config, visual studio gives the warning as " package element is not declared". I resolved the issue by adding xml schema to the global location where visual studio is installed.e.g.C:\Program Files (x86)\Microsoft Visual Studio 10.0\Xml\Schemas
 But is there any nuget package which automatically adds this schema to packages folder so that  the visual studio solution will refer

[2015-05-05 19:19] bhuvak commented on #2455
@forki , is the package created using NuGet "pack" command ? I am seeing an error due to invalid zip entry (for reveal.js\css). I am looking more into it, but wanted to quickly check if it is manually zipped as nuget package ?

[2015-05-05 20:22] forki commented on #2455
thanks for looking into it. The package was built using "paket pack". But
paket is only using . NET zip functionality  and the package extracts
correctly. So it's strange that you see invalid zip entries.

Our general issue is more that we don't have a good way to check what's
wrong with a given package. I really appreciate that you take the time to
look into this. But even if we get this fixed we

[2015-05-05 20:50] davidfowl commented on #2455
Are you putting in all of the opc goop?

[2015-05-05 20:54] johnataylor opened #2461 "License Names missing from Feed2Catalog"
The Feed2Catalog job should also include any License names (and associated fields) when it creates a catalog entry.

[2015-05-05 20:56] forki commented on #2455
?

[2015-05-05 21:37] bhuvak commented on #2455
The sub folders "css","js","test","lib","plugin" and "test" inside "reveal.js" folder  has "\" as path separator instead of "/".During package upload we ensure that "/" is used as separator to support non-windows OS.
That's the reason why opening the package in package explorer doesn't show those folders. The same happens while trying to "install" it using nuget.exe.
I tried packing the contents u

[2015-05-05 22:10] yishaigalatzer commented on #2455
@forki you are supposed to pack with OPC rather than zip APIs. Look at nuget.exe pack functionality.

[2015-05-06 05:59] forki commented on #2455
@bhuvak thanks a lot.

[2015-05-06 05:59] #2455 closed

[2015-05-06 10:20] forki opened #2463 "AutoCompleteService fails"
![image](https://cloud.githubusercontent.com/assets/57396/7491500/490dcfd8-f3ea-11e4-85b5-7658085a6372.png)

[2015-05-06 10:22] forki commented on #2463
I "discovered" the link from https://api.nuget.org/v3/index.json

[2015-05-06 10:27] maartenba commented on #2463
We're on it. An index is being rebuilt. /cc @bhuvak

[2015-05-06 10:30] forki commented on #2463
Thanks for fast response.

/cc @Krzysztof-Cieslak

[2015-05-06 12:44] forki commented on #2463
Do you know how long this takes?

[2015-05-06 12:45] maartenba commented on #2463
https://api-v3search-0.nuget.org/autocomplete is back

[2015-05-06 12:45] forki commented on #2463
thanks

[2015-05-06 12:45] #2463 closed

[2015-05-06 14:20] amastaneh commented on #438
+1

[2015-05-06 15:26] bhuvak commented on #2447
Moving to home repo. Closing this one.

[2015-05-06 15:26] #2447 closed

[2015-05-07 17:53] mrchief opened #2464 "project.lock.json is not updated after adding a new package"
Currently using VS 2015 RC, NPM v3.0.60410.213.

When I add a new package (vNext Web Project), it modifes `project.json` with the new package. However, the `project.lock.json` file is not modified with the new package information.

This results in a Build error saying xyz package is not resolved.

If manually make a dummy change (add a space, delete it) in `project.json` file and save it, `project

[2015-05-07 18:05] mrchief commented on #2464
Ok, at the risk of sounding insane, I think the package manager took offense after I created this issue. Either that or something I did caused it to awake from its slumber. It seems to be updating `project.lock.json` now.

Its weird since I spent few hours banging my head over this and now "it just works"!

[2015-05-07 18:05] #2464 closed

[2015-05-07 21:17] johnataylor commented on #2446
We are going to skip doing this for now as we have stopped updating LastUpdated for every download.

[2015-05-07 21:17] #2446 closed

[2015-05-07 21:34] johnataylor commented on #2459
Please use http://api.nuget.org/v3/index.json
We've been testing the RC release with this feed. We are not actively working on the preview feed.

[2015-05-07 21:34] #2459 closed

[2015-05-07 22:24] RanjiniM opened #2465 "Fix dashboard alerts for background jobs to alert on failures and bugs in the jobs"

[2015-05-07 22:25] RanjiniM opened #2466 "Add region level redundancy for all our v2/ v3 assets and keep them up-to-date"

[2015-05-07 22:28] RanjiniM opened #2467 "Add process recycle to all the jobs based on frequency/ conditions"
In addition look into
1. Mutex for these jobs
2. For issues detected through heart beat, kill the job safely and restart

[2015-05-07 22:29] RanjiniM opened #2468 "Add reliable backup strategy for Lucene Indexes"

[2015-05-07 22:29] RanjiniM opened #2469 "Make Stats Replicator job idempotent"

[2015-05-07 22:30] RanjiniM opened #2470 "Investigate larger VMs for jobs"

[2015-05-07 22:31] RanjiniM opened #2471 "Reduce run time for v3 lucene index creation"

[2015-05-07 22:46] johnataylor commented on #2467
We should try heart beat via tracing instead of something more active. And then couple the monitoring of the heart beat to the tracing. i.e. look for a particular trace entry at a regular interval.

The first step to the timed kill is to integrate the Cancellation framework.

[2015-05-08 06:51] forki commented on #2459
yep. thanks.

[2015-05-08 18:51] bhuvak opened #2472 "Provide a private feed in nuget gallery for users to stage their nuget packages before publishing"
This will help retire staging.nuget.org

[2015-05-10 18:32] jherby2k opened #2473 "Can't install profile 238 nuget package into Xamarin.iOS project using Nuget 3.0"
Newtonsoft.Json for example fails to install in Xamarin.iOS using VS2015 RC, but works fine in Visual Studio 2013. The error is:

Could not install package 'Newtonsoft.Json 6.0.8'. You are trying to install this package into a project that targets 'Xamarin.iOS, Version=v1.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more

[2015-05-11 10:48] RIldefonso opened #2474 "Nuget console insists to install a error package"
Hi, people.
 I tried to install Punch (https://www.nuget.org/packages/IdeaBlade.Cocktail/) using the NuGet console in my VS 2013 Ultimate update 4 and the install didn't work. It complained about the version of .Net, informing that the necessary version was not presente. I am using Win8.1 and updates are automatics...

 Ok... I gave up to test this package (if it started wrong, it will be wrong ev

[2015-05-11 20:40] bhuvak opened #2475 "V3 search index doesnt have unlisted packages"
Looks like V3 search index doesnt have unlisted packages.
We need to change it as part of V2/v3 consolidation.

[2015-05-11 21:10] johnataylor commented on #2461
These are added now. When a catalog is recreated they should be there.

[2015-05-11 21:10] #2461 closed

[2015-05-12 19:05] RanjiniM commented on #2469
Tracked by https://github.com/NuGet/NuGetGallery/issues/2237

[2015-05-12 19:05] #2469 closed

[2015-05-12 23:11] danliu opened #2476 "ReportAbuseUrl returned by V2 and V3 feed is different"
for V2 - it's https://www.nuget.org/Package/ReportAbuse/elmah/1.1.0

for V3 - it's https://www.nuget.org/packages/elmah/1.1.0/ReportAbuse

V3 is the correct URL that actually works, also the V2 URL is redirected to it. We should fix the V2 Url to return the right one.

[2015-05-13 20:48] emgarten commented on #2474
You likely have an init.ps1 file in your packages folder that is triggering this. Try removing those and checking if this resolves your issue.

[2015-05-13 20:49] emgarten commented on #2473
Duplicate of https://github.com/NuGet/Home/issues/562

[2015-05-13 20:49] #2473 closed

[2015-05-13 20:49] #2472 closed

[2015-05-13 20:50] emgarten commented on #2472
Let's not track planning in bugs.

[2015-05-13 20:53] emgarten commented on #2460
This is the expected behavior currently.

[2015-05-13 20:53] #2460 closed

[2015-05-13 21:44] #1733 closed

[2015-05-13 21:44] #1734 closed

[2015-05-13 21:44] #1735 closed

[2015-05-13 21:44] #1736 closed

[2015-05-13 21:44] #1737 closed

[2015-05-14 08:11] ParagNaikade commented on #2460
You mean the warning  " package element is not declared" which is coming, is expected behaviour??

[2015-05-14 20:23] bhuvak opened #2477 "Add retry in monitoring jobs for server time outs"

[2015-05-15 01:26] yishaigalatzer commented on #2440
Rename the target files? Unfortunately doesn't look like there is much we can do about it for now.

An alternative is to use Kudu or another solution other than web deploy.

[2015-05-15 01:26] #2440 closed

[2015-05-15 01:27] #2474 closed

[2015-05-15 18:32] bhuvak opened #2479 "Measure E2E latency in V3"
We need to measure the time it takes for a newly uploaded package to appear in catalog --> Lucene --> Registration blob and when it is available for download via V3 endpoint. There should be some bench mark around it and we need to see if we are meeting those requirements.

[2015-05-15 18:34] bhuvak opened #2480 "Search /find endpoint returns null ref exception"
https://api-v3search-0.nuget.org/find?id=westwindwebsurge&version=0.86.0 --> Return null ref
while the package is actually found in reg. blobs : https://api.nuget.org/v3/registration0/westwindwebsurge/0.86.0.json

It could be an issue in find endpoint or an issue in indexing job where the package is missing in the index. Need to look more in to it.

[2015-05-15 18:42] bhuvak commented on #2480
Similarly https://api.nuget.org/v3/registration0/diginari.helpers/1.0.3.json

[2015-05-18 06:48] maartenba commented on #2457
Linking "adding appinsights for telemetry #2478"

[2015-05-18 06:59] ashwindersingh opened #2481 "Unable to add Pdb file for the Referenced projects"
I have Project A which is depend on the Project B and Project C. I am trying to Create Nuget for the Project A, I want to include the dll and Pdb files from the Project B and Project C. I am running below command for creating nuget package with Pdb symbols.

nuget.exe pack ProjectA.csproj -IncludeReferencedProjects -Symbols.

But after running this command, I am getting the below error

NuGet.Comm

[2015-05-18 12:39] fenixbrood opened #2482 "Find namespaces or using statesment"
I'm looking for a way to find witch namespaces are included in what package. As a primarily C#/XAML developer. I find my self looking for a package (or multiple) that extends objects or types. Sometimes i copy samples from the web and I don't have the right namespaces. and then i have to start Google/Bing for it. I'm looking for an easier way to find packages that i want without leaving the coding

[2015-05-18 12:41] csharpfritz commented on #2482
This functionality is available in Visual Studio 2015 RC.  Type a reference
to an object and you will be presented with a lightbulb in the left gutter
that you can use to install a package and add that reference.

Also, we have been experimenting with the site:
http://packagesearch.azurewebsites.net/

Jeff

On Mon, May 18, 2015 at 8:39 AM, fenixbrood <notifications@github.com>
wrote:

[2015-05-18 12:45] fenixbrood commented on #2482
Nice! Exactly What Im looking for!

[2015-05-18 12:45] #2482 closed

[2015-05-19 05:21] danroth27 opened #2483 "Provide a more descriptive error message when uploading a package without a description"
If I try uploading a package without a description or an author then I get the following generic error:

![package-upload-failed](https://cloud.githubusercontent.com/assets/1874516/7695943/1db5b58c-fdac-11e4-94d2-b3837492ef8b.png)

It would be great to have a more descriptive error message saying that the description or author are missing.

[2015-05-19 18:37] csharpfritz commented on #167
+1

I like this idea in the grand-scope of package owner usability.  We should be able to 'fail fast' if a package is malformed, corrupted, or just doesn't work... preventing it from getting into the public gallery.

I see this functionality as very similar to the "WACK" Windows App Certification Kit.

[2015-05-19 20:16] cheers00 commented on #335
when I tried ```certmgr -ssl https://go.microsoft.com```, I am getting the following error. I am behind a proxy and wondering if it is causing this error.

[code]

[2015-05-20 03:44] bhuvak opened #2485 "Lot of orphaned galops processes in the dashboard background jobs VM"

[2015-05-20 05:11] Shazwazza opened #2486 "Cannot edit package info on Nuget.org for aspnet5 packages"
For example I've tried to edit this package: https://www.nuget.org/packages/smidge for each one of it's releases  but each time I try this it ends up telling me:

"Your last edit to this package was not successfully applied. You can edit the package and submit the edit again to retry the edit."

I've tried a few times to re-edit but it's never successful.

[2015-05-20 05:13] yishaigalatzer commented on #2486
@bhuvak can you please take a look?

[2015-05-20 05:20] Shazwazza commented on #2486
I can confirm that editing works on non-aspnet5 packages that are not in pre-release (such as this one i just changed: https://www.nuget.org/packages/Examine/0.1.63 )

So the problem must either be something with aspnet5 packages or pre-release packages.

[2015-05-20 05:23] Shazwazza commented on #2486
... actually just tested a pre-release of non aspnet5 and it worked :)

[2015-05-20 09:28] LianwMS opened #2487 "Getting "could not instantiate http://SymbolSource.Processing.Tools .PdbSourceExtractor" when trying to publish Symbolsource"
Run the nuget push as follows:

nuget push Microsoft.AspNet.OData.5.6.0-rc.symbols.nupkg -source http://nuget.gw.symbolsource.org/Public/NuGet -apiKey XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXX

get the follows error:

Failed to process request. 'Package submission failed: Server was unable to process request. ---> ComponentActivator: could not instantiate SymbolSource.Processing.Tools.PdbSourceExtractor

[2015-05-20 10:44] #858 closed

[2015-05-20 10:45] #2457 closed

[2015-05-20 17:22] #2306 closed

[2015-05-20 21:01] yishaigalatzer commented on #2487
We do not own symbol source. Please contact those fellas

[2015-05-20 21:01] #2487 closed

[2015-05-21 09:52] hickford opened #2491 "Add permalink to current version in version history"
It would be useful if the version history entry for the current version was a permalink (rather than plain text). I often want to link to the exact version of a package I downloaded (for example, from commit messages).

[2015-05-21 09:53] hickford commented on #2491
Relevant code https://github.com/NuGet/NuGetGallery/blob/master/src/NuGetGallery/Views/Packages/DisplayPackage.cshtml#L333

[2015-05-21 11:03] #2491 closed

[2015-05-22 02:55] bhuvak commented on #2447
@yansklyarenko , does it happen consistently ? I am working on fixing and am able to upload packages up to 150 MB without any issue. Also what happens if the "Timeout" value is increased ?

[2015-05-22 06:27] adamralph opened #2494 "error viewing specific profiles"
E.g. https://www.nuget.org/profiles/damianh

![image](https://cloud.githubusercontent.com/assets/677704/7765271/472fc59e-005c-11e5-8ad7-8ab99c1d02b2.png)

Other profiles are fine, e.g. https://www.nuget.org/profiles/adamralph

![image](https://cloud.githubusercontent.com/assets/677704/7765280/6542cbb2-005c-11e5-8dd4-4c4c215fc0fa.png)

[2015-05-22 07:31] damianh commented on #2494
I'm in stealth mode :ghost:

[2015-05-22 16:44] bhuvak opened #2496 "Recycle credentials on server"

[2015-05-22 17:44] bhuvak opened #2497 "V2 search results are not properly sorted"
The search results are sorted alphabetically instead of sort by relevance.
Might be an issue with loading the download count report.

[2015-05-22 18:03] shawnburge opened #2498 "SSDT & SSDT-BI Support"
Howdy, all!

Would it be possible to add support for Database, SSRS, SSAS, and SSIS projects to NuGet?

For the Database project, you can deploy custom static code analysis assemblies to the project.

For the BI tools, it would be nice to manage templates, resources, etc., in a NuGet package that can be easily deployed to new and existing projects.

Thanks!!
Shawn

[2015-05-22 18:27] bhuvak opened #2499 "Add dashboard check for daily download numbers"

[2015-05-22 22:43] bhuvak opened #2500 "Stats replicator job fails with error related to replication cursor"
The INSERT statement conflicted with the CHECK constraint "CK_CollectorCursor
he conflict occurred in database "NuGetWarehouse", table "dbo.CollectorCursor".
as been terminated.

ta.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
ta.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapClos

[2015-05-23 17:01] enkimatt opened #2501 "Cannot edit Package information."
I've attempted several times now to edit my Package to add a link back to my "Project Site" aka GitHub...
Every attempt to edit fails, it starts out saying

These changes will be applied to the package file and become visible to everybody soon unless you first.*

And ended up displaying the following message.

I have verified, several times that the link I provided is correct and working.
Why won'

[2015-05-25 10:52] yansklyarenko commented on #2447
It does happen consistently when the command runs across physical locations. We have ProGet server in Denmark, while clients across the globe, e.g. in Ukraine. If you push a package larger than 1MB from UA to DK, it fails with the error I mentioned above (v2.8). If NuGet.exe version is 2.7, it works just fine. Increasing the Timeout value just results in a longer delay, and then it fails with the

[2015-05-25 11:54] maartenba commented on #2447
@yansklyarenko can you try setting the Timeout argument to a different that is an uneven number, e.g. "123"?

[2015-05-25 12:44] 9swampy opened #2503 "Package statistics don't appear to be updating (again)."
Reopening https://github.com/NuGet/NuGetGallery/issues/2380, https://github.com/NuGet/NuGetGallery/issues/2329 & https://github.com/NuGet/NuGetGallery/issues/2278, perhaps unrelated but same issue - none of my package statistics have been updated since 2015-04-22, interestingly a couple of days after all the above issues were "fixed and closed".

[2015-05-25 13:28] anhaehne opened #2504 "Error while querying v3 api"
I get the following error from the iis hosting the V3 api of nuget.org. This prevents me from using the nuget packet manager in VS2015 RC.

I hope this is the correct address of this kind of error.

Query:
    https://api-v3search-1.nuget.org/query?q&skip=0&take=10&prerelease=false&supportedFramework=.NETFramework,Version=v4.5.2

[code]

[2015-05-25 13:56] forki opened #2505 "NuGet v3 autocomplete down"
https://api-v3search-0.nuget.org/autocomplete?q=xunit&take=10000

results in

![error](https://cloud.githubusercontent.com/assets/57396/7798156/851714e2-02f6-11e5-9717-7f5b34085483.png)

[2015-05-25 14:56] bhuvak opened #2506 "GenerateDownloadReport job adds duplicate entries"

[2015-05-25 15:01] bhuvak commented on #2504
Thanks for reporting and sorry about the inconvenience. It should be up now.

[2015-05-25 15:02] bhuvak commented on #2505
Thanks for reporting and sorry about the inconvenience. It should be up now.

[2015-05-25 15:04] #2505 closed

[2015-05-25 15:04] #2504 closed

[2015-05-25 15:40] anhaehne commented on #2504
Thanks for the quick fix. Keep up the good work.

[2015-05-25 15:42] bhuvak opened #2507 "search service should handle exceptions related to corrupted json files"
When downloads.json or searchrankings.json files are not in proper format or has duplicate entries, the service should be able to handle it instead of throwing exception.

[2015-05-26 02:37] bhuvak opened #2508 "Out of memory exceptions thrown by dashboard monitoring tasks"
From last week bunch of dashboard tasks are throwing out of memory exception.
It could be related to #2485. But the orphaned processes doesnt consume any memory though.
We should look more in to it and optimize the monitoring jobs if required .Also the VM can be upgrades to D3.

[2015-05-26 10:18] xavierdecoster commented on #2458
Linking https://github.com/NuGet/NuGetGallery/pull/2493

[2015-05-26 10:21] xavierdecoster commented on #2498
Closing as duplicate.
Tracking it here: https://github.com/NuGet/Home/issues/637

[2015-05-26 10:21] #2498 closed

[2015-05-26 10:33] xavierdecoster commented on #2454
The clients are not sending user agent header on package push operations. This is not a gallery issue, but should likely move to the client or home repo?

[2015-05-26 10:57] xavierdecoster commented on #333
Text currently reads: "You successfully uploaded {id} {version}"

About time we closed this issue :)

[2015-05-26 10:57] #333 closed

[2015-05-26 11:04] xavierdecoster commented on #165
This is [being checked](https://github.com/NuGet/NuGetGallery/blob/master/src/NuGetGallery/Views/Packages/ManagePackageOwners.cshtml#L68) since August 2013, time to close the issue :)

[2015-05-26 11:04] #165 closed

[2015-05-26 11:35] mynkow commented on #1857
Same thing is happening right now with me

[2015-05-26 11:49] xavierdecoster commented on #385
The `JsonApiController` is [throwing](https://github.com/NuGet/NuGetGallery/blob/master/src/NuGetGallery/Controllers/JsonApiController.cs#L101) if the request to remove a package owner does not originate from the package owner.

@csharpfritz:
As a user who no longer wants to be a package owner, do you want to receive an email notification of this operation? (very easy)

If not, can admins currentl

[2015-05-26 12:22] mygithubaccnt commented on #1857
I'm having this problem for half an hour

[2015-05-26 12:46] abdullin commented on #2432
Hi all, so what's the decision on that ticket?

[2015-05-26 12:48] abdullin commented on #2441
Isn't even a minute of downtime a failure? E.g. some user can't use nuget capabilities during that period.

I think, with no-downtime upgrades (swapping behind the load balancer) and data-center redundancy, it should be quite easy to achieve something like 99.99% availability on query and feed APIs.

[2015-05-26 14:14] #999 closed

[2015-05-26 14:15] maartenba opened #2509 "PackageRegistrations table should not allow the same id to exist more than once"
PackageRegistrations table should not allow the same id to exist more than once.

[2015-05-26 14:20] csharpfritz commented on #385
I think the owner that is removed should be notified with a link or email
address to contact if the operation was in error.

Admins can change ownership, and I think that change should trigger the
notification as well.

Jeff

On Tue, May 26, 2015 at 7:49 AM, Xavier Decoster <notifications@github.com>
wrote:

[2015-05-26 14:24] csharpfritz commented on #2432
We do need to be more transparent about how long the package indexing process takes when you upload a package.  A simple, "package index is x minutes behind" to indicate the upload time of the earliest package awaiting indexing could help clarify the situation.

[2015-05-26 14:32] maartenba commented on #2509
Fixed with https://github.com/NuGet/NuGetGallery/commit/de6455d2b3b2c1817984826242ef3194b68f73f6

[2015-05-26 14:33] maartenba commented on #1959
Working on this in #2509

[2015-05-26 14:33] #1959 closed

[2015-05-26 14:39] bhuvak opened #2510 "Lucene containers in secondary location should be made up to date"

[2015-05-26 14:45] javad-helloy opened #2511 "Latest packages are not accessible for Msbuild auto restore."
After the issues with Nuget today. I can not do CI due to an error I get trying to update a nuget package. The latest version of the package can not be found by nuget restore. Its like some data has rolled back to older data (check point).

I have problems with:

New Relic for Windows Azure Web Sites (x86) 4.5.90
and
NewRelic.Agent.Api 4.6.29

[2015-05-26 15:25] andyday commented on #2511
I'm having the same issue with JWT 1.3.4...

[2015-05-26 16:29] mynkow commented on #2511
Today is a nightmare. I have more than 10 packages failing right now.

[2015-05-26 16:31] Sinstraliz commented on #2511
Same here it seems that the latest versions of the packages are failing.

[2015-05-26 16:43] FeodorFitsner commented on #2511
This package fails too (and this is not the latest but the one from May 2):

    nuget install WindowsAzure.ServiceBus -Version 2.6.6 -nocache

[2015-05-26 16:52] mynkow commented on #2511
So nuget.org is hosted on Azure and the trafficmanager is the load balancer. Is it Azure issue or nuget issue? I think it is Azure issue because I can download all failing packages from the website using the download button. => https://www.nuget.org/packages/WindowsAzure.ServiceBus/2.6.6

Or it is something else. Please someone explain to us what is going on so I know if I have to update all 20 se

[2015-05-26 16:55] msneeden commented on #2511
Installations via the Package Manager Console in VS appear to be succeeding, restores via API calls to NuGet.org do not appear to find the latest package.

[2015-05-26 17:06] sdluxeon commented on #2511
"Installations via the Package Manager Console in VS appear to be succeeding, restores via API calls to NuGet.org do not appear to find the latest package." <= Same here. The BUILD server is dead. RIP

[2015-05-26 19:19] dtretyakov commented on #2511
Same error. Does not work nuget restore for recently updated nuget packages and outdated packages in the VS "Manage Nuget Packages" window.
[code]

[2015-05-26 19:30] maartenba commented on #2511
This was caused by an issue on www.nuget.org. It should be resolved right now. Feel free to respond to this issue in case you are still seeing issues.

[2015-05-26 19:30] #2511 closed

[2015-05-26 19:31] maartenba commented on #2432
http://www.nuget.org/packages/ shows the last index update time ("Index last updated X time ago")

[2015-05-26 19:31] maartenba commented on #2511
This was caused by an issue on www.nuget.org. It should be resolved right now. Feel free to respond to this issue in case you are still seeing issues.

[2015-05-26 19:32] mynkow commented on #2511
It works for me

[2015-05-26 19:34] FeodorFitsner commented on #2511
Looks like it's started to work. Thanks, Maarten!

[2015-05-26 20:59] yishaigalatzer commented on #2494
Thanks for reporting this.

[2015-05-26 21:07] yishaigalatzer commented on #2252
We would love to take a PR with your fix for this. Sorry for this being hanging around for so long

[2015-05-26 22:24] bhuvak opened #2512 "Add alert for DC1 search index lag"

[2015-05-26 22:30] bhuvak opened #2513 "DownloadCountReport need not have install counts and update counts"
The download count report file can be made lot of smaller by avoiding "install" and "updates" data from warehouse.

[2015-05-27 04:15] bhuvak commented on #2501
Your package edit should have been applied now. Let us know if you still hit any issues.

[2015-05-27 04:20] bhuvak commented on #2486
@Shazwazza, we had an issue around package edit that we have fixed. Can you confirm if your edits are applied now ?

[2015-05-27 04:40] bhuvak commented on #2494
Seems to be exception with duplicate entries. Pasting the stack trace
System.ArgumentException: An item with the same key has already been added.
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)
   at NuGetGallery.PackageService.FindPackagesByOwner(User user, Boolean includeUnlisted)
   at NuGetGallery.UsersController.Profiles(String username, Int32 page, B

[2015-05-27 13:12] sunnokon commented on #2252
Sorry, I'm not familiar with the abbreviation 'PR' - do I need to do anything to help with the fix beyond the code that's already attached to this bug? No worries on how long it's been around - I honestly forgot about it because I implemented the fix in my local version so long ago.

[2015-05-27 15:15] yishaigalatzer commented on #2252
You can submit a pull request, which means we will review the code, provide feedback and finally merge into our source tree, and you become a nuget contributor :)

Let me know if you need guidance on how to do that.

[2015-05-27 15:18] bhuvak commented on #2494
You should be able to view your profile now.

[2015-05-27 15:18] #2494 closed

[2015-05-27 15:20] bhuvak opened #2514 "IsLatest set to multiple versions for some packages"
We had a customer reporting issue around viewing profile page : https://github.com/NuGet/NuGetGallery/issues/2494

On debugging, it turned out to be an issue with IsLatest being set on multiple versions on one of packages owned by the user and hence exception is thrown by "FindPackagesByOwner" in packageservice. We need fix the existing data and also see how we end up in that state.

[2015-05-27 15:59] adamralph commented on #2494
:+1: looks good now!

[2015-05-27 16:28] petehauge commented on #2499
Agreed!  In particular, I'd like to see the trend over time of downloads so we can see how announcements, blogs, etc., affect the downloads.  Even if this was just a table of data and we can use Excel to build our own visualizations, that would be great.

[2015-05-27 21:08] emgarten commented on #2503
Thanks for reporting this we are aware of the issue. We are currently prioritizing other site stability issues over the stats, but we plan to get these up to date again as soon as possible.

[2015-05-28 11:36] mynkow commented on #2511
NuGet.exe install packages.config -OutputDirectory packages

This command fails with the same error.

[2015-05-28 16:57] lynnewu opened #2516 "Nothing happens after pressing <ENTER> in console"
I've installed NuGet (Windows 7, VS 2013) and it seems to install correctly, but when I open the Package Manager Console and enter a command, nothing happens.

The cursor moves down to the next (empty) line, and if I keep pressing <enter> it moves to the next line, but nothing ever happens.

![image](https://cloud.githubusercontent.com/assets/877133/7865733/7b053cf4-0530-11e5-9031-690407e0ad2e.png

[2015-05-28 22:32] mynkow opened #2517 "NuGet.exe install packages.config - Failing to install"
NuGet.exe install packages.config -OutputDirectory packages

This command fails with the same error as #2511

[2015-05-29 00:25] AndriySvyryd opened #2518 "[V3] The feed should return the original version"
To be able to propertly fix NuGet/Home#595 the version string returned and accepted from any feed calls should be non-normalized (as specified in .nuspec)

[2015-05-29 02:47] lodejard opened #2519 "NuGet might want a deprecated message to add to a package id/version entry"
https://docs.npmjs.com/cli/deprecate

[2015-05-29 10:05] csharpfritz commented on #2519
It makes a lot of sense to me. We should schedule this feature for
development in the future.
On May 28, 2015 10:47 PM, "Louis DeJardin" <notifications@github.com> wrote:

[2015-05-29 16:50] yishaigalatzer opened #2520 "V3 search and autocomplete throw NullReferenceException on index swap"
Pingdom checks for search (autocomplete - id) and search (v3 - empty) fail sporadically. Root cause seems to be an exception being thrown every now and then:

[code]

@johnataylor Can you have a look at it? I'd think changing `OpenBitSetLookupFilter.GetDocIdSet` to the following should do the trick (check for the key, return null if not exists):

        public override DocIdSet GetDocIdSet(IndexR

[2015-05-29 17:08] bhuvak commented on #2447
@yansklyarenko, also does it happen only with ProGet server or with nuget.org as well ?

[2015-05-30 15:26] pritambaldota opened #2521 "Unable to save my Package details."
I have saved package details several times, after save it says it will be updated soon. After some time it shows message - **our last edit to this package was not successfully applied. You can edit the package and submit the edit again to retry the edit.**

My Package url is https://www.nuget.org/packages/PritamBaldota.JqueryCultureInfo/

Can you please check this.

[2015-05-31 22:00] rickyah commented on #2501
I'm having the same issue with the package https://www.nuget.org/packages/ini-parser/
Is there any solution?

[2015-05-31 22:03] rickyah commented on #2521
I'm having the same problem, there seems to be several issues with the same problem

My package: https://www.nuget.org/packages/ini-parser/

[2015-06-01 14:34] mynkow commented on #2517
Any updates?

[2015-06-01 15:21] abdullin commented on #2432
@maartenba, unfortunately this doesn't come up as an issue on status.nuget page :(

[2015-06-01 15:29] forki commented on #2432
as written above the broken indexing prevents user from installing/updating, which is one of the major reasons people use a package manager.
I think it's fair to say that "Search Index last updated about 7 hours ago" is an outage for install/update of newly released packages.

[2015-06-01 16:46] abdullin commented on #2432
I'd say that a delay of a few minutes is already an outage. Imagine a
workflow.

1. Developer in Russia creates a new nuget package, uses it another
solution to fix an urgent bug.
2. He commits a change to the repository
3. One minute later, a build server in USA picks up the changes and tries
to build the solution.

And the solution at that point breaks with something like that:

The name specifi

[2015-06-01 16:51] forki commented on #2432
of course the root course is something else. It's that two API functions give different information. Reported years ago somewhere on codeplex and also here on github.

https://github.com/NuGet/NuGetGallery/issues/2126#issuecomment-43786202 <- closed without solution

https://github.com/NuGet/NuGetGallery/issues/2149 <- nothing happens

[2015-06-01 17:34] csharpfritz commented on #2432
I would consider this behavior an outage, but rather a tolerable service
degradation.

All read operations against the NuGet gallery contents that were present
from before the point that the index process slowed down were serviced with
no failures.

Jeff

On Mon, Jun 1, 2015 at 12:51 PM, Steffen Forkmann <notifications@github.com>
wrote:

[2015-06-01 17:38] forki commented on #2432
If you can't "nuget install" then it feels pretty broken for me.
On Jun 1, 2015 19:34, "Jeffrey T. Fritz" <notifications@github.com> wrote:

[2015-06-01 17:41] csharpfritz commented on #2432
Thank you for making my point for me:  for all but a very limited number of
packages, you can NuGet install them with no problems.

That's what service degradation is.

On Mon, Jun 1, 2015 at 1:38 PM, Steffen Forkmann <notifications@github.com>
wrote:

[2015-06-01 18:04] abdullin commented on #2432
@csharpfritz, doesn't this break publishing feature of nuget completely?

The feature is described here: http://docs.nuget.org/Create/Creating-and-Publishing-a-Package

[2015-06-01 18:36] csharpfritz commented on #2432
You are still able to upload items to the gallery.  They will be available
once they have been analyzed,added to the index and deployed to CDN.

Let's discuss this another way:  would it be preferable to receive an error
message that NuGet is not accepting new packages, or would you like a
publish package operation to complete, and they are available some time
later?

On Mon, Jun 1, 2015 at 2:04 P

[2015-06-01 18:38] abdullin commented on #2432
Clear error message (failing early) would've saved us hours of debugging and frustration.

[2015-06-01 18:40] csharpfritz commented on #2432
What if an email message was sent to the owners of packages when new
versions were made publicly available when the index has completed running?

On Mon, Jun 1, 2015 at 2:38 PM, Rinat Abdullin <notifications@github.com>
wrote:

[2015-06-01 18:49] abdullin commented on #2432
Email would be a viable good work-around for us (I'm not sure about the other nuget users, though).

Would it be possible to provide an uptime status from the indexing job as well? E.g. show the index queue depth on the status page. Here's a trivial example we setup on a current project:

![screen shot 2015-06-01 at 23 45 39](https://cloud.githubusercontent.com/assets/504782/7920453/8c2c5eb4-08b8-

[2015-06-01 18:52] csharpfritz commented on #2432
I can see the email notification as an opt-in at package upload time or
perhaps a profile preference.

As part of the work for this issue, our team is working on a customized
status page that does provide additional information.  We do already
provide some information, (I'm not sure about queue depth) on an internal
status portal.  Our intention is to bring some of that information to the
new stat

[2015-06-01 19:02] forki commented on #2432
I am all for: allow the upload. Show only the latest indexed package across
all apis. The point is: of the api which displays all the version nos.
would be slower than the other api then nobody would ever get an error.
People would just not get the currently uploaded package. Which is fine.
On Jun 1, 2015 20:52, "Jeffrey T. Fritz" <notifications@github.com> wrote:

[2015-06-01 19:26] ashic commented on #2432
"Thank you for making my point for me:  for all but a very limited number of
packages, you can NuGet install them with no problems.

That's what service degradation is."

@csharpfritz I have to disagree. Scenario:
* I have version 1.0.1 of PackageX.
* I upload version 1.0.2 of PackageX.
* User Y runs nuget.exe install PackageX before the next indexing operation.

In this case, degradation would be

[2015-06-01 20:34] bhuvak commented on #2521
We are looking in to it.

[2015-06-01 22:39] yishaigalatzer commented on #2432
This issue is on top of our priority list.

The issue happens because NuGet has really two servers (a sql based server) and a static files based server, and they haven't been merged properly. Merging them correctly is not a small task, and we are working on two avenues here (like many of your comment correctly on above)

1. Make the indexing jobs more reliable, improve the auto healing, heart beat

[2015-06-01 23:33] yishaigalatzer opened #2522 "Show indexing status next to new package versions"
Here is a strawman suggestion to show package status for packages that have been uploaded but not yet indexed, in a way that doesn't require the user to go to a status page.

inspired by #2432

![image](https://cloud.githubusercontent.com/assets/1238711/7925599/a95be294-087b-11e5-8ca5-bc89976c9b55.png)

[2015-06-01 23:37] yishaigalatzer commented on #2517
This should be fixed now. Please let us know if this doesn't work for you.

[2015-06-01 23:38] bhuvak commented on #2501
Related to #2521

[2015-06-01 23:39] bhuvak commented on #2520
Will check it as part of search consolidation.

[2015-06-01 23:42] yishaigalatzer opened #2523 "Pressing enter in the console does nothing"
From @lynnewu
copied from https://github.com/NuGet/NuGetGallery/issues/2516

I've installed NuGet (Windows 7, VS 2013) and it seems to install correctly, but when I open the Package Manager Console and enter a command, nothing happens.

The cursor moves down to the next (empty) line, and if I keep pressing <enter> it moves to the next line, but nothing ever happens.

![image](https://cloud.githubu

[2015-06-01 23:43] #2516 closed

[2015-06-01 23:44] bhuvak commented on #2510
This is done.

[2015-06-01 23:44] #2510 closed

[2015-06-01 23:45] bhuvak commented on #2513
This will be fixed with #2419

[2015-06-01 23:45] yishaigalatzer commented on #2481
You can create the nuspec manually. We don't plan to fix this issue, as the recommendation is to include a single dll per package and we don't plan to extend support for this area.

[2015-06-01 23:45] #2481 closed

[2015-06-01 23:45] bhuvak commented on #2513
https://github.com/NuGet/NuGet.Jobs/commit/3661ee0873a4904f99911f3339e20d36a03c5dcc

[2015-06-01 23:45] #2513 closed

[2015-06-01 23:45] bhuvak commented on #2512
This is deployed.

[2015-06-01 23:45] #2512 closed

[2015-06-01 23:46] bhuvak commented on #2509
This deployment is planned for S1.

[2015-06-01 23:46] yishaigalatzer commented on #2172
This issue has been stale for over a year (super bad on our side :( ). Since I see no traffic I assume you figured it out. If not please re-open

[2015-06-01 23:46] #2172 closed

[2015-06-01 23:47] bhuvak commented on #2506
This is fixed in the new downloadlookup to check for duplicates.
https://github.com/NuGet/NuGet.Services.Metadata/commit/f18a03f4f63fdf5cfe216002ee49b6463f4cb945

[2015-06-01 23:47] #2506 closed

[2015-06-01 23:48] bhuvak commented on #2507
https://github.com/NuGet/NuGet.Services.Metadata/commit/f18a03f4f63fdf5cfe216002ee49b6463f4cb945 - addresses this.

[2015-06-01 23:48] #2507 closed

[2015-06-01 23:49] bhuvak commented on #2497
This was an issue with GenerateSearchRanking file being outdated.This is fixed now.

[2015-06-01 23:49] #2497 closed

[2015-06-01 23:51] bhuvak commented on #2470
This is covered as part of the new worker job deployment. Closing the issue as it is being tracked by worker job consolidation issue. #2415

[2015-06-01 23:51] #2470 closed

[2015-06-01 23:52] bhuvak commented on #2480
This happens for unlisted packages. As part of #2419 , this should be fixed.

[2015-06-01 23:53] bhuvak commented on #2475
Should be fixed with #2419

[2015-06-01 23:57] yishaigalatzer opened #2524 "Support independant mergable feeds"
The suggestion is to support creating a feed where you can upload packages or provide links to packages on nuget.org.

The feed should support a merge view (where you can see it and nuget.org or other feeds combined) and a merge function.

This will enable
1. Making large framework uploads with multiple packages be a gated process, where the set can be uploaded, tested and then pushed to main nuge

[2015-06-02 04:32] #2501 closed

[2015-06-02 06:19] abdullin opened #2525 "Setup a telemetry for NuGet Gallery to capture performance and usage data"
Nuget services are in a challenging position. They are included by default into Visual Studio, referenced everywhere in .NET ecosystem on Microsoft (and would probably be further used in new Linux tooling).

After all: _NuGet is the package manager for the Microsoft development platform including .NET. ... The NuGet Gallery is the central package repository used by all package authors and consumer

[2015-06-02 06:41] abdullin commented on #2432
The reason why people can get so frustrated at nuget.org failures is right at the front page: "NuGet is the package manager for the Microsoft development platform including .NET. The NuGet client tools provide the ability to produce and consume packages.  The NuGet Gallery is the central package repository used by all package authors and consumers."

People pay money for Microsoft development plat

[2015-06-02 07:41] maartenba commented on #2522
Related commit: https://github.com/NuGet/NuGetGallery/commit/1c658259a0887bd935089284a8624a997e0438e6

[2015-06-02 09:32] maartenba commented on #2522
Would it make sense to show the index status instead, e.g. "Not indexed yet - last index created X minutes ago"?

[2015-06-02 14:59] yishaigalatzer commented on #2522
That sounds good as well, we can make it a link to the page from 2432 where it shows the location in the queue somewhere in the title

[2015-06-02 15:12] yishaigalatzer commented on #2432
@abdullin I share your frustration. The only way I know to deal with it is to work at fixing the problems and moving things forward. I'm hoping you are able to tell the difference in the coming weeks and more goodness in the coming months.

Concrete feedback like you provide here is a great way to make the product better.

Priority wise: We decided to first focus on the root cause of the services

[2015-06-02 21:20] yishaigalatzer commented on #2525
@abdullin this is good feedback.

We are tracking most of this information already, and we are going to augment it with app insights this week.

Its probably not a bad idea to look at your other suggestions once we get through the next two waves (S1 & S2) and figure out what else we want to start tracking.

Thanks again for the input

[2015-06-02 21:34] mynkow commented on #2517
It is working in Europe. In US it is still failing.

[2015-06-02 23:23] yishaigalatzer commented on #2517
Can you share your packages.config

[2015-06-02 23:26] yishaigalatzer commented on #2517
And your nuget.config

[2015-06-02 23:34] bhuvak commented on #2517
If you can provide the fiddler traces that would help. Also the nuget.config file ( if it has any proxy settings).

[2015-06-03 06:55] abdullin commented on #2432
@yishaigalatzer Thank you for dealing with the problem and being open with it. I think, this could make a wonderful blog post for the readers, to reassure them about nuget (it reassured me).

[2015-06-03 08:10] xavierdecoster commented on #2518
@AndriySvyryd is this a V3 feed only issue? (title suggests it is) No changes needed to the v2 NuGetGallery? This also seems related to the v2-v3 search consolidation work @bhuvak is doing. Would love to get some more context :)

[2015-06-03 08:13] mynkow commented on #2517
It is working at the moment.

For the history:
packages.config
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronus.DomainModeling" version="1.2.3" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Multithreading.Scheduler" version="1.0.1" targetFramework="net45" />
</packages>

nuget.config:
<?xml version="1.0" encoding

[2015-06-03 09:09] maartenba commented on #2522
Proposed design:

![Uploading screenshot.png…]()

[2015-06-03 14:40] yishaigalatzer commented on #2522
I assume listed shows up only for package owner.

I also assume indexed is going to have a link (eventually) and will update through Ajax once indexing is done?

[2015-06-03 14:41] maartenba commented on #2522
Listed is only package owner indeed. Indexed could be a link if we have a status page showing indexing status.

[2015-06-03 15:28] johnataylor commented on #2522
Is there a less obvious visual clue to indicate that something hasn't yet been indexed? For example fade out the font or something.

Here is my concern: when we fix the really quite basic problems in search we should be aiming for index updates in seconds not minutes. At which point we just have all this pointless yes, yes, yes, down the right side of the list.

For the new gallery the whole thing

[2015-06-03 15:31] maartenba commented on #2522
It's only showing when there is (at least) one version that's not indexed. Packages that have everything in index will not even show this column, basically making the page look like it looks today.

[2015-06-03 15:51] maartenba commented on #2522
@johnataylor Made a modification to make it less intrusive in the list: added the word "pending" with a tooltip.

![untitled](https://cloud.githubusercontent.com/assets/485230/7964642/1b9f8e7a-0a19-11e5-827e-5abeec80ab16.png)

[2015-06-03 15:56] maartenba opened #2527 "Don't hit the database for retrieving packages"
Following on #2522 and inconsistency between DB / search, we should update the gallery and make sure no pages / services hit the database directly. Some front-ends to look at:

* Package details page
* OData: find packages by id
* OData: find updates

Once finished, revert #2522 in a meaningful way (e.g. owners may want to look at pending packages still)

[2015-06-03 15:58] maartenba commented on #2522
Logged #2527 to make this issue obsolete in the longer run.

[2015-06-03 16:31] yishaigalatzer commented on #2527
For the first item - The goal here is that once search service updates go in, the search service will no longer show packages that haven't been indexed. The plan is to make the website get the list of unindexed packages (from the catalog) and show them as pending.

[2015-06-03 16:44] johnataylor commented on #2527
It's very difficult for the web site to read the catalog directly. The data in the catalog has to be processed first by some job.

The index is the mechanism by which the web site gets the package data from the catalog.

The indexing processes also provide some parts of the index in a slightly optimized way such that clients can sometimes by-pass a computed lookup in Lucene. The web site could rea

[2015-06-03 18:27] maartenba commented on #2520
From @johnataylor pointers: may have to do with index swap (versions table)

[2015-06-03 18:49] AndriySvyryd commented on #2518
This is basically about making the V3 feed use the same version strings as V2. This will allow the client to treat the packages in the same way independently from the originating feed.

[2015-06-03 18:53] xavierdecoster commented on #2518
If the versions returned by the v2 gallery are correct, then this is not a gallery issue and the issue should be fixed in the search service consolidation work @bhuvak is doing. @bhuvak can you confirm the consolidated service will return the versions in the format the v2 gallery returns them currently?

[2015-06-03 19:51] johnataylor commented on #2520
The assumption in the code is that auxiliary data structures are kept in sync with the index. "In sync" meaning that they are written to be indexed with the current documentID.

For example the arrays _versionsByDoc and _versionListsByDoc referenced in NuGetSearcherManager.GetVersions and NuGetSearcherManager.GetVersionsList are locked with the current Searcher between the searcherManager.Get() an

[2015-06-04 01:37] JamesNK opened #2528 "Your last edit to this package was not successfully applied"
I have tried to edit Newtonsoft.Json-6.0.8 twice to add a NuGet icon and both times it has failed with this message:

Your last edit to this package was not successfully applied. You can edit the package and submit the edit again to retry the edit.

[2015-06-04 07:31] #2522 closed

[2015-06-04 16:49] maartenba commented on #2525
Linking #2478 (internal telemetry via AppInsights)

[2015-06-04 17:20] #2520 closed

[2015-06-04 20:16] nielthomas commented on #2528
Same, can't save any changes to icon (even 128x128).

[2015-06-05 09:42] maartenba commented on #2522
Deployed.

[2015-06-05 09:42] maartenba commented on #2509
Deployed.

[2015-06-05 09:42] #2509 closed

[2015-06-05 15:03] bhuvak opened #2529 "Elmah error when service degradation happens"
Today morning we had a fluctuation in DC0 search and looks like Gallery falled back to DC1 and there were errros in Elmah around it @ https://www.nuget.org/Admin/Errors.axd/detail?id=1656112.

right now it just shows as "Aggregate error". it would be good, if we show specific exception, so that we can do alerting on it if required.

[2015-06-05 15:04] bhuvak opened #2530 "Gallery UI not showing commit time stamp (for lucene index) based on local time zone"
We noticed Gallery showing last commit time stamp as "2 hours" ago while hitting DC1 search though both dc0 and dc1 are up to date.
Looks like some issue with converting the time zones.

[2015-06-05 15:07] maartenba commented on #2529
It *should* be more specific using quietlog, the AggregateException shows something else. Feel free to assign this to me for S2 during triage.

[2015-06-05 16:34] lijunle opened #2531 "Website is very slow!"
It is reported that something is broken.

[2015-06-05 16:44] FeodorFitsner commented on #2531
Same here. We see a lot of `WARNING: The operation has timed out` while restoring packages.

[2015-06-05 16:53] jthorn commented on #2531
If by very slow you mean completely unresponsive when you navigate to a specific package ... then yes, I see that too. The NuGet client is not working at all either as a result.

[2015-06-05 17:10] juliansprt opened #2532 "Problem with jQuery-UI Nuge"
The Url https://www.nuget.org/packages/jQuery.UI.Combined/ is not working and try to get into visual studio tool not working.

Some happen with the web site?

tnks

[2015-06-05 17:44] msneeden commented on #2531
Seeing the same as @FeodorFitsner , all of our command-line restores are timing out.

[2015-06-05 17:48] nickalbrecht commented on #2531
Looks like the feed is down.

[2015-06-05 17:53] Gavin-Paolucci-Kleinow commented on #2531
Continued problems trying to view package pages. Keep on getting "Sorry, an error occurred while processing your request."

[2015-06-05 17:58] Huntk23 commented on #2531
Same issues as everyone else... Sad day!

[2015-06-05 18:14] nickalbrecht commented on #2531
The feed appears to be functioning normally now on my end.

[2015-06-05 18:58] lijunle commented on #2531
Yes, I think it is resolved now.

[2015-06-05 18:58] #2531 closed

[2015-06-05 19:43] FeodorFitsner commented on #2531
Yeah, works again. Thank you!

[2015-06-05 22:02] johnataylor opened #2533 "Need new Replication API"
NuGet needs a new efficient and reliable replication API:
1) ideally this should be exposed from static cloud storage directly
2) the protocol should support the ability for multiple clients to maintain their own read cursor position
3) the protocol should support adds, updates and deletes

In v3 the protocol is called the Catalog.

The gap is that we need a first class, easy to use, client librar

[2015-06-08 08:06] maartenba commented on #2530
The index actually was 2 hours behind at this moment. Guess it's a non-issue.

[2015-06-08 08:07] maartenba commented on #2532
We indeed had an issue, the URL works fine again.

[2015-06-08 08:07] #2532 closed

[2015-06-08 13:19] jmp75 opened #2535 "Accessing the blog tab of nuget.org - blog.nuget.org uses an invalid security certificate"
Was looking for information about a possible API to analyse package stats - came across links to blog .nuget.org via google

Firefox 38.0.5
Windows7

This site uses HTTP Strict Transport Security (HSTS) to specify that Firefox only connect to it securely. As a result, it is not possible to add an exception for this certificate.

blog.nuget.org uses an invalid security certificate. The certificate

[2015-06-08 13:53] hickford commented on #2535
I think `includeSubDomains` is too strong in the Strict-Transport-Security header.

https://github.com/NuGet/NuGetGallery/blob/96a15f5b19e23a46e60923204e29fb84eb8aaff2/src/NuGetGallery/Web.config#L247

[2015-06-08 14:08] hickford commented on #2535
I think this has also broken http://status.nuget.org/  . Chrome and Firefox will use https://status.nuget.org/ , which times out.

[2015-06-08 17:39] vcsjones commented on #2535
This is kind of a gnarly issue. Even if you remove the HSTS header, it'll still be broken for people that managed to capture HSTS header.

[2015-06-08 17:41] maartenba commented on #2535
Yeah agreed. We're changing this to no longer include `includeSubDomains`. Once deployed (will notify via this GitHub issue), you will have to manually clear HSTS settings in your browser.

Here's a how-to: http://classically.me/blogs/how-clear-hsts-settings-major-browsers

[2015-06-08 18:03] RanjiniM commented on #2486
The job issues are fixed and things seem fine now.

[2015-06-08 18:03] #2486 closed

[2015-06-08 18:04] RanjiniM commented on #2521
The job issues are fixed now. Things are working again.

[2015-06-08 18:04] #2521 closed

[2015-06-08 18:10] yishaigalatzer commented on #2528
Thanks for reporting, we believe we already fixed this and deployed last Friday June 8th 2015.

Please let us know if you still see it. Assigning to  @RanjiniM to validate 100% and provide the commit hash

[2015-06-08 18:49] RanjiniM opened #2536 "Ensure monitoring for all jobs in all datacenters"

[2015-06-08 18:52] maartenba opened #2537 "Search: Internal Server Error"
`https://nuget-prod-1-v2searchwebsite.azurewebsites.net/search/query?q=&skip=0&take=100&sortBy=relevance&supportedFramework=net45|net45|net45|portable-net45%2Bwin|net45|portable-net45%2Bsl50%2Bwin%2Bwp80&feed=microsoftdotnet&luceneQuery=false&countOnly=true`

[2015-06-08 21:38] yishaigalatzer opened #2538 "Add Telemetry (AppInsights) to V3 Search Service"

[2015-06-08 22:16] #2530 closed

[2015-06-08 22:21] RanjiniM commented on #2528
There were 2 issues.

1. Null Reference Exception was fixed with this commit - https://github.com/NuGet/NuGet.Jobs/commit/80982b2caad12a1f0c2716795c4dbf62fb74d541

2. When deployed to the VM, this job had binary mismatch that caused it to fail after this commit. The deployment issue doesn't have a commit but it is fixed and up/ running now.

[2015-06-08 22:21] #2528 closed

[2015-06-08 23:38] hickford commented on #2535
Gnarly yes but (reading the spec carefully) I think after removing `includeSubDomains` browsing to https://www.nuget.org/ will update the browser cache, so you can get to http://blog.nuget.org again

[2015-06-08 23:50] vcsjones commented on #2535
@hickford that is my understanding as well.

[2015-06-09 05:17] stunney opened #2539 "Issues building NuGet from Home page instructions"
My first hurdle was that I needed to add C:\Users\Stephen\Documents\GitHub\NuGet.Home\nupkgs as a local nuget repo so that NuGet.CommandLine.Cmd (beta 3.1.0) et al would install after all tests were completed.

I have gotten MUCH further in the compilation however now I am running into the following error

C:\Users\Stephen\Documents\GitHub\NuGet.Home\NuGet.PackageManagement\packages\NuGet.MsBuild.

[2015-06-09 13:04] maartenba commented on #2535
Deployed, please visit www.nuget.org or clear HSTS in browser.

[2015-06-09 13:04] #2535 closed

[2015-06-09 14:05] vcsjones commented on #2535
Confirmed, thanks.

[2015-06-09 20:52] yishaigalatzer commented on #2539
This issue should move to home

[2015-06-09 21:26] pranavkm commented on #2539
The build script needs some fixing - I'll look into this.

[2015-06-10 07:31] maartenba commented on #2537
@johnataylor Slightly related, but should we return an empty list of packages for an invalid query, or an "Invalid Request" status code?

[2015-06-10 07:48] cardinal252 opened #2541 "Incorrect version showing"
If I search for "Glass.Mapper.Sc" from within Visual Studio I do not see the same version as searching from nuget.org. Nuget.org is correctly showing the latest version where Visual Studio's seems to be behind.

[2015-06-10 16:39] bhuvak opened #2543 "Move v2 gallery to websites"

[2015-06-10 16:39] bhuvak commented on #2543
We need to look in to making v2 gallery a website instead of cloud services. Infact we moved to websites a while back and changed since it was not stable at that time. But we should moving it now as it makes deployments a lot easier.  Also it easily enables things like incremental roll out which we wanted to do.

[2015-06-10 18:21] bhuvak opened #2544 "search service returns 500 for malformed queries"
q=Tags:"-" and q="xxx returns 500. We need to fix it.

[2015-06-10 18:46] maartenba commented on #2544
Duplicate of https://github.com/NuGet/NuGetGallery/issues/2537

[2015-06-10 19:01] csharpfritz opened #2545 "Create Application Insights URL monitors"
Add URL monitors to Application Insights to provide monitoring of all endpoints in NuGet.org gallery

[2015-06-10 21:42] RanjiniM commented on #2421
Event log trace listener has been added for all v3 jobs. Need to look into rolling it up to Azure Storage Tables.

[2015-06-10 21:43] RanjiniM commented on #2237
The issues in the job have been fixed and it is running now.

[2015-06-11 15:08] stunney commented on #2539
Hey @pranavkm , any idea where I could start looking to try and fix this while you are on other tasks?

[2015-06-11 19:24] bhuvak opened #2547 "Fix issues with lucene index fall back"
As part of backing up lucene index, we need to take care of segments getting too big need to be taken care of. Also we need to moving to premium storage ( so that transfer rate will be faster).
When there is a fallback, we need to aware of it ( through AppInsights/Monitoring).

[2015-06-11 20:56] #2544 closed

[2015-06-11 21:18] RanjiniM opened #2548 "V3 Server: Set cache headers"
Currently the cache headers on the V3 blobs are set to no-store. They should be change to a normal cache header so the client (which respects the header) can benefit.

[2015-06-11 22:57] bhuvak commented on #2447
@yansklyarenko, I tried uploading packages from different regions ( West US and Europe) and push succeeds for bigger packages. If the issue persists on your end, please re open  https://github.com/NuGet/Home/issues/535 with more details around the above questions.

[2015-06-12 06:28] maartenba commented on #2544
Any related commits?

[2015-06-12 09:03] maartenba commented on #2537
Closing this one, as #2544 is closed too.

[2015-06-12 09:03] #2537 closed

[2015-06-12 11:33] maartenba commented on #2529
Updated the code to log the degradations to AppInsights instead. After a next deployment, ELMAH will no longer have these errors and instead will show the actual error that caused the degradation.

[2015-06-12 12:07] maartenba commented on #2547
Any pointers on how to reproduce this behaviour?

[2015-06-12 16:10] johnataylor commented on #2547
1) add lots of documents, enough to trigger merges for very large segments
2) you can probably add fewer documents if you play with the merge settings
3) calling optimize on the index can merge segments (its often not a good thing to do, but in the interests of investigating problems it might be a useful approach.)

[2015-06-13 00:02] yishaigalatzer commented on #2518
@bhuvak @johnataylor @xavierdecoster @maartenba this is pretty critical to make it in shortly. We are making a fix in RTM client bits.

[2015-06-13 19:55] chris-burt opened #2549 "Uninstall.ps1 is not invoked for solution-only packages"
uninstall.ps1 should invoke on uninstall, but it does not for solution-only packages. This is an obstacle when steps are performed in Init.ps1 or Install.ps1 to change the state of the project.  Uninstall.ps1 is need to undo the changes made during install.

[2015-06-14 18:41] yishaigalatzer commented on #2549
We are removing support for solution level pacakges in Visual Studio 2015. Long term we are removing support for install.ps1 in new scenario, which reduces the importance of dealing with this issue even further

Aside: Please file nuget client bugs in the home repo.

[2015-06-14 18:41] #2549 closed

[2015-06-14 18:43] yishaigalatzer commented on #2541
The right repo to file this issue is home. Moved to https://github.com/aspnet/Home/issues/670

Please let us know what version of visual studio and nuget extension you are using.

[2015-06-14 18:43] #2541 closed

[2015-06-14 18:44] yishaigalatzer commented on #2539
Closing the bug, please follow up with a bug in the home repo if you still can't the build to work by Tuesday

[2015-06-14 18:44] #2539 closed

[2015-06-14 18:46] yishaigalatzer commented on #2525
Done. Augmented the telemertry with AppInsights. Thanks for the advice!

[2015-06-14 18:46] #2525 closed

[2015-06-15 00:23] chris-burt commented on #2549
Thank you for the quick feedback.

[2015-06-15 07:24] Shazwazza commented on #2486
Sorry for the delay! Yup, can confirm it is all working now. thanks!

[2015-06-15 15:03] maartenba commented on #2110
Updated with https://github.com/NuGet/NuGetGallery/commit/e35ece8c542e50bcfd71d0c5ed528d1b8206389f.