[2021-12-23 01:20] #8913 closed

[2021-12-28 23:46] loic-sharma opened #8915 "[Feature]: Use segmented resumable package uploads"
### Related Problem

Today NuGet package uploads are "one shot" - either the upload completely succeeds or fails. A network hiccup causes the whole upload to restart even if the upload was 99% complete. This is particularly problematic as:

* nuget.org's upload services are in North America. Customers in locations like China experience high amounts of slow or failed requests. _⚠ TODO: Quantify thi

[2021-12-29 00:48] joelverhagen commented on #8915
Cool. Azure Blob Storage has this model for Block Blobs. Push "blocks" and later join them to get one logical blob.
https://docs.microsoft.com/en-us/rest/api/storageservices/put-block
https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-list

Curious how this would work for web UI upload. Is this feasible with a JavaScript client when a full file is provided in the upload form?

[2021-12-30 22:09] dannyjdev opened #8916 "[Tests] Migrate existing Gallery Functionaltests to use a newer framework."
Our WebUITests projects uses legacy technology `MSTestV1`, this caused problems with binding redirects (please see: https://github.com/NuGet/NuGetGallery/pull/8890). There might be more problems caused for this legacy framework so moving to a newer technology or upgrading it would help us improving our processes.

[2021-12-31 06:47] joelverhagen commented on #7947
The improvement is minor:
[code]

We can stick with it while we move to the new Azure SDK.

FYI this only applies when using the new Azure SDK. It appears our current legacy SDK safely keeps the classic similarity during index rebuilds.

[2022-01-01 02:14] shps951023 opened #8918 "[Feature]: How csproj to custom vaild signatures time?"
### Related Problem

https://github.com/andersnm/ExcelNumberFormat/issues/34

Hi @andersnm ,
For all clients, and I downloaded from NuGet official website and tested yesterday, you can use below CLI to test
[code]

![image](https://user-images.githubusercontent.com/12729184/147842468-6584fa92-90a8-4227-a508-a8b7651354de.png)

Default clients will not use `nuget verify -signatures`, so system will

[2022-01-03 18:04] joelverhagen commented on #8918
Hey @shps951023, glad to hear about your focus on package signing details! I look at this issue, the package in question, and your thread with the package owner over on https://github.com/andersnm/ExcelNumberFormat/issues/34.

This package is certainly still in good standing (verifiable, secure) and there are many packages on NuGet.org (perhaps the majority, at this point?) that are in a similar s

[2022-01-03 18:35] joelverhagen commented on #5956
This is not needed with Queue back + current orchestrator-based telemetry.

[2022-01-03 18:35] #5956 closed

[2022-01-03 18:59] joelverhagen commented on #8686
Since this issue has been open for a while without much activity, I am going to close it. If you are still facing a problem with connecting to NuGet.org, please feel free to open a new issue and we will investigate!

[2022-01-03 18:59] #8686 closed

[2022-01-03 19:12] joelverhagen commented on #8191
Linked issue is closed.

[2022-01-03 19:12] #8191 closed

[2022-01-03 19:15] joelverhagen opened #8919 "[NuGet.org Bug]: A11y_NuGet Service_Existing User_API Keys_Reflow : On Zooming the screen to 400% two scroll bar are appearing."
### Impact

It's more difficult to complete my work

### Describe the bug

From https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1439351

### Repro Steps

1. Hit the https://www.nuget.org/
2. Tab navigate to "Sign in" control and hit enter.
3. Tab navigate to "Sign in with Microsoft" control and hit enter.
4.  Select “API Keys” from the Profile Dropdown and hit enter.
5.  "API Keys" screen g

[2022-01-03 19:16] joelverhagen opened #8920 "[NuGet.org Bug]: A11y_NuGet Service_.Json_InfoSection_Reflow : On Zooming the screen to 400% "Graph section" is not visible."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1439345

### Repro Steps

1. Hit the URL: https://www.nuget.org/
2. Tab navigate to "Sign in" control and hit enter.
3. Tab navigate to "Sign in with Microsoft" control and hit enter.
4. Tab navigate to search box and search for a key term (say “json”).
5. Tab n

[2022-01-03 19:17] joelverhagen opened #8921 "[NuGet.org Bug]: A11y_NuGet Service_Packagesreturnedforjson_Packagesreturnedforjson_Use of color : The users will not be able to distinguish between the normal text (Latest version: 13.0.1) and link (json)."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1438730

### Repro Steps

1. Hit the URL:https://www.nuget.org/
1. Tab navigate to "Sign in" control and hit enter.
1. Tab navigate to "Sign in with Microsoft" control and hit enter.
1. Search for a key term (say “json”) from search box.
1. "Packages returned fo

[2022-01-03 19:19] joelverhagen opened #8922 "[NuGet.org Bug]: A11y_NuGet Service_.Json_Version History_Screenreader : Narrator is not announcing column name as column header for "Version and Downloads"."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1438720

### Repro Steps

1. Hit the URL: https://www.nuget.org/
1.  Tab navigate to "Sign in" control and hit enter.
1.  Tab navigate to "Sign in with Microsoft" control and hit enter.
1.  Search for a key term (say “json”) from search box.
1.  Click on "Newton

[2022-01-03 19:21] joelverhagen opened #8923 "[NuGet.org Bug]: A11y_NuGet Service_Upload Package_Custom_Screenreader : Narrator is not announcing error message."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1438007

### Repro Steps

1. Hit the URL: https://www.nuget.org/
1. Tab navigate to "Sign in" control and hit enter.
1. Tab navigate to "Sign in with Microsoft" control and hit enter.
1. Select “Upload Package” from the Profile Dropdown and hit enter.
1. Tab nav

[2022-01-03 19:22] joelverhagen opened #8924 "[NuGet.org Bug]: A11y_NuGet Service_Organizations_Email Notifications_HighContrast: In High contrast mode Keyboard focus is not completely visible on "Check boxes"."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1437973

### Repro Steps

1. Hit the URL: https://www.nuget.org/
1. Tab navigate to "Sign in" control and hit enter.
1. Tab navigate to "Sign in with Microsoft" control and hit enter.
1. Tab navigate to “Manage Organizations” from the Profile Dropdown and hit en

[2022-01-04 01:19] shps951023 commented on #8918
Hi @joelverhagen ,
Thank you for your kind response.

[2022-01-04 01:19] #8918 closed

[2022-01-07 16:12] MatthewSteeples commented on #8559
Just a note on this one. I think it's a configuration issue rather than code: www-1 seems to be set up with itself as a canonical host (rather than just www)

Example: https://www-1.nuget.org/profiles/WindowsSDK

[2022-01-07 16:20] joelverhagen opened #8932 "Some canonical URLs are still not working"
Just a note on this one. I think it's a configuration issue rather than code: www-1 seems to be set up with itself as a canonical host (rather than just www)

Example: https://www-1.nuget.org/profiles/WindowsSDK

_Originally posted by @MatthewSteeples in https://github.com/NuGet/NuGetGallery/issues/8559#issuecomment-1007534574_

[2022-01-08 21:04] ntimmerman opened #8934 "[Self-hosted Bug]: Response status code does not indicate success: 405 (Method Not Allowed)."
### Impact

I'm unable to use this version

### Describe the bug

I'm hosting Nuget.Server in IIS. I am running NuGet.Server v3.4.1.0.

I am running a push command:

nuget.exe push .\CSharpClassLibDemo.1.0.0.nupkg 60f43559-b598-4bee-b13c-e75f3de3f46b -src http://myservername/Nuget

The path to the file are right. The source is right. But the thing only returns the following error.

Pushing CSharpC

[2022-01-10 23:05] loic-sharma opened #8935 "[Deployment] 2022.01.10"
# Gallery

## Changes

* https://github.com/NuGet/NuGetGallery/pull/8902 (tracked by https://github.com/NuGet/NuGetGallery/issues/8899)
* https://github.com/NuGet/NuGetGallery/pull/8901 (tracked by https://github.com/NuGet/NuGetGallery/issues/8897)
* https://github.com/NuGet/NuGetGallery/pull/8910 (tracked by https://github.com/NuGet/NuGetGallery/issues/8938)
* https://github.com/NuGet/NuGetGaller

[2022-01-10 23:48] jmarolf commented on #8222
I would really love this feature. The "Used By" feature as implemented today has no real use for us as we've had more than five people use our library.

I don't really know who the current feature is for. Being only able to see a small section of "top" users is reasonable as a starting point but has very little actionable information. The instant you want to use this information _for_ anything the

[2022-01-11 00:08] joelverhagen commented on #8222
@jmarolf thanks for the feedback. Do you have a sense of how many "used by" entries you'd like to page through? Our goal of this was not to provide an exhaustive list since, for some packages, e.g. Newtonsoft.Json, it's not helpful and is taxing on our DB to page through hundreds of "Used By" packages/repos.

Would a cap at 100/1,000/10,000 suffice? Or do you actually want the full list and I have

[2022-01-11 00:10] joelverhagen commented on #8934
Hello @ntimmerman, do all packages cause this problem? For example, if you push this package (a package used for NuGet.Server integration tests), does it work?
https://github.com/NuGet/NuGet.Server/raw/main/test/NuGet.Server.Core.Tests/TestData/NuGet.Core.2.12.0.nupkg

[2022-01-11 19:37] lyndaidaii opened #8938 "Update markdig version with more extension support"
update markdig version to latest version 0.26.0

Here is changelog:
https://github.com/xoofx/markdig/blob/master/changelog.md

[2022-01-11 19:40] ebicoglu opened #8939 "Unlisted package version still seen in the version list API"
I unlisted the following package
https://www.nuget.org/packages/Volo.Abp.Cli/5.1.0

but I still see the `5.1.0` version from this API
https://api.nuget.org/v3-flatcontainer/volo.abp.cli/index.json

why this is imported? because my application notifies users about the new version from this https://api.nuget.org/v3-flatcontainer/volo.abp.cli/index.json service and its listing unlisted package right

[2022-01-11 20:25] loic-sharma commented on #8939
Hello, the version list is expected to include unlisted versions. See this documentation: https://docs.microsoft.com/nuget/api/package-base-address-resource#enumerate-package-versions

If you need to exclude unlisted versions consider using:

* The autocomplete list versions endpoint: https://docs.microsoft.com/nuget/api/search-autocomplete-service-resource#enumerate-package-versions
* The package

[2022-01-11 22:58] fgreinacher commented on #8757
@lyndaidaii Can you share an update regarding the legal clarifications around `https://socialify.git.ci/.../.../image`?

[2022-01-12 17:02] scarabdesign opened #8940 "[NuGet.org Bug]: Project website not correct for project"
### Impact

It's more difficult to complete my work

### Describe the bug

The link on this page for the project website clearly points to the wrong URL:
https://www.nuget.org/packages/Xamarin.Firebase.iOS.Core

The link:
https://go.microsoft.com/fwlink/?linkid=2007321

Forwards to:
https://github.com/xamarin/FacebookComponents/tree/main/Facebook.iOS/source/LoginKit

It should instead forward to:

[2022-01-12 19:57] joelverhagen commented on #8940
Hey @scarabdesign, this GitHub issue tracker is more for specific issues related to NuGet.org itself, rather than individual packages. My team (who manages this repo) is unable to fix this problem since we don't modify metadata of packages not owned by our team. Sorry for the confusion.

Please contact the package owner directly using the "Contact owners" link on the package details page.

Thanks!

[2022-01-12 19:57] #8940 closed

[2022-01-13 01:15] joelverhagen commented on #8844
Hey @nblumhardt, apologies on the slow responses here. I've been out on leave and we've had some responsibility changes regarding prefix reservation. I'm reading through this thread to get up to speed and will evaluate [your clever approach](https://github.com/NuGet/NuGetGallery/issues/8844#issuecomment-979521710).

[2022-01-13 01:38] joelverhagen opened #8941 "[NuGet.org Bug]: removing last owner on verified package as admin is not blocked, blue checkmark remains"
### Impact

It's more difficult to complete my work

### Describe the bug

Removing the last co-owner of a package that has ownership of an ID prefix reservation is blocked in the NuGet.org manage package Owners section (e.g. https://github.com/NuGet/NuGetGallery/issues/8844).

This is NOT blocked when you are logged in as a site admin, but this leaves the package in an inconsistent state. Theoret

[2022-01-13 01:52] joelverhagen commented on #8844
@nblumhardt, could you help me understand what the value of the new, temporary organization is in your suggestion? Would this essentially give you access to Serilog packages longer than the lifetime of the "serilog" ownership? Apologies if I am missing something.

Another approach you could consider is providing my team with the list of package IDs that need "serilog" removed (this can be done her

[2022-01-13 21:34] loic-sharma opened #8942 "[README] Support Mermaid diagrams"
### Related Problem

GitHub has Mermaid diagrams on their roadmap: https://github.com/github/roadmap/issues/372

A README containing this:

[code]

Renders as:

![](https://user-images.githubusercontent.com/1767415/147986289-f8283c0b-aa5e-4381-bd69-876edeef12d9.png)

### The Elevator Pitch

NuGet should support this too!

### Additional Context and Details

Part of the README effort: https://githu

[2022-01-17 06:16] nblumhardt commented on #8844
Hi @joelverhagen! Thanks for picking this back up. The value of the temporary organization is just that we don't yet know who the eventual owner should be for each package, though we do know which ones are moving out.

I think your suggestion - providing your team with a list of package ids - is good, and should be compatible with this. I'll get the list assembled. What's the best way to get it to

[2022-01-17 15:26] joelverhagen commented on #8844
Putting the list here is fine, if you're okay with sharing it publicly. Otherwise, you can send it to support@nuget.org, mentioning this issue as well.

[2022-01-19 00:55] Piedone opened #8944 "[NuGetGallery repository Bug]:"
### Impact

It bothers me. A fix would be nice

### Describe the bug

When opening a NuGet.org bug, the "this guide" links are broken:
![image](https://user-images.githubusercontent.com/1976647/150043139-2ac6b714-2031-4a48-9535-a5e209e4b46e.png)

### Repro Steps

Open https://github.com/NuGet/NuGetGallery/issues/new?assignees=&labels=Type%3ABug&template=NUGETORG_ISSUE.yml&title=%5BNuGet.org+Bug%5D

[2022-01-19 01:04] Piedone opened #8945 "[NuGet.org Bug]: "This package has not been indexed yet." for more than 3 hours"
### Impact

It's more difficult to complete my work

### Describe the bug

Similar to [the other such issues here](https://github.com/NuGet/NuGetGallery/issues?q=is%3Aissue+This+package+has+not+been+indexed+yet.+is%3Aclosed) or [in the Home repo](https://github.com/NuGet/Home/issues?q=is%3Aissue+This+package+has+not+been+indexed+yet.+is%3Aclosed), our freshly released [Lombiq.HelpfulLibraries pack

[2022-01-19 03:49] joelverhagen commented on #8945
Hello @Piedone, apologies on the delay for indexing your packages. NuGet.org got behind on the queue for new packages. You're right, this is pretty irregular, and our team is investigating the root cause.

We should be completely caught up now. It looks like your packages are fully indexed. Please let us know if you encounter this problem again.

@dannyjdev - could you include post-mortem an inves

[2022-01-19 06:08] Piedone commented on #8945
Thank you. It would also be great to see some hints on the expected indexing time in the message, together with information on what you can do (or where you can get support) if indexing is not done withing that time frame.

[2022-01-19 20:40] #8944 closed

[2022-01-19 20:40] joelverhagen commented on #8944
Thanks for pointing this out! Looks like our FAQ moved around a bit.

[2022-01-20 03:26] joelverhagen commented on #8945
@clairernovotny - what are your thoughts on improving messaging here on NuGet.org? Maybe something like a static message about 95th percentile ingestion times (we have this data) and a link to the contact support form?

[2022-01-21 00:17] Piedone commented on #8945
I published a new package and briefly got a message (couldn't screenshot it) pointing to this: https://docs.microsoft.com/en-us/nuget/nuget-org/publish-a-package#package-validation-and-indexing During this, the status of the package was "Validating" and now it's "Listed", and I get the same indexing message as before. This validation warning is actually exactly what I'd like to see when just index

[2022-01-21 18:57] Piedone commented on #8945
This is also an example of a helpful warning:
![image](https://user-images.githubusercontent.com/1976647/150584407-ae2779f6-5235-4c69-92de-2f4a0bf8cc20.png)

My first though was "why is my icon now showing?" and it answered it precisely.

[2022-01-21 19:42] joelverhagen commented on #8945
Thanks for the feedback @Piedone. I spoke to @clairernovotny (the PM who owns this experience) and here are some thoughts:

1. We can add a configuration for NuGet.org which enhances this message to "Indexing is taking longer than usual. Try checking the [status page](https://status.nuget.org/) or reaching out to support@nuget.org." when the time since package creation exceeds some threshold.
2. F

[2022-01-24 10:57] mgrie opened #8950 "[Self-hosted Bug]: 406 (Not Acceptable) / Nuget "Part URI cannot start with two forward slashes.""
### Impact

I'm unable to use this version

### Describe the bug

Pushing the Package "mongodb.driver.core.2.14.1.nupkg" runs into the Error:

406 (Not Acceptable) / Nuget "Part URI cannot start with two forward slashes."

The Bug corresponds to this Issue: https://github.com/dotnet/aspnet-api-versioning/issues/637

### Repro Steps

- Download mongodb.driver.core.2.14.1.nupkg
- Try to push the Pac

[2022-01-24 17:59] joelverhagen commented on #8950
I think you have diagnosed the root cause accurately. This appears to be a corrupted package w.r.t. to OPC (the stringent rules on how packages should be shaped that NuGet.Core -- NuGet 2.x -- follows closely. NuGet.Server uses this library for package processing.

I would recommend notifying the author (perhaps via GitHub or Contact Owners on NuGet.org) of this problem so that the package can be

[2022-01-24 18:38] clairernovotny opened #8951 "[Feature]: Display GitHub logo for Package Source link for GitHub.com sources"
### Related Problem

The Package Source link shows a generic Git icon for projects that are on GitHub.com. Putting the GitHub logo instead for projects hosted there is a small visual update that helps people more quickly locate the source link.
![image](https://user-images.githubusercontent.com/1427284/150843477-9b1218dd-02d2-49fa-9418-7a73db268e81.png)

### The Elevator Pitch

Helps locate the so

[2022-01-24 18:38] clairernovotny commented on #8951
/cc @NickCraver

[2022-01-25 00:03] #8921 closed

[2022-01-25 08:50] xoofx commented on #8644
Hey,
Just want to raise my voice on this issue, as it is causing many of my packages to not render correctly on NuGet. For example: https://www.nuget.org/packages/Tomlyn/

On all my projects, I'm putting usually a html logo aligned on the right side:

[code]

As the main developer of `markdig`, I would suggest more the second approach. This is what I used for the service [`babelmark`](https://babe

[2022-01-25 09:03] adamralph commented on #8644
Since the vast majority of README files are designed to render correctly in GitHub, it would seem sensible to replicate the HTML rendering in GitHub, in the NuGet gallery.

[2022-01-25 18:07] clairernovotny opened #8953 "Ownerless packages should be automatically marked as deprecated"
When a NuGet account is deleted and that account has packages, they packages are maintained as to not break things. On NuGet.org, we put a warning saying, "This package has no owners and is not being actively maintained.".

We should also automatically marked all package/versions as deprecated and use that same warning message. Logically a package that has no owners must be deprecated as it can ne

[2022-01-25 20:06] joelverhagen commented on #8932
This is deployed to PROD. Thanks again, @MatthewSteeples. Please let us know if you see anything else strange with canonical URLs.

[2022-01-25 20:06] #8932 closed

[2022-01-25 22:09] advay26 opened #8955 "[Deployment] 2022.01.25"
# Gallery

## Changes

* https://github.com/NuGet/NuGetGallery/pull/8933 (tracked by https://github.com/nuget/nugetgallery/issues/8924)
* https://github.com/NuGet/NuGetGallery/pull/8948 (tracked by https://github.com/NuGet/Engineering/issues/4212)
* https://github.com/NuGet/NuGetGallery/pull/8954 (tracked by https://github.com/NuGet/NuGetGallery/issues/8923)

Changes without tracking issue:
* http

[2022-01-26 16:35] repelentosa opened #8959 "[NuGet.org Bug]: A lot of SPAM - PHISHING websites into NUGET!"
### Impact

I'm unable to use NuGet.org

### Describe the bug

Hello DEVs.

I am user of NUGET since 5 months, but i found a LOT OF SPAMMY/PISHING WEBSITES!
How it is possible?
Part of links:
https://www.nuget.org/packages/Unused-Free-PSN-Codes-Generator-App-2022-XtC/
https://www.nuget.org/packages/Hack-Among.Us.Hack.Unlimited.2022/3.0.2
https://www.nuget.org/packages/BUXFLY-ROBUX-HACK-2022-JANUAR

[2022-01-26 20:17] joelverhagen opened #8961 "[Feature]: Enhance the NuGetGallery backfill tools to allow a specific set of packages to be reprocessed"
### Related Problem

Current the backfill tool only allows the full DB to be reprocess via a "collect" command then an "update" command.

### The Elevator Pitch

Let's add a way to provide a big list of package IDs and versions to reprocess. These IDs and versions can be sourced from NuGet.Insights or Gallery DB depending on the situation.

### Additional Context and Details

It looks like we may

[2022-01-27 02:08] ryuyu commented on #8920
This appears to be due to the element showing example glob patterns having a larger width than the page (which has responsively reflowed to the resize). Exploring options now.

[2022-01-27 02:10] ryuyu commented on #8919
This appears to be due to the table showing sample blob patterns not responding correctly to the resize. Investigating options now.

[2022-01-27 19:18] clairernovotny opened #8963 "Incorrect link on NuGet TOU page"
On the NuGet TOU page (https://www.nuget.org/policies/Terms), the link in the “Your Privacy” section to the "Microsoft Privacy Statement" is wrong. The current link (https://go.microsoft.com/fwlink/?linkid=2180118) points to the “Reporting Infringement” page. It should it point to the Privacy Policy page (https://go.microsoft.com/fwlink/?LinkId=521839) that’s in the footer instead. Confirmed with

[2022-01-27 19:52] erdembayar commented on #8048
@NuGet/gallery-team
Is there any plan to work on this? I don't see any priority tag.

[2022-01-27 20:45] JonDouglas opened #8964 "[Feature]: Show and score packages based on popularity, quality, maintenance, and community."
### Related Problem

_No response_

### The Elevator Pitch

With over 290,000 unique NuGet packages and over 4,000,000 package versions available to download, developers face an even harder challenge of being able to validate the quality of a package to be used in their projects.

There's many challenges to the quality of a package such as how many dependencies the package takes on, the amount of

[2022-01-27 22:25] tonyqus commented on #8770
@joelverhagen  It's nice to meet you here.

I did notice that nuget is frequently changing the download number for some reasons. First time I see it, I guess I may not sleep very well and it's an illusion. :D But after several times, it looks there are some jobs running behind nuget.org to adjust the download number.

According to what you explained, is it just cache issue? Because I even notice s

[2022-01-28 00:19] joelverhagen commented on #8770
Hi @tonyqus 👋! Yes, it's just a cache issue. We're very close to shipping a newer version of our stats pipeline that should avoid this problem. Keep an eye out for this problem in about a month or so. If it's still happening, we'll revisit this issue with fresh eyes. Apologies on the illusions 😄.

[2022-01-28 00:51] #8924 closed

[2022-01-28 21:46] clairernovotny opened #8965 "Tabs and Readme conflict"
Right now the readme's use # to navigate. This could conflict with anchors in readme's when we support them. That's a separate issue as we currently don't.

Either way, once we support readme navigation, we don't want to risk a conflict that interferes with our site navigation.

[2022-01-28 23:53] shishirx34 commented on #8959
@repelentosa - thank you for reporting these issues. We will take a look at these packages and investigate.

[2022-01-28 23:53] #8959 closed

[2022-01-29 14:56] clairernovotny commented on #8833
I currently consider this a blocker towards using ReadMe's with several of my packages that have long readmes (Humanizer and Refit come to mind).

[2022-01-31 07:29] loic-sharma opened #8968 "Improve experience when snupkg has validation failures"
Uploading a snupkg with Windows PDBs will result in a validation failure. This experience should be improved:

* The error message should list which files were bad
* The error message should link to docs that explain how to solve this problem (use portable PDBs or embed your symbols in the nupkg)
* Perhaps the NuGet client should warn/error if Windows PDBs were packed in a .snupkg.

See: https://m

[2022-01-31 10:45] kalirajanganeshan opened #8969 "Signature Verify warning in Syncfusion NuGet package"
### Impact

Other

### Describe the bug

We have signed and published the Syncfusion.Tools.Windows(v17.2.0.34) on 07/11/2019 at the time our signing certificate has validity till 2020. We are facing the below failure in below shared machine configuration while running the following NuGet signature verify command, but this issue was reproduced in some machine only. Can you please check and update s

[2022-01-31 13:23] clairernovotny opened #8970 "[Feature]: Validation failures for snupkg should specify which pdb(s) were problematic"
### Related Problem

From Twitter: https://twitter.com/punker76/status/1487421607303946243

If a snupkg contains both portable and Windows PDBs, validation will fail as expected. However the message doesn't say which file was the problem and it's hard for the user to know.

### The Elevator Pitch

The validation messages should specify which files within a snupkg had issues.

### Additional Contex

[2022-01-31 17:43] repelentosa commented on #8959
Ok.
My team found following links again.

Can you help me with contact with myget.org?
I did notice about spammy but no answer.
https://www.nuget.org/packages/Earn-Free-iTunes-Gift-Cards-in-2022/
https://www.nuget.org/packages/Free-Itunes-Gift-Card-Generator-2022/
https://www.nuget.org/packages/Imvu-Credits-Free/5.6.1

https://www.myget.org/feed/free-code/package/nuget/PS-Plus-Codes-Free-PSN-Cards

[2022-01-31 22:13] shishirx34 commented on #8922
external bug

[2022-01-31 23:18] joelverhagen commented on #8969
Hey @kalirajanganeshan, I'm going to move this over to NuGet/Home. This appears to be a question about NuGet package signing and the folks over there are more familiar with signing and warnings that NuGet client tooling can produce.

[2022-01-31 23:18] chlafreniere opened #8971 "[NuGet.org Bug]: Downloads for Latest Version of Package Incorrectly Shows as 0"
### Impact

It's more difficult to complete my work

### Describe the bug

My team owns https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Sql/ and recently pushed a new version of this package to NuGet.org.

Since then, download numbers on NuGet have stayed at 0 on this latest version (0.1.207-preview), but we know that customers are using this, as we have signals from elsewhere (e

[2022-01-31 23:31] joelverhagen commented on #8971
Hello @chlafreniere, apologies on the inconvenience. We have an ongoing issue with delayed package statistics. We have a notice on our [status page](https://status.nuget.org/).

[2022-02-01 00:36] loic-sharma opened #8975 "Remove original package details page"
### Related Problem

Currently Gallery has two versions of the package details page due to a recent redesign. We maintain both versions currently.

### The Elevator Pitch

 Now that we've shipped the redesign, we should drop the previous version.

### Additional Context and Details

_No response_

[2022-02-01 01:33] chlafreniere commented on #8971
Oh jeez, we totally missed that. Thank you so much, @joelverhagen! Will close this issue then.

Thanks so much for the quick reply!

[2022-02-01 01:33] #8971 closed

[2022-02-01 16:42] loic-sharma commented on #8970
Merging this one with https://github.com/NuGet/NuGetGallery/issues/8968

[2022-02-01 16:42] #8970 closed

[2022-02-02 00:53] dannyjdev commented on #8922
Resolved the AzDo item and assigned it to the tester. Explanation of why I consider this to be an external bug is on the AzDo item.

[2022-02-02 00:53] #8922 closed

[2022-02-02 22:43] #8923 closed

[2022-02-02 23:30] jodydonetti opened #8979 "[NuGet.org Bug]: Download counters not updating for pre-release packages?"
### Impact

It bothers me. A fix would be nice

### Describe the bug

## TL/DR

It seems to me that the download counter is not working for versions of packages that are marked as pre-release.

The total download for a package that has pre-release versions but also "normal" versions seems to work fine, even though each pre-release version is stuck at 0 (zero).

Please note that the usual delay of

[2022-02-03 02:35] joelverhagen commented on #8979
Hello @jodydonetti, apologies on the inconvenience. We have an ongoing issue with delayed package statistics. We have a notice on our [status page](https://status.nuget.org/).

[2022-02-03 09:27] jodydonetti commented on #8979
Oh damn, sorry for the very long (and useless) issue!

The thing that tricked me was the fact that packages downloads were in fact increasing, just not for the pre-release versions which felt quite strange.

Honestly before posting I searched for some tweets about stats problems but was not able to find any, and I did not spot the status page link in the site footer, my bad.

Sorry for having wast

[2022-02-03 21:43] zhhyu commented on #8963
The link has been updated.

[2022-02-03 21:43] #8963 closed

[2022-02-03 22:25] #8955 closed

[2022-02-04 20:34] JonDouglas opened #8980 "Help Us Improve Our Open Source Repositories!"
We'd love to hear from those of you who participate often in our open source project and let us know how we're doing as maintainers.

Whether you've been involved for awhile now or you're relatively new to open source, please let us know about your experience by [taking a survey that will take a couple minutes](https://www.surveymonkey.com/r/8QTQTGJ?Source=NugetGallery).

Thank you kindly!

[2022-02-04 22:43] #8938 closed

[2022-02-07 00:41] zehavibarak opened #8982 "Readme node in .nuspec xml unable to compile"
We are using .nuspec & nuget pack cli. I tried to set a
[code]
in project .nuspec. But the `nuget pack .` throws an exception that _readme_ in not found in http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd.

[2022-02-07 01:10] Jack005566 opened #8983 "[NuGet.org Bug]: Why have download counts not updated?"
### Impact

It bothers me. A fix would be nice

### Describe the bug

![image](https://user-images.githubusercontent.com/68726706/152710149-915b98a4-58c0-4bfa-aca8-aa2d1c82e724.png)
EPPlus 4 days without download data

### Repro Steps

https://www.nuget.org/packages/EPPlus/

### Expected Behavior

nodejs.org every day update data, but nuget org looks like not

### Screenshots

_No response_

### A

[2022-02-07 02:08] joelverhagen commented on #8983
Hello @Jack005566, apologies on the inconvenience. We have an ongoing issue with delayed package statistics. We have a notice on our [status page](https://status.nuget.org/).

We're in the process of ingesting old logs to catch up. Hopefully in next week or so, all of the downloads since the package was published will be reflected on nuget.org.

[2022-02-07 02:35] Jack005566 commented on #8983
@joelverhagen really appreciate Nuget team's efforts

[2022-02-07 18:13] #7763 closed

[2022-02-07 19:08] JonDouglas opened #8984 "Plan for NuGet in 2022"
Today we are excited to share with you the plan for NuGet and NuGet.org. This issue contains summary of the plan for the year and acts as a place for you to leave feedback.

This plan is a collection of input from many stakeholders and outlines where we intend to invest our time in NuGet and NuGet.org.

# General information

NuGet has a major release following [NuGet 6.0](https://docs.microsoft.c

[2022-02-07 20:29] jodydonetti commented on #8979
Hi @joelverhagen I know the issue with delayed package stats is still goign on, but I just wanted to update you on the fact that after several days my download stats keep increasing for all my packages and package versions, **except** the pre-release one, which are still at a flat zero.
Maybe it's nothing, but since you are still investigating the issue and since the fact that only the pre-release

[2022-02-07 20:33] joelverhagen commented on #8979
@jodydonetti thanks for the additional data point. Historically prerelease versions are adopted at lower rates than stable versions so, without digging very deeply into our pipeline, I would guess that this effect you are seeing is more related to users' download behavior than this specific bug. That being said, it _is_ suspicious so let's leave this bug open until we've mitigated impact so we can

[2022-02-07 20:41] jodydonetti commented on #8979
I thought about the same (pre-releases are less picked up etc) but in 11 days since the release the download count is not 50 or 20 or even 10, it is absolutely flat zero for all the alpha versions:

![image](https://user-images.githubusercontent.com/1010086/152867662-82d484d5-a54d-4d47-a9c2-6bbc762a01db.png)

And I know for a fact that some people downloaded them, and even more so that I myself do

[2022-02-07 20:46] joelverhagen commented on #8979
Nope, no lost data 👍

We're just slowly crunching through many gigabytes of logs! To provide a little more context, our old statistics pipeline is based on SQL and has had progressively worsening scale problems over the past several years. We're in the process of moving off of this older pipeline to something based on Azure Synapse but, unfortunately, the old pipeline ran into a serious problem be

[2022-02-07 20:52] jodydonetti commented on #8979
![image](https://user-images.githubusercontent.com/1010086/152869867-6216331f-645b-4793-912c-5499df9b823e.png)

[2022-02-07 21:55] advay26 opened #8986 "[NuGet.org Bug]: A11y_NuGet Service_Microsoft.EntityFrameworkCore.SqlServer_ColorContrast :The color contrast ratio of the focus on the item in the top navigation is 2.061:1 which less than 3:1"
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468939

### Repro Steps

1. Launch the application URL: https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.SqlServer/
2. Tab to the tap navigation
3. Run the Accessibility insights for web
4. Check the color contrast for the selected items

The color

[2022-02-07 21:59] advay26 opened #8987 "[NuGet.org Bug]: A11y_NuGet Service_Home_Create .NET apps faster with NuGet_ColorContrast :The color contrast ratio of 'search' sign with respect to it's background is 2.81:1 which less than 3:1."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468969

### Repro Steps

1. Launch the application URL:https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.SqlServer/
2. Tab to the tap navigation
3. Run the Accessibility insights for web
4. Check the color contrast for the selected items

The color c

[2022-02-07 22:02] advay26 opened #8988 "[NuGet.org Bug]: A11y_NuGet Service_Home_Create .NET apps faster with NuGet_Text Spacing: After applying text spacing 'Versions' text is not visible properly."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468954

### Repro Steps

1. Launch the application URL: https://www.nuget.org/
2. "Home" page will get open.
3. Apply text spacing and observe that 'Versions' text is visible properly or not.

After applying text spacing 'Versions' text is not visible properly.

[2022-02-07 22:09] #8935 closed

[2022-02-07 22:27] drewgillies opened #8989 "[AVERT v2] Deployment pipeline adjustments for functions"

[2022-02-07 22:29] drewgillies opened #8990 "[AVERT v2] Azure function for callback listening"

[2022-02-07 22:30] drewgillies opened #8991 "[AVERT v2] Azure function for takedown listening"

[2022-02-08 17:51] JonDouglas commented on #4843
@adelarsq This is out of scope right now as this work has already been merged and will be released shortly. I encourage you to create a separate issue regarding the feature request.

[2022-02-08 21:18] adelarsq commented on #4843
@JonDouglas Nice! Thanks for the reply. I will create a new request for this.

[2022-02-08 21:42] pranavkm opened #8994 "[NuGet.org Bug]: Anchor link focus outline makes it hard to read"
### Impact

It bothers me. A fix would be nice

### Describe the bug

On NuGet.org, focusing on an anchor link adds a fairly thick outline which makes it hard to read the anchor text. For instance, I tabbed on the version listing for `Microsoft.Extensions.DependencyInjection` and here's what that looks like:

![image](https://user-images.githubusercontent.com/174281/153080150-fd3cf34b-e619-48b7-b9

[2022-02-09 05:19] loic-sharma commented on #8994
/cc @ryuyu You're doing an accessibility pass this sprint right? Could you check if our focus meets accessibility requirements here?

[2022-02-10 04:26] drewgillies opened #8999 "[Deployment] 2022.02.09"
# Gallery

## Changes
FI `main` to `dev`:
* https://github.com/NuGet/NuGetGallery/pull/8966 (tracked by https://github.com/NuGet/Engineering/issues/4226)
* https://github.com/NuGet/NuGetGallery/pull/8967 (tracked by https://github.com/NuGet/Engineering/issues/4226)
* https://github.com/NuGet/NuGetGallery/pull/8973 (no tracking issue)
* https://github.com/NuGet/NuGetGallery/pull/8978 (tracked by ht

[2022-02-10 04:41] joelverhagen commented on #8999
This changeset has a DB migration. Make sure to run this before deployment. @advay26 is the owner.

[2022-02-10 22:09] ryuyu commented on #8994
I believe we are within spec, but this is still a problem.
I'll see if we can make the stroke for focus go around the outside.
I'm guessing we are using an inner stroke AND outer stroke for focus (at least that is what it looks like)
We should be able to work around this by moving to an outer stroke only and doubling the thickness.
In any case, I will look in to this.

[2022-02-10 22:15] #8961 closed

[2022-02-11 00:22] jodydonetti commented on #8979
HI @joelverhagen , just wanted to update you.

![image](https://user-images.githubusercontent.com/1010086/153517837-c8c2991d-3078-4674-843d-4680e9cf17fb.png)

It seems some downloads are appearing for the `alpha1` versions, so the theory outlined seemed correct: it was still procesing the logs before my first alpha release (Jan 28th) and now it has reached that date. Also, `alpha2` and later `beta

[2022-02-11 00:22] #8979 closed

[2022-02-11 04:46] Jack005566 commented on #8983
@joelverhagen
Excuse me, extra question, is this using queue technology?

[2022-02-11 08:07] nickeeex opened #9000 "[NuGet.org Bug]: Using nuget.core 2.14.0 with https://www.nuget.org/api/v2 no longer allows finding packages."
### Impact

I'm unable to use NuGet.org

### Describe the bug

We are using NuGet.Core 2.14.0 with https://www.nuget.org/api/v2 and yesterday we started experiencing an error blocking finding packages.

We are getting the following exception on almost all packages we try to find using FindPackages(...)
System.InvalidOperationException: Response version '3.0' is not supported. The only supported ve

[2022-02-11 14:31] joelverhagen commented on #8983
We do have a queue of access log files that we are slowly processing through which account for package downloads. These access logs are persisted in Azure Blob  Storage while they wait to be processed.

[2022-02-11 17:38] joelverhagen commented on #9000
Hey @nickeeex, I'm not able to repro the exception you've encountered. I tried to guess the code you're using and came up with this, which appears to work just fine.

[code]

Also, I highly recommend trying out the NuGet.Protocol package which is much more performant and has the capability to interact with the V3 NuGet feed. Here are some great samples to get you started if you want to try the V3

[2022-02-11 17:48] joelverhagen commented on #9000
Another weird thing to note is that the `FindPackagesById()` endpoint does not support a `version` query, like in your example URL:
https://packages.nuget.org/api/v2/FindPackagesById()?id='System.Runtime.Serialization.Primitives'&version='4.1.1'

Aside from several OData query parameters (e.g. `$orderby`), on `id` and `semVerLevel` are supported on this endpoint:
https://github.com/NuGet/NuGetGall

[2022-02-11 20:11] nickeeex commented on #9000
The manual example was a bit hastely cobbled togeather, sorry for that.

So here is an example code that fails for us, but not always, it seems to be random? some packages fail for a couple of hours and then another one.
[code]
This code will create a request like:  https://packages.nuget.org/api/v2/FindPackagesById()?id='System.Runtime.Serialization.Primitives'

This code has been untouched for m

[2022-02-11 21:17] joelverhagen commented on #9000
I see a null reference exception when running your sample, as well as in your LINQPad screenshot. Is this a different situation that the exception mentioned in your original post, regarding a `InvalidOperationException`?

[2022-02-11 21:24] nickeeex commented on #9000
It's the same issue, the real exception seems to be swallowed by NuGet.Core
at NuGet.DataServiceQueryWrapper`1.ExtractMessageFromClientException(Exception exception)
   at NuGet.DataServiceQueryWrapper`1.Execute[TResult](Func`1 action)

[2022-02-11 22:07] joelverhagen commented on #9000
Got it, thanks! I'll investigate this issue.

[2022-02-12 00:16] Jack005566 commented on #8983
@joelverhagen really appreciate your reply

[2022-02-14 20:18] joelverhagen commented on #9000
Hey @nickeeex, we've identified an issue in a recent caching change where these OData request headers were not contributing to a cache variant. We have added `MaxDataServiceVersion` to the cache variant configuration.

Could you let me know if you are still having issues?

[2022-02-14 21:11] loic-sharma commented on #8975
This issue has been deployed to PROD, however, we still need to remove the feature flag. Just in case we need to rollback the deployment, I will wait until the next deployment before removing the feature flags.

[2022-02-15 02:44] #8999 closed

[2022-02-15 05:00] drewgillies opened #9002 "GitHubVulnerabilities2Db broken by a dependency change"
The current build of GitHubVulnerabilities2Db will not run (it fails with an assembly load error on NuGetGallery.Core). Currently deployed build is from June 2022, so a break has been introduces since then. Possibly this PR: https://github.com/NuGet/NuGetGallery/pull/8740/files.

The AI on a deployment of the current build indicates ObjectDisposed exceptions on System.Net.Http.HttpClient in the Gr

[2022-02-15 06:15] nickeeex commented on #9000
The issue seems to be resolved. Thank you very much for the help.

We'll start working on extending NuGet.Protocol to support using Azure Blob Container as the NuGet Repository to get rid of the deprected NuGet.Core

[2022-02-15 06:36] joelverhagen commented on #9000
Thanks for the confirmation!

[2022-02-15 06:36] #9000 closed

[2022-02-15 13:06] daveaglick opened #9003 "[Feature]: Better error message when uploading a certificate fails"
### Related Problem

_No response_

### The Elevator Pitch

The error message when uploading a certificate to the gallery that doesn't meet requirements isn't particularly helpful:

![image](https://user-images.githubusercontent.com/1020407/154065380-17d5b45b-51c7-4aea-ac3d-9223fad36f11.png)

It tells you what you need, but not how what you uploaded wasn't correct or how to get from what you uploa

[2022-02-15 13:11] hardik-2 opened #9004 "[NuGet.org Bug]:"
### Impact

I'm unable to use NuGet.org

### Describe the bug

Not able to connect to the project website https://webgrease.codeplex.com/. It is showing the site is unreachable. Our Governance Team need to explore the project site before consuming it NuGet .

### Repro Steps

1.Go to URL  https://webgrease.codeplex.com/
2.Check for its availability

### Expected Behavior

Site should be reachable

[2022-02-15 15:51] joelverhagen commented on #9004
Hello @hardik-2. This GitHub repository is for the NuGet.org project itself. Our team does not support individual packages. Consider using the "Contact owners" link available on the package details page on NuGet.org. This will allow you to send a message to the package owners.

[2022-02-15 15:51] #9004 closed

[2022-02-15 21:30] JonDouglas commented on #4843
https://devblogs.microsoft.com/nuget/introducing-compatible-frameworks-on-nuget-org/

🚢🚢🚢 (Thanks to @dannyjdev & team!)

[2022-02-15 21:30] #4843 closed

[2022-02-15 22:02] no1melman opened #9007 "[Bug]: SearchQueryService doesnt find System.CommandLine"
### NuGet Product Used

Other/NA

### Product Version

https://azuresearch-usnc.nuget.org

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

[code]

neither

[code]

if you do

[code]
that works,

but

[code]

still doesn't show anything

-- compare to --

nuget.org and search for System.CommandLine which actually shows the package

why can't

[2022-02-15 22:02] devlead opened #9005 ".NET 6 not listed besides .NET Core 3.1 /5.0"
### Impact

It bothers me. A fix would be nice

### Describe the bug

.NET 6 not listed for Tool and class library targeting .NET 6, but .NET 5 and .NET Core 3.1 is.

Example tool
![Screenshot_20220215-224750](https://user-images.githubusercontent.com/1647294/154156200-abb96ccd-62d5-4b98-9805-2c4c2516c524.jpg)

Example class library
![Screenshot_20220215-225722](https://user-images.githubuserconte

[2022-02-15 23:12] dannyjdev commented on #9005
Hi, thank you for creating an issue. The "Framework Badges" will only display the 4 major .NET products (.NET, .NET Core, .NET Standard, and .NET Framework), and we are only including the lowest frameworks that are part of the package assets from each one of those products. In this particular case net5.0 and net6.0 are part of the package assets, but since net5.0 is the lowest package asset framew

[2022-02-15 23:23] devlead commented on #9005
I see, that was unexpected, especially excluding LTS versions.

As this is by design, I'll go ahead and close this issue.

[2022-02-15 23:23] #9005 closed

[2022-02-15 23:29] JonDouglas commented on #9005
@devlead This still brings up a question. Is there a preferred display for these badges from your perspective? That would really help us understand more. Such as LTS versions, latest versions, etc.

[2022-02-15 23:34] devlead commented on #9005
I would've expected .NET 6 to not be excluded.

[2022-02-17 14:19] alex6dj opened #9008 "[Feature]: Better framework detection based on dependencies"
### Related Problem

Recently I had a problem with ReactiveProperty 8.0.3 package, in documentation it said to support .Net Framework 4.6.1 (in fact nuget.org say the same right now), but it have a dependency in System.Reactive 5.0 wich in fact only support .Net Framework 4.7.2 and above. Then after upgrade everything fail in my WPF .Net Framework 4.6.1 project.

### The Elevator Pitch

I think nu

[2022-02-18 07:41] D4N4M8 opened #9010 "Add config option to show the nuspec title field in NuGet.Server's OData title field instead of package ID"
### NuGet Product Used

NuGet.exe, NuGet SDK

### Product Version

NuGet.Protocol (6.1.0)

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I'm in the process of transitioning from a local NuGet feed to a self-hosted NuGet server. I encountered a problem when testing the self-hosted NuGet server, which affects the NuGet packages or

[2022-02-18 19:02] nkolev92 commented on #9010
This seems like a NuGet.Server problem.

Moving to the gallery repo.

[2022-02-18 23:43] xuzhg opened #9012 "[NuGet.org ]: Why is the download number Always 0"
### Impact

Other

### Describe the bug

The download of our latest version 8.0.7 is 0 as:

![image](https://user-images.githubusercontent.com/9426627/154775237-89ea667d-cf09-4944-9f69-110c0d54a8d8.png)

What's wrong with this version? because all other versions have a download number.

### Repro Steps

Go to nuget.org, search for microsoft.aspnetcore.odata

### Expected Behavior

Should have the

[2022-02-19 03:45] joelverhagen commented on #9012
Hello @Jack005566, apologies on the inconvenience. We have an ongoing issue with delayed package statistics. We have a notice on our [status page](https://status.nuget.org/).

We're in the process of ingesting old logs to catch up. Our old statistics system has reached a breaking point for log ingestion and we are in the process of moving to a new system.

[2022-02-19 05:45] xuzhg commented on #9012
@joelverhagen Thanks for your information.
by the way, I think you @xuzhg , not @Jack005566. :)

[2022-02-19 07:23] joelverhagen commented on #9012
Right you are! Oops!

[2022-02-21 06:29] mfkl opened #9013 "[NuGet.org Bug]: Wrong additional computed target frameworks if native dependencies"
### Impact

It bothers me. A fix would be nice

### Describe the bug

Recently a new feature on nuget.org shows the TFMs on each package's page.

When implicit or explicit native dependencies are involved, the binding project page may show it supports a platform that the native package does not support, which can be effectively misleading to users.

![image](https://user-images.githubusercontent.c

[2022-02-21 18:14] ppittle opened #9014 "[NuGet.org Bug]: Intermittent 500: https://api-v2v3search-0.nuget.org/query?"
### Impact

I'm unable to use NuGet.org

### Describe the bug

Using a browser, or other http client, navigate to **https://api-v2v3search-0.nuget.org/query?q=PackageId:AWSSDK.AWSSupport&prerelease=true**

Reload the page several times.

On at least one reload, observe error message:

[code]

### Repro Steps

Steps to reproduce this behavior

1. Navigate to https://api-v2v3search-0.nuget.org/query

[2022-02-22 00:59] Jack005566 commented on #8983
@joelverhagen
It's 21 days, is it too many queue items > process speed?
really appreciate your effort

[2022-02-22 02:36] joelverhagen commented on #8983
Yes that's pretty much the gist of it. Our path forward is to stabilize our new stats system which has no ingestion speed issues. We hope to have this stable and live for NuGet.org download count numbers in the next week or two. Our first priority as a team is availability of package download (e.g. NuGet restore) but we're also focused on this issue in parallel. Apologies for the delay.

[2022-02-22 18:35] joelverhagen commented on #9014
Hello @ppittle, thanks for taking the time to report this. Our telemetry is showing that this issue is resolved. The last failure from our monitoring was at Feb 21st 2022 at 20:06 UTC. Please let us know if you are encountering any additional problem with this endpoint.

[2022-02-22 18:42] joelverhagen commented on #9013
Hey @mfkl, thanks for taking the time to report this. I have assigned the issue to the two owners of this new feature.

Could you help me understand where the native dependency of your package is referenced or stated in the package metadata? One potential challenge here is that perhaps NuGet does not have a way yet to model this sort of native dependency in a way you like. From the description on

[2022-02-22 18:50] joelverhagen commented on #9010
@D4N4M8 thanks for the detailed bug report. I am not sure if this is specific to NuGet.Server. Could you try your sample app against NuGet.org's V2 endpoint? i.e. `https://www.nuget.org/api/v2`

If you query for a package like Newtonsoft.Json, which has a title field of `JSON.NET`, I think you may see the same problem.
https://www.nuget.org/api/v2/Packages(Id='Newtonsoft.Json',Version='9.0.1')
![i

[2022-02-22 18:57] joelverhagen commented on #9008
Doing a full, recursive dependency check is a very hard thing to get right for NuGet.org, partly due to scale issues and party due to feasibility.

Actual, resolved transitive dependencies for a top-level (direct dependency) package can change greatly from project to project due to the "diamond dependency" problem and NuGet restore's [lowest application version rule](https://docs.microsoft.com/en-

[2022-02-22 18:58] joelverhagen commented on #9007
Hey @no1melman, I have not heard back from you in a week so I will close this issue. Please feel free to open a new issue if you are having further problems with the Search API.

[2022-02-22 18:58] #9007 closed

[2022-02-22 19:20] D4N4M8 commented on #9010
@joelverhagen: Thank you for your quick reply. I tested it again with the NuGet.org's V2 endpoint. Your guess is correct. The behavior is identical (see attached screenshot).

![image](https://user-images.githubusercontent.com/31038391/155202191-c937f3f1-c17b-486d-a32f-c353181b8c42.png)

So, I will create a pull request. :-)

Do you close this issue or how do we proceed with this?

Greetings danie

[2022-02-22 19:24] joelverhagen commented on #9010
You can keep this issue open until that PR is merged. Typically we have a tracking issue for all PRs. This issue can be the tracking issue for the NuGet.Server PR.

[2022-02-22 19:40] ppittle commented on #9014
@joelverhagen thanks for the response!  Confirm service looks healthy and I'm no longer getting 500 responses to https://api-v2v3search-0.nuget.org/query?q=PackageId:AWSSDK.AWSSupport&prerelease=true.

[2022-02-22 19:43] #9014 closed

[2022-02-23 05:10] mfkl commented on #9013
Yes, indeed, that is correct. We don't have an explicit package reference between the managed binding and the native library, so I understand how it would be even trickier for NuGet to infer that info.

We could take [LibGit2Sharp](https://www.nuget.org/packages/LibGit2Sharp/) as an example of NuGet package with explicit package reference to the native lib though. It references [LibGit2Sharp.Nativ

[2022-02-23 13:24] jzabroski opened #9015 "[Feature]: Tool Packages should display differently than library packages"
### Related Problem

If you go to nuget.org/packages/Wyam , you will see the following informational messages :

* Frameworks tab:

* Dependencies tab:

![Screenshot_20220223-070514_Samsung Internet](https://user-images.githubusercontent.com/447485/155326658-5fdbc995-9de3-475c-b8d2-039774e95d34.jpg)

![Screenshot_20220223-081717_Samsung Internet](https://user-images.githubusercontent.com/447485/15

[2022-02-23 17:01] joelverhagen commented on #9013
This is a good issue report. Thank you for your feedback. I'd like to leave this open since it's clear to me now that there are multiple different approaches to native dependencies out on NuGet.org and the Frameworks tab isn't handling these approaches perfectly.

Any confusion by a package author (you 😀) will certainly exist for package consumers as well!

[2022-02-23 20:00] joelverhagen commented on #8844
Hey @nblumhardt, I haven't been able to find any package ID list from you for this operation. Is it possible we missed an email? If you're still working on building the list, no worries. I just wanted to make sure you weren't blocked on us.

[2022-02-23 22:12] nblumhardt commented on #8844
Thanks for checking in, @joelverhagen! Sorry about the long delay - all at my end, unfortunately. I'll aim to loop back ASAP 😅

[2022-02-23 23:15] shishirx34 opened #9017 "Dev Secret Expiration Tracker synthetics job uses SharedAccesKeys for service bus"

[2022-02-23 23:16] #9017 closed

[2022-02-23 23:54] joelverhagen opened #9018 "[Service degradation] Package download counts are delayed"
As mentioned in NuGet.org's [status page](https://status.nuget.org/):

To provide a bit more context: our team has been using a SQL-based statistics data warehouse solution which has had more and more scaling issues over the years. We have been working for several months on a new solution based on [Azure Synapse Analytics](https://azure.microsoft.com/en-us/services/synapse-analytics/) which will h

[2022-02-23 23:55] joelverhagen commented on #9012
In order to simplify our issue tracking, I have pinned an explanation of the stats delay in this NuGet/NuGetGallery issues. I'll close this issue in lieu of that: https://github.com/NuGet/NuGetGallery/issues/9018. Please feel free to ask any follow-up questions on that issue.

[2022-02-23 23:55] #9012 closed

[2022-02-23 23:56] joelverhagen commented on #8983
In order to simplify our issue tracking, I have pinned an explanation of the stats delay in this NuGet/NuGetGallery issues. I'll close this issue in lieu of that: https://github.com/NuGet/NuGetGallery/issues/9018. Please feel free to ask any follow-up questions on that issue.

[2022-02-23 23:56] #8983 closed

[2022-02-24 00:16] joelverhagen opened #9019 "[NuGet.org Bug]: Job feature flag refreshers are not stopped in a `finally` block"
### Impact

It bothers me. A fix would be nice

### Describe the bug

Job feature flag refreshers are not stopped in a `finally` block.

Example: https://github.com/NuGet/NuGet.Jobs/blob/14d1ab2f5761a2cfab77ce1b9d8d8cf94dc87ed4/src/NuGet.Services.AzureSearch/AzureSearchJob.cs#L37

This causes job loop failures (exceptions) to skip this stop step and that background task to continue on forever (unt

[2022-02-24 01:59] joelverhagen commented on #9015
Hey @jzabroski, thanks for the detailed bug report. I agree with your "tool taxonomy" 😃.

## .netcoreapp3.0 / `DotnetTool`

For .netcoreapp3.0 tools, I assume you mean packages with the `DotnetTool` package type. These actually work by design in the Frameworks tab. You can find examples with our package type search:
https://www.nuget.org/packages?packagetype=dotnettool&sortby=relevance&q=&prerel=T

[2022-02-24 03:07] jzabroski commented on #9015
@joelverhagen Thanks for your thoughtful reply.

# `DotnetTool`

Yes, this mostly works correct, I think.  See discussion of `DotNetCliTool` at the bottom of next section for some food for thought on what is arguably still wrong with this, even though you can argue its outside the Nuget feifdom / castle walls.

# `DotnetCliTool`

An example of a `DotNetCliToolReference`-compatible package would be

[2022-02-24 04:09] xuzhg commented on #9012
@joelverhagen Thanks for the context.

[2022-02-25 02:03] jzabroski commented on #9015
@joelverhagen Probably a separate issue but this one amusingly says ".NET Framework 0.0": https://www.nuget.org/packages/Intersoft.Crosslight - if you think I should open a separate ticket, I will.  But I didnt want to split out related things that can be tackled as one.

![image](https://user-images.githubusercontent.com/447485/155639818-d49a9da4-db43-41cc-aa64-c2202c6b96eb.png)

[2022-02-25 02:38] joelverhagen commented on #9015
Separate issues are better for us actually! We can schedule little improvements in between big ones.

Regarding this particular issue, it's already fixed in our pre-PROD environment. The PR was here: https://github.com/NuGet/NuGetGallery/pull/9016.

[2022-02-25 02:58] jzabroski opened #9021 "Erroneous header tag ".NET Framework 0.0" on some packages"
@joelverhagen Probably a separate issue but this one amusingly says ".NET Framework 0.0": https://www.nuget.org/packages/Intersoft.Crosslight - if you think I should open a separate ticket, I will.  But I didnt want to split out related things that can be tackled as one.

![image](https://user-images.githubusercontent.com/447485/155639818-d49a9da4-db43-41cc-aa64-c2202c6b96eb.png)

_Originally post

[2022-02-25 03:00] jzabroski commented on #9021
@joelverhagen I misunderstood your comment.  Closing.

[2022-02-25 03:00] #9021 closed

[2022-02-25 11:06] CurryHan opened #9025 "Why this package has not been indexed yet in 2 hours ago?"
### NuGet Product Used

NuGet.exe

### Product Version

other

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

![image](https://user-images.githubusercontent.com/14214176/155704759-fe6e1831-9db5-4cc2-9cf9-1d276b2a693a.png)

### Verbose Logs

_No response_

[2022-02-26 08:12] no1melman commented on #9007
Yeaah the semver thing fixed it....

[2022-02-28 20:28] joelverhagen commented on #8844
@nblumhardt, I have removed the `serilog` owner from these 4 packages and reset the namespace reservations. I had to deallocate `Serilog*` and `Serilog.Exceptions*` and then reallocated them again with the exact same settings to properly remove the blue checkmark on these 4 packages, due to https://github.com/NuGet/NuGetGallery/issues/8941. Please let me know if everything looks good to you.

[2022-03-01 04:30] joelverhagen commented on #9025
Hey folks, feel free to open put issues about NuGet.org in this repo (NuGet/NuGetGallery). The other repo (NuGet/Home) is about NuGet client issues.

Regarding this delay, we had a problem in our publishing pipeline which has since been resolved. See our status page history:
![image](https://user-images.githubusercontent.com/94054/156105172-2abd73e4-9e31-4051-8673-24491a17c4af.png)

[2022-03-01 04:30] #9025 closed

[2022-03-01 19:36] #8980 closed

[2022-03-02 00:18] SerratedSharp opened #9029 "[Feature]: Deep link Release Notes and show in Package Manager"
### Related Problem

Release Notes seems like a good place to put important information about changes in the current release but this isn't very visible.  It doesn't appear when the package is selected in the VS Package Explorer, and I can't deeplink to it.

There's already a hash link for the tab, but it doesn't activate the tab: https://www.nuget.org/packages/SerratedSharp.SerratedJQ.Lite#releas

[2022-03-02 13:23] SabotageAndi opened #9030 "[NuGet.org Bug]: Frameworks not displayed for SpecFlow NuGet package"
### Impact

Other

### Describe the bug

The Framework tab of our main NuGet packages is empty.

### Repro Steps

Look at package pages of
- https://www.nuget.org/packages/SpecFlow/
- https://www.nuget.org/packages/SpecFlow.NUnit/
- https://www.nuget.org/packages/SpecFlow.MsTest/
- https://www.nuget.org/packages/SpecFlow.xUnit/

Switch to `Frameworks` Tab

Nothing is displayed

### Expected Behavi

[2022-03-02 22:19] #8899 closed

[2022-03-02 22:20] #8897 closed

[2022-03-03 23:58] cpatel22 opened #9034 "[Self-hosted Bug]: Not able to get feed from server and pakage display as xml file"
### Impact

I'm unable to use this version

### Describe the bug

1) not able to get feed

2) No UI display for packages list
![image](https://user-images.githubusercontent.com/7018966/156672352-ed8297b5-d522-41e4-8075-591b54dacaa0.png)

but UI display for NuGet server home page.
![image](https://user-images.githubusercontent.com/7018966/156672502-07925416-ec02-4468-a6fc-1e833d30db67.png)

### Exp

[2022-03-04 08:31] OskarKlintrot commented on #3098
Sorry if this is a stupid question but is this issue only for support on `nuget.org` or also in `NuGet.Client` (`NuGet.Protocol`)? I would love to have the compatible frameworks on `NuGet.Protocol.Core.Types.IPackageSearchMetadata` so I can retrive them with `PackageMetadataResource`!

[2022-03-05 00:01] #8886 closed

[2022-03-05 00:02] loic-sharma commented on #8886
Hello, this feature is now available on nuget.org. Please let us know if you have any additional feedback!

[2022-03-05 00:06] loic-sharma commented on #8975
Feature flags have been removed.

[2022-03-05 00:06] #8975 closed

[2022-03-05 19:16] loic-sharma commented on #3098
@OskarKlintrot Not at all, it's an excellent question! We will definitely add this info to the NuGet protocol so that clients like Visual Studio can also show this information. However, we are very careful (aka slow) when updating the NuGet protocol as we want to make sure we can support customers for long periods of time.

For now, I recommend copying nuget.org's logic into your own app:

1. [Dow

[2022-03-05 19:18] loic-sharma commented on #9034
NuGet.Server does not display packages in a UI. I recommend either using a client to browser your server (like Visual Studio or [NuGet Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer)), or, using a different NuGet server that does has a UI (see this list of [NuGet server implementations](https://docs.microsoft.com/en-us/nuget/hosting-packages/overview)).

[2022-03-06 21:52] cpatel22 commented on #9034
Still not able to get my feed in visual studio.

On Sat, Mar 5, 2022, 2:18 PM Loïc Sharma ***@***.***> wrote:

[2022-03-06 23:54] loic-sharma commented on #9034
What problems are you running into?

[2022-03-07 21:20] #8868 closed

[2022-03-07 21:21] #8503 closed

[2022-03-07 21:21] #8801 closed

[2022-03-07 22:10] #8919 closed

[2022-03-08 07:41] OskarKlintrot commented on #3098
Thanks @loic-sharma! I did [something similar](https://github.com/OskarKlintrot/UpdatR/blob/d51c652e6cfe20dec26167f3770dab18af7ca0a1/src/UpdatR.Update/Update.cs#L135-L154) for https://github.com/OskarKlintrot/UpdatR to get the supported frameworks for dotnet tools. I noticed that all packages I use (except `coverlet.collector`) have `IPackageSearchMetadata.DependencySets` set so I can use `Compati

[2022-03-08 21:11] loic-sharma commented on #9029
Hello, thank you for opening this issue! I believe this issue is a duplicate of https://github.com/NuGet/NuGetGallery/issues/8822 and will addressed by this fix: https://github.com/NuGet/NuGetGallery/pull/8860.

I'll go ahead and close this one off for now but please let us know if you have follow up questions or concerns!

[2022-03-08 21:11] #9029 closed

[2022-03-08 21:13] loic-sharma commented on #8782
FYI here's our internal guide on how to update this blocklist: [Updating excluded packages from default search results](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FNugetServer%2FNugetServerTeamNote&wd=target%28Operations.one%7CC674B49C-4CB7-4793-8890-A1E46E33FEB9%2FUpdating%20excluded%20packages%20from%20default%20search%20results%7C99AC45E3-04DC

[2022-03-08 21:20] loic-sharma commented on #7430
This was fixed by Joel's update that required results match all tokens.

[2022-03-08 21:20] #7430 closed

[2022-03-08 21:22] loic-sharma commented on #7902
Closing this. The existing transfer popularity algorithm - while simple - appears to be effective. We haven't received any critical feedback from partners in this area.

[2022-03-08 21:22] #7902 closed

[2022-03-08 22:49] #9030 closed

[2022-03-08 23:50] advay26 opened #9036 "[NuGet.org Bug]: [A11y] NuGetServiceMicrosoft.Data.SqlClient: Ensures <img> elements have alternate text or a role of none or presentation"
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468388

### Repro Steps

1. Launch the application URL: https://www.nuget.org/packages/Microsoft.Data.SqlClient/
2. Tab to the Used by
3. Run the Accessibility insights for web

Similar issue is observed in the following scenarios:
Profile-Used by
Profile-Json

[2022-03-09 09:11] SabotageAndi commented on #9030
Thanks for looking into it!

[2022-03-09 15:45] nullfx commented on #8868
has this been pushed to production yet? guessing not since nuget.org still not showing the build status for `travis-ci.org` while trying to update documentation pointing to readme with https://travis-ci.org as the badge source for "build status" which also doesn't show up on the main website:

![image](https://user-images.githubusercontent.com/324971/157476375-28e9b34f-8db6-44b4-a266-92b000e606cc.

[2022-03-09 17:51] lyndaidaii commented on #8868
![Screenshot 2022-03-09 095024](https://user-images.githubusercontent.com/64443925/157501171-cd94fb2a-b5af-4e2d-a8c0-731d38a4af67.png)
It would work. please let me know if you have further questions.

[2022-03-09 18:30] loic-sharma opened #9037 "[Upload UI]: Improve experience when package has no license"
### Related Problem

The web UI shows a warning if you upload a package without a license:

![image](https://user-images.githubusercontent.com/737941/157503952-c57bf021-8f57-44c0-ab07-68c1d5ddd7f6.png)

Today the `Learn more` links to: https://aka.ms/deprecateLicenseUrl

This doc is for packages that provide the legacy URL but isn't ideal for brand new packages.

### The Elevator Pitch

Link to th

[2022-03-09 18:36] loic-sharma opened #9039 "[Upload UI]: Recommend adding a README if a package has none"
### Related Problem

If I upload a package with no README or license I see:

![image](https://user-images.githubusercontent.com/737941/157503952-c57bf021-8f57-44c0-ab07-68c1d5ddd7f6.png)

### The Elevator Pitch

We should also recommend adding a README!

A large percentage of package uploads are done using the web UI. This is an excellent opportunity for us to improve README adoption! 🚀

### Addit

[2022-03-09 19:39] nullfx commented on #8868
brilliant. it wasn't showing up earlier. that was when i went to try and update the documentation (and saw what I just posted) but its showing now. thanks.

[2022-03-10 00:39] advay26 opened #9042 "[NuGet.org Bug]: A11y_NuGet Service_coverlet.msbuild_Used By-NuGet packages_DeveloperTool : Table name is not set for the 'NuGet packages' table present on the screen."
### Impact

It's more difficult to complete my work

### Describe the bug

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468937

### Repro Steps

1. Launch the application URL: https://www.nuget.org/packages/coverlet.msbuild/
2. "coverlet.msbuild" page will get open.
3. Tab to 'Used by' tab controls and press enter to select it.
4. Tab to 'NuGet packages' table.
5. Open developer

[2022-03-10 20:41] JonDouglas opened #9044 "[Feature]: Add a "+" for NuGet Compatible Frameworks Badges"
### Related Problem

_No response_

### The Elevator Pitch

If a package supports more than 1 target framework in a specific .NET category, it should include a "+" sign next to it's badge at the top of the package details page.

Example:

![image](https://user-images.githubusercontent.com/1288848/157750753-357675ae-4034-4752-951c-259076ee6bba.png)

Has more than 1 target framework in two different

[2022-03-11 01:35] #8986 closed

[2022-03-11 01:35] #9036 closed

[2022-03-11 01:36] #8987 closed

[2022-03-11 05:32] mfkl commented on #9013
We choose to target netstandard as it provides a basis for general compatibility. dotnet CLI apps on mac/windows/linux use that target, for example, as well as Unity apps on all platforms.

1.

and/or

2.

[2022-03-11 09:50] teo-tsirpanis opened #9047 "[Feature]: Add Unity to the framework support table."
### Related Problem

Here's the frameworks table for Newtonsoft.Json:
![image](https://user-images.githubusercontent.com/12659251/157842251-beed070d-1683-48fa-8a8c-4b60de34190f.png)

Unity is nowhere to be found even though it is supported through .NET Standard 2.0. And that's important since there is no dedicated Unity TFM; developers unfamiliar with .NET Standard will have a hard time figuring o

[2022-03-11 18:35] JonDouglas commented on #9047
@teo-tsirpanis We would love to help light an experience like this up. We will need a Unity TFM to proceed forward or a better understanding of Unity's current support with the existing TFMs.

I believe we will be able to accomplish this after https://github.com/nuget/Home/issues/9347.

Perhaps someone from the other thread can help us understand this further.

/cc @wackoisgod @xoofx @joshpeterson

[2022-03-11 18:56] teo-tsirpanis commented on #9047
Thanks for the feedback @JonDouglas. My idea was to take some artistic license and make the table display items that are not TFMs. Perhaps formatting it capitalized and in more than one word (like `Unity 2018.1`) or even with a notice would convey it better.

[2022-03-11 19:03] xoofx commented on #9047
I would prefer that we avoid introducing the concept of a Unity TFM as we have been communicating a lot during past years about netstandard2.0 and we would like to keep using a standard terminology. We are going to introduce support for NuGet and our users will be aware about what is compatible or not.

[2022-03-11 19:05] xoofx commented on #9047
For https://github.com/NuGet/Home/issues/9347 it was an old thread for a prototype that has been postponed. Things have changed since then, so I would not take it into consideration.

[2022-03-11 19:21] JonDouglas commented on #9047
@xoofx Would there be someone on your end that can help us understand Unity support and perhaps we can add a similar table row for Unity scenarios?

[2022-03-11 23:31] advay26 opened #9048 "[NuGet.org Bug]: A11y_NuGet Service_Microsoft.Identity.Client_ScreenReader:When we tab to the NuGet packages' table and GitHub repositories table the screen reader is not announcing the column headers name when its read the cell data"
### Impact

It's more difficult to complete my work

### Describe the bug

**Source:** https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468943

**Actual:**
When we tab to the NuGet packages' table and GitHub repositories table and move to each cell the column header of the respective cell is not read
Similar issue is also observed in JAWS
Similar issue is observed in throughout the applicat

[2022-03-12 00:31] advay26 opened #9052 "[NuGet.org Bug]: A11y_NuGet Service_Account_ForgotPassword_Keyboard :Invisible content receives focus when user tries to navigate to send button after 'Email' edit field using tab key."
### Impact

It's more difficult to complete my work

### Describe the bug

**Source:** https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468987

**Actual:**
Invisible content receives focus  when the user tries to navigate to send button after 'Email' edit field using tab key.

**Expected:**
There tab focus from edit field should move to  send button on using tab key, Invisible content shoul

[2022-03-13 01:06] bgrainger commented on #9018
The status page has been cleared: https://status.nuget.org/

Is this issue now resolved?

[2022-03-14 14:10] TiltonJH opened #9054 "[Self-hosted Bug]: NuGet.Server can not receive microsoft.xmlserializer.generator.6.0.0.nupkg"
### Impact

I'm unable to use this version

### Describe the bug

Hi,

we internally use a [NuGet.Server 3.4.1](https://github.com/NuGet/NuGet.Server) for our own as well as all third party nugets.

We can not push or otherwise publish `microsoft.xmlserializer.generator.6.0.0.nupkg` downloaded from [nuget.org](https://www.nuget.org/packages/Microsoft.XmlSerializer.Generator/) to our NuGet.Server.

[2022-03-14 16:18] joelverhagen commented on #9054
I think at this point NuGet.Server is being stricter than it needs to be. I don't have the data, but I wager than many dozens of packages have this problem on NuGet.org therefore the "ship has sailed" on whether clients and server need to be tolerant of this. Therefore, the path forward would be to fix NuGet.Server to be more tolerant of this problem. More generally, the OPC files (of which `[Cont

[2022-03-14 16:19] joelverhagen commented on #9018
This issue is now resolved. If you're download counts aren't behaving as expected, please feel free to open a new issue and we will investigate is separately.

Sorry for the confusion, I forgot to close this issue after clearing the status page.

[2022-03-14 16:19] #9018 closed

[2022-03-14 16:21] joelverhagen commented on #9034
Closing this issue since we don't have the information needed to diagnose the issue. @cpatel22, feel free to open a new bug with clear repro steps if you are still having trouble.

[2022-03-14 16:21] #9034 closed

[2022-03-14 22:52] dannyjdev opened #9056 "A11y_NuGet Service_Microsoft.Identity.Client_ScreenReader:"copy package manager command" button, is read as table on tab navigation"
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468962

[2022-03-14 22:53] #9056 closed

[2022-03-15 08:34] donet5 opened #9057 "[Feature]: Query sorting problem"
### Related Problem

Such as
https://www.nuget.org/packages?q=sqlsugar

Hopefully, that's what the search will bring up
SqlSugar
SqlSugarCore

But SQLSugarcore won't be on the first page at all

### The Elevator Pitch

Such as
https://www.nuget.org/packages?q=sqlsugar

Hopefully, that's what the search will bring up
SqlSugar
SqlSugarCore

But SQLSugarcore won't be on the first page at all

### Add

[2022-03-15 09:05] TiltonJH commented on #9054
Thank you for pointing to the alternatives. I will take a look at those. Maybe even change to a .NET Core/5/6 based server while I am at it. :)

I will also consider fixing the NuGet.Server. I am wondering, has the NuGet.Server been abandoned? It seems to be awfully quiet around it for a while now. If so, is there en official successor in the works?

What I still don't quite get, is how the packag

[2022-03-15 17:35] loic-sharma commented on #9057
Hello, thank you for opening this issue. For now, I recommend you either keep your package's name as `SqlSugarCore`, or, add tags to your package like `sqlsugar`.

It looks like you're running into two problems:

* Search does not tokenize initialisms like `SQLSugar` into `SQL` and `sugar` yet. This work is tracked by https://github.com/NuGet/NuGetGallery/issues/6964
* Search does tokenize things

[2022-03-16 06:37] jsakamoto opened #9060 "[NuGet.org Bug]: HTML / XML comments `<!-- -->` in a preformatted area of a README markdown text are disappeared"
### Impact

It bothers me. A fix would be nice

### Describe the bug

HTML comments `` in a preformatted area of a README markdown text are disappeared.

Some of my  "README" markdown texts include sample HTML codes with the comments to explain what the sample code will do, like this.
(The screenshot below was taken on my GitHub repository https://github.com/jsakamoto/BlazorWasmPreRendering.Build#

[2022-03-16 09:43] donet5 commented on #9057
Where do I add tags?

This is how I pack
<?xml version="1.0"?>
<package >
  <metadata>
    <id>SqlSugarCore</id>
    <version>5.0.5.9</version>
    <authors>sunkaixuan</authors>
    <owners>Landa</owners>
    <licenseUrl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseUrl>
    <projectUrl>https://github.com/sunkaixuan/SqlSugar</projectUrl>
    <iconUrl>https://secure.gravatar.com/avatar/a8

[2022-03-16 09:44] donet5 commented on #9057
There's a tag like this in description but it doesn't work

[2022-03-16 14:40] donet5 commented on #9057
That's fine. Thank you.

[2022-03-16 14:40] #9057 closed

[2022-03-17 11:11] TiltonJH commented on #9054
So mainly maintenance work, good to know. Would be nice if the `[README.md](https://github.com/NuGet/NuGet.Server#readme)` or some other project page would reflect that.

So NuGet.Server nor NuGet/NuGetGallery uses V3? I would have thought that those would be the first adopters. Well, in that case, I will most likely take a look at the other OOS offerings.

Turns out that was the case here as well

[2022-03-17 11:11] #9054 closed

[2022-03-17 22:20] advay26 opened #9061 "[NuGet.org Bug]: A11y_NuGet Service_Dapper_Release Notes_ScreenReader: On tab navigation to the link under 'Release Notes' tab, NVDA announces the link as the https reference"
### Impact

It's more difficult to complete my work

### Describe the bug

**Source:** https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468978

**Actual:**
On tab navigation to the link under 'Release Notes' tab, NVDA announces the link as the https reference
Similar issue is also observed in JAWS
Similar issue is observed in through out the application.

**Expected:**
The name of the link

[2022-03-17 23:33] #9019 closed

[2022-03-18 03:48] johnterickson commented on #5818
I love the idea of making errors more actionable!

What do the other package managers do?  For Cargo, they just display the body to stderr.   I'm leaning towards something like that because - as you mention - it will better handle CDN errors (and their correlation IDs)?

[2022-03-18 21:58] joelverhagen commented on #9039
/cc @chgill-MSFT @clairernovotny @lyndaidaii

[2022-03-22 01:21] dannyjdev opened #9066 "[Deployment][2022.03.21]"
# Gallery

## Changes

FI `main` to `dev`:
* https://github.com/NuGet/NuGetGallery/pull/9046 (tracked by https://github.com/NuGet/Engineering/issues/4308)
* https://github.com/NuGet/NuGetGallery/pull/9053 (tracked by https://github.com/NuGet/Engineering/issues/4308)

RI `dev` to `main`:
* https://github.com/NuGet/NuGetGallery/pull/9043 (tracked by https://github.com/NuGet/NuGetGallery/issues/9042)

[2022-03-22 23:21] #9042 closed

[2022-03-22 23:21] #8988 closed

[2022-03-23 00:01] #9066 closed

[2022-03-23 19:59] advay26 opened #9068 "[NuGet.org Bug]: A11y_NuGet Service_coverlet.msbuild_Tab Navigation_Keyboard : Tab items 'Package Manager' , '.NET CLI' , 'PackageReference' etc in the tab lists are navigated using tab key instead of arrow key."
### Impact

It's more difficult to complete my work

### Describe the bug

**Source:** https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1468923

**Actual:**
Tab items 'Package Manager' , '.NET CLI' , 'PackageReference' etc in the tab lists are navigated using tab key instead of arrow key.
On using tab to a "tab" item the focus on next tab key moves to the next item rather then the data under

[2022-03-24 16:19] RealDotNetDave commented on #3931
I think we need everything that @dotMorten mentioned. For me, I don't have hundreds, just a handful. I'd like to be able to open the file explorer, select the packages then press Submit to upload them. At my new job, we will in the future, have a lot of packages to upload.

Maybe we should have a "Publish to NuGet" option in Visual Studio.

[2022-03-24 17:35] zhhyu opened #9071 "[NuGet.org Bug]: "nuget" icon shows a weird border."
### Impact

It bothers me. A fix would be nice

### Describe the bug

A weird border of "nuget" icon is shown:
![image](https://user-images.githubusercontent.com/41028779/159976063-34b7ceea-dd56-41f5-8956-0675d3a50096.png)

### Repro Steps

1. Go to nuget.org;
2. Click the "nuget" icon at the top-left corner, and it shows a weird border.

### Expected Behavior

It should be a rectangle one, is it?

[2022-03-24 17:49] zhhyu opened #9072 "[NuGet.org Bug]: The border can be thinner when clicking a link"
### Impact

It bothers me. A fix would be nice

### Describe the bug

When clicking the link in nuget.org, it shows a wide border and sometimes covers the link text.
Will it be better to make the border thinner?

### Repro Steps

1. Go to nuget.org;
2. Click any link and you will see a wide border.

### Expected Behavior

 A thinner border will be better.

### Screenshots

![image](https://user-im

[2022-03-25 00:33] joelverhagen opened #9075 "[NuGet.org Bug]: Improve error message when packages are blocked by ID prefix reservation"
### Impact

It's more difficult to complete my work

### Describe the bug

The error message returned when a package ID is blocked due to an ID prefix reservation is this:

This should actually mentioned account@nuget.org or link to https://docs.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation#id-prefix-reservation-application-process.

This will help users skip a step.

Source: https://g

[2022-03-25 05:24] saravanan-2112 opened #9076 "PRI error on building NuGet package"
### Impact

Other

### Describe the bug

Facing PRI error when building the NuGet package. It is because changes in the dependent library#1 will not be updated into library#2.

<html>
<body>

Scenario | library #1 | library #2(Depends on library #1) | Comments
-- | -- | -- | --
Changes in library #1 cs file | library #1– version2 | library #2– version1library #1 – version1 | Working fine
Changes i

[2022-03-25 14:33] joelverhagen commented on #9076
Hello @saravanan-2112, I am going to move this to NuGet/Home repo. This appears to be related to the NuGet client experience (packing, package consumption) and not specifically the NuGet.org package source.

Also, could you clarify what "PRI" stands for?

[2022-03-26 07:52] xt0rted commented on #8644
I just added logos to a few of my readmes only to realize after release that they don't show on nuget.org. [github/cmark-gfm](https://github.com/github/cmark-gfm) is the markdown library used by GitHub.

[2022-03-26 15:05] dotMorten commented on #3931
@RealDotNetDave its fairly easy to do bulk upload from commandline though. (As long as the tool will be updated to support pushing to staging rather than publish)

[2022-03-28 21:32] agr opened #9078 "Reduce the amount of magic numbers in JS code in Gallery"
Gallery JS code is ridden with magic numbers:

https://github.com/NuGet/NuGetGallery/blob/6136fc988f19595bf1bbf96d0be7343e77e1a31a/src/NuGetGallery/Scripts/gallery/common.js#L12

https://github.com/NuGet/NuGetGallery/blob/6136fc988f19595bf1bbf96d0be7343e77e1a31a/src/NuGetGallery/Scripts/gallery/common.js#L244

https://github.com/NuGet/NuGetGallery/blob/6136fc988f19595bf1bbf96d0be7343e77e1a31a/src/

[2022-03-29 00:08] advay26 opened #9079 "[Deployment] 2022.03.28"
# Gallery

## Changes

* https://github.com/NuGet/NuGetGallery/pull/9067 (tracked by https://github.com/Nuget/NugetGallery/issues/9061)
* https://github.com/NuGet/NuGetGallery/pull/8906 (tracked by https://github.com/NuGet/Engineering/issues/4133)
* https://github.com/NuGet/NuGetGallery/pull/9073 (tracked by https://github.com/Nuget/NugetGallery/issues/9048)
* https://github.com/NuGet/NuGetGallery

[2022-03-30 12:17] ducfukboiz commented on #2559
hello

[2022-03-30 18:19] jzabroski opened #9081 "[Feature]: SDK packages should have explicit Framework metadata"
### Related Problem

#9015

### The Elevator Pitch

I just uninstalled VS2019 and installed VS2022, and when I went to run a csproj with `<Project Sdk="Microsoft.Build.NoTargets/3.3.0">`, I get the following error message insisting that I install the .NET 4.8 Developer Pack.

I think this is possibly two issues:
1. SDKs should have explicit bootstrap requirements, and those bootstrap requirements

[2022-03-30 18:22] jzabroski commented on #9015
@joelverhagen I added a new issue for SDK packages.  So, this is sort of another category of Tools - Tool Frameworks - that I did not consider in the above.  But I felt it was a separate issue and likely has dependencies on other teams.

The lack of good nuget metadata really makes your job suck some days. Hopefully you can get buy in from teams at Microsoft to not just do whatever the heck they p

[2022-03-30 22:32] #9068 closed

[2022-03-30 22:33] #9052 closed, assigned to advay26

[2022-03-30 22:33] #9048 closed

[2022-03-30 22:33] #9061 closed

[2022-04-01 17:33] #9079 closed

[2022-04-04 08:21] ShreeShivaTejaJuluri opened #9084 "[NuGet.org Bug]:"
### Impact

It bothers me. A fix would be nice

### Describe the bug

When trying to convert CloudStorageAccount from Microsoft.Azure.Storage.CloudStorageAccount to Microsoft.WindowsAzure.Storage.CloudStorageAccount based on storage credentials for emulator based accounts, we are seeing the following error when trying to access it _The remote server returned an error: (403) Forbidden._

### Repro

[2022-04-04 18:38] jzabroski opened #9085 "[NuGet.org Bug]: Code Fixer (analyzer) nuget packages don't have framework metadata"
### Impact

It bothers me. A fix would be nice

### Describe the bug

Project-level code analysis and code fixers don't have framework target metadata provided on nuget.org

### Repro Steps

1. Go to https://www.nuget.org/packages/AsyncFixer
2. See screenshot below, which says "There are no supported framework assets in this package."

### Expected Behavior

Code analysis packages likely have both

[2022-04-04 18:53] jzabroski commented on #9015
@joelverhagen See also #9085

I don't understand why all these edge cases occur?

[2022-04-04 19:29] joelverhagen commented on #9084
Hello, this looks like a question about a specific package on NuGet.org. This GitHub repository is about www.nuget.org itself. This team does not provide support for individual packages. Please consider reaching out to the package owner about this problem.

[2022-04-04 19:29] #9084 closed

[2022-04-04 19:32] joelverhagen commented on #9081
This package has the following package type:
[code]

We could consider hiding the Frameworks tab in this specific case, or if the package type is not in some short allow list.

Currently, it's being treated like a normal dependency package by the Frameworks tab but it has no recognized assets.

[2022-04-04 19:33] joelverhagen commented on #9085
I believe this particular issue is happening because it has no recognized assets. I am not familiar with analyzer packages. I don't see any package type on this package so it would be challenging to disable or populate the Frameworks tab unless we make some analyzer specific logic.

[2022-04-04 19:36] joelverhagen commented on #9015
Generally speaking, the Frameworks tab is built for Dependency packages and for `DotnetTool` packages. Dependency packages are assumed to be Dependency packages if they have no package type. This assumption is necessary for backwards compatibility but causes a world of problems for these "edge case" packages like the AsyncFixer package you mentioned.

Up until this point, we have not used the fold

[2022-04-04 21:15] #8920 closed

[2022-04-04 21:29] jzabroski commented on #9015
Unfortunately, you are probably right, especially given there are Nuget MSBuild variables that allow mucking with directory paths.  I was actually thinking the right solution is to reify the relative paths into the metadata structure.  It's honestly not something I care to explain, but, for example, you can specify `<AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>` in a

[2022-04-04 21:31] jzabroski commented on #9085
Who at Microsoft gets to decide what a package is other than a zip file?  I just think that's a basic problem that there is no structure or review process.

[2022-04-04 21:42] joelverhagen commented on #9085
I agree, that is a problem for NuGet.org. In general we have been very permissive with what is accepted and only really deal with edge cases on... a case by base basis :). For the Frameworks tab, it's showing the cracks a lot. But I'll not that this _does_ indicate NuGet Restore will behave strangely. I believe Restore will consider this package compatible with every project target framework.

I c

[2022-04-05 01:46] jzabroski commented on #9085
I hypothesize whether restore works at all depends on many hidden pieces, like flags that control the relative paths within the nupkg zip file, such as `AppendTargetFrameworkToOutputPath=True|False`. To be honest, I've been helping people debug nuget restore issues for years, and only recently discovered the hacky `buildTransitive` metadata in `.nupkg`(s) was the glue holding everything together.

[2022-04-05 02:47] joelverhagen commented on #9085
For the more general issues you have about package metadata ambiguities, I think it might make sense to move that part of the conversation to either a [discussion on NuGet/Home](https://github.com/NuGet/Home/discussions) or (if you have some specific direction you think makes sense) a [proposal](https://github.com/NuGet/Home/tree/dev/meta#nuget-proposal-process).

For the specific framework tab be

[2022-04-08 23:05] agr opened #9088 "[Deployment] 2022.04.08"
# Gallery
## Changes

* https://github.com/NuGet/NuGetGallery/pull/9082
* https://github.com/NuGet/NuGetGallery/pull/9083 (https://github.com/NuGet/NuGetGallery/issues/8505)
* https://github.com/NuGet/NuGetGallery/pull/9038 (https://github.com/NuGet/NuGetGallery/issues/9037)
* https://github.com/NuGet/NuGetGallery/pull/9086
* https://github.com/NuGet/NuGetGallery/pull/9089

## Progress

* [x] Merg

[2022-04-12 09:37] D0ctorWh0 opened #9091 "[Self-hosted Bug]: error 400 on register or login"
### Impact

Other

### Describe the bug

I compiled NuGetGallery and launched it on IIS Server, removed "rewrite" section from web.config, but when I am trying to register or login it shows error 400. If I launch NuGetGallery on IIS Express from visual studio it works fine.

### Repro Steps

Run NuGetGallery on IIS server

### Expected Behavior

Register without error

### Screenshots

_No respons

[2022-04-12 12:15] #9091 closed

[2022-04-12 21:56] scottaddie commented on #8872
The ASP.NET team also hit this problem recently with the [Microsoft.Extensions.Configuration.AzureKeyVault](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureKeyVault) package. Tagging @Pilchie, as I'm sure he has feedback on how this feature should work.

[2022-04-13 20:01] advay26 commented on #9037
@loic-sharma This change is now in PROD :)

[2022-04-13 20:01] #9037 closed

[2022-04-14 18:35] lyndaidaii commented on #9060
@jsakamoto , thanks for providing suggestion and feedback. we are working on markdown experience improvement on Nuget.org, appreciate your feedback. Please let us know if you have more other suggestions. Thank you!

[2022-04-16 05:20] SpocWeb opened #9097 "[Bug]: Many SPDX license Expressions not resolved by https://licenses.nuget.org/ instead "We have no information regarding the 'Xyz' license.""
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI

### Product Version

dotnet

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. create a Visual Studio Project Nuget Package with an SPDX Expression e.g. <PackageLicenseExpression>Hippocratic-2.1</PackageLicenseExpression>
2. build, pack and push the Package using

[2022-04-17 06:15] renemadsen commented on #8773
Any update on this issue?

[2022-04-17 15:39] joelverhagen commented on #8773
@renemadsen, no update yet. It's on our backlog but currently below the cutline for the current semester due to priority and capacity issues.

If you or anyone else the community is interested in making a contribution to complete this, that would be amazing! NuGet.org team could guide someone along the way to get the change tested and verified. I think one of the questions is how to toggle the set

[2022-04-17 23:45] nblumhardt commented on #8844
Sorry @joelverhagen, I mistakenly thought I had replied to your last comment (I may have done through another channel? Apologies if not!).

I've run through the final projects and I believe the last ones needing removal of the `serilog` owner are:

Package | New Owner
-- | --
serilog.sinks.applicationinsights | serilog-contrib
serilog.sinks.azureeventhub | serilog-contrib
serilog.sinks.azuretables

[2022-04-18 00:03] nblumhardt commented on #8844
(Edited; sorry!)

[2022-04-18 16:04] joelverhagen commented on #8844
No worries, there are certainly an overwhelming number of channels these days 😃. I try to stay on top of Twitter and GitHub notifications but if you messaged me some other way, it's quite possible I missed it.

It's done. Please let us know if you need assistance with anything else!

[2022-04-18 22:30] nblumhardt commented on #8844
Tell me about it! 😅

Thanks for sticking with this one, @joelverhagen - I really appreciate the help! I think that should be just about it, from me.

[2022-04-18 23:18] #9088 closed

[2022-04-18 23:42] joelverhagen commented on #8844
I will lease this issue open to track the feature gap: **package owners can't remove co-owners when it would change the prefix reservation status.** Depending on the severity of the problem, we can consider a fix in the future.

[2022-04-19 18:11] marksvc commented on #8871
I've been having a similar problem, but with error 404. It can be reproduced by doing the following:

- Modify /etc/hosts to use line `13.107.227.38 api.nuget.org`
- Run `wget 'https://api.nuget.org/v3-flatcontainer/Geckofx45.64.Linux/45.0.21/Geckofx45.64.Linux.45.0.21.nupkg'`
  This produces error:

- Modify /etc/hosts to use line `152.199.4.184 api.nuget.org`
- Run `wget 'https://api.nuget.org/v

[2022-04-19 19:26] agr commented on #8871
This is unrelated issue. All `api.nuget.org` urls are [expected](https://docs.microsoft.com/en-us/nuget/api/package-base-address-resource) to use all-lowercase package IDs and versions in URLs. Whatever generates those URLs for you is not following the spec.

[2022-04-19 19:40] marksvc commented on #8871
Thank you so much, @agr . When using lowercase, the error does not occur.
Thanks for the link; I will look at how I am gathering the URLs.

[2022-04-19 20:24] #8871 closed

[2022-04-20 14:23] aptivadave opened #9100 "[NuGet.org Bug]: Missing Laserfiche 10.0.0 package"
### Impact

It's more difficult to complete my work

### Describe the bug

We're getting build errors that point to the LaserFiche 10.0.0 package missing from nuget.org.  This package was active on Monday, April 18th at 8:39 AM CST, which was the last time a successful build for our project ran in Azure DevOps.  Can we get this package restored so that we can finish our build for this legacy appli

[2022-04-20 15:27] joelverhagen commented on #9100
Hello, this package was deleted due to a policy violation. We contacted the package owner as part of our standard process and the package is no longer available on NuGet.org.

If you are the owner of the package and have further questions, please reach out to our support team using this form:
https://www.nuget.org/policies/Contact (sign in to access the contact form)

[2022-04-20 15:27] #9100 closed

[2022-04-20 16:50] aptivadave commented on #9100
Is there an ETA as to when the package owner will have the issue resolve?

Yakoke,
David Coxsey | Choctaw Nation of Oklahoma<http://www.choctawnation.com/> | Yvnnvsh (Bison) Team Lead | Information Technology
***@***.******@***.***> | Phone: (800) 522-6170 | Fax: (580) 924-2165
[Faith, Family Culture]

From: Joel Verhagen ***@***.***>
Sent: Wednesday, April 20, 2022 10:27 AM
To: NuGet/NuGetGallery

[2022-04-20 17:02] joelverhagen commented on #9100
There is no ETA for restoring the package. It was deleted for policy violations. Consider seeking out an alternative package or reaching out to Laserfiche for recommendations on how to interact with their API.

[2022-04-20 18:59] lavareas opened #9103 "[NuGet.org Bug]: NuGet Restore encountering intermittent Timeout/SSL/TLS issue"
### Impact

I'm unable to use NuGet.org

### Describe the bug

Currently while trying to restore NuGet packages, the project requires both internal business NuGets as well as agi.nuget.org nugets.

While building we are attempting to restore, and it attempts api.nuget.org first.  Normally we would expect 404s for NuGets not there, but existing inside of our Local Network.

Intermittently instead o

[2022-04-20 19:45] agr commented on #9103
First, please consider using [package source mapping](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-6.0#source-mapping) to nail packages to specific sources for you projects.

Second, please check the cipher suites available on your build machines against the list specified in the following announcement: https://github.com/NuGet/Announcements/issues/60. And feel free to reach out to t

[2022-04-21 00:10] deNoor commented on #9103
I also got this issue `The SSL connection could not be established, see inner exception.` + `An existing connection was forcibly closed by the remote host` on Windows Server 2012R2.
It has been working for many years but somehow broke today.

@lavareas
To fix check the suggested [announcement](https://github.com/NuGet/Announcements/issues/60) or the api.nuget.org [certificate](https://www.ssllabs.

[2022-04-21 05:13] AraHaan opened #9105 "[NuGet.org Bug]: flatcontainer api always returns BlobNotFound despite package name used to get the list of all versions listed being on nuget.org."
### Impact

It's more difficult to complete my work

### Describe the bug

Let's say for example you use this to query the API's manually using HttpClient: ``https://api.nuget.org/v3-flatcontainer/{packageName}/index.json``

Try with the following values: ``Elskom.SDK``, ``Elskom.Sdk.App``, and ``Elskom.Sdk.App.Ref``.

### Repro Steps

Steps to reproduce:
1. I also verified on my code that ``packa

[2022-04-21 05:25] kant2002 commented on #9105
You should lower case package name in the URL

[2022-04-21 06:24] joelverhagen commented on #9105
Precisely correct @kant2002! Please take a look at the API documentation for the endpoint:
https://docs.microsoft.com/en-us/nuget/api/package-base-address-resource

The ID component must be lowercase and any version component (e.g. for the .nupkg) must be lowercased and normalized using standard NuGet version normalization rules.

If you are downloading or listing packages in a custom way, conside

[2022-04-21 13:26] lavareas commented on #9103
Thanks for the quick reply yesterday.

Currently we are using NuGet 5.11, which currently does not support Source Mapping.  What kind of options might we have for 5.11?

For context, we currently do not use NuGet.Config files, and are a C# 8.0+ Project stack.  Normally we just use the Right Click NuGetPackage Manager interface of Visual Studio 2019.

[2022-04-21 16:01] #9105 closed

[2022-04-21 16:10] joelverhagen commented on #9103
Package source mapping will eliminate unnecessary HTTP requests to package sources that aren't expected to have specific packages. This is very useful in a situation where you have multiple package sources (e.g. some private packages on AzDO, some public packages on NuGet.org). If you're using a build pipeline, it's theoretically possible to use a newer version of .NET SDK on your build pipeline c

[2022-04-21 16:16] lavareas commented on #9103
Heya @joelverhagen

I can confirm we are not seeing the connectivity issues this morning, it appears they stopped sometime last night around 11pm CST.  We believe it may be related to a CDN issue at Edgecast that was going on most of the day yesterday.

Absolutely agreed that Package Source Mapping is a great idea, but part of the Problem is we have DotNetCore applications, which do not allow the

[2022-04-21 16:27] SpocWeb commented on #9097
I'll start right away. Luckily it's in C#

[2022-04-21 16:46] lavareas commented on #9103
Thanks for the quick engagement @joelverhagen , your rocking today!

Ideally we would hope we are using the Microsoft CDN, however we learned yesterday that in some instances we are routing to Europe!  We caught this on a GeoLocation security item yesterday, where a call to NuGet was going to a GeoLocation blocked territory for some reason.  Is there some way we can configure NuGet to force it to

[2022-04-21 17:04] lavareas commented on #9103
Just occurred to me I misunderstood something on the CDN standpoint.  It is very likely the Dev was using a NuGet that was published from a different country.  This would cause it to use that countries CDN I presume?

[2022-04-21 17:13] joelverhagen commented on #9103
We don't support that today, no. The hypothesis that we're acting under is that during "normal" times, the pick we make between CDNs on behalf of the user in a specific geo is the right one.

Since the routing is done at a DNS level, we don't have as many levers to cleverly route traffic of `api.nuget.org` requests based on client settings. It may be possible for users to cobble something together

[2022-04-21 18:02] lavareas commented on #9103
Lol!  The link is what we are doing today.   We are a .NET 5.0 Project.  I think your very correct here, I think their was very likely a communication issue somewhere 'waaaay' in ancient history confusing Packages.config with NuGet.config now that I am getting deeper into this.

I'll have one of the projects give putting in a NuGet.config and shot and see how it pans out.  I'll respond in a day or

[2022-04-22 22:01] shahabhijeet commented on #8773
@joelverhagen just saying..... getting at least two pages dark themed without the sticky-ness would be huge for users.
For e.g. the home page and the search results page, even if these two pages get dark themed for the duration of the browser session that will be huge.
I don't mind switching it back to dark theme every time I visit nuget.org (and my previous setting did not stick)

[2022-04-23 17:30] adamralph commented on #7123
FTR this hasn't been important enough for me to dedicate the time to raise the proposal PR and I currently have no intention to do so.

[2022-04-25 23:35] agr opened #9107 "[Deployment] 2022.04.25"
# Licenses
## Changes
* https://github.com/NuGet/NuGet.Licenses/pull/41 (https://github.com/NuGet/NuGetGallery/issues/9097)

## Progress
* [x] Bulid https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=6069447&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=e900fa28-66c4-55e5-4e9c-0ba63fb92fbd
* [x] Release https://dev.azure.com/devdiv/DevDiv/_releaseProgress?_a=release-pipeline-progress&

[2022-04-28 16:13] erdembayar opened #9111 "[Bug]: NuGet API return Blob was not found"
@kalirajanganeshan commented on [Wed Apr 27 2022](https://github.com/NuGet/Home/issues/11780)

### NuGet Product Used

Other/NA

### Product Version

Syncfusion Blazor Version API

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

We try to get the versions of our package using following NuGet API. It was return as blob was not founded but the package was exi

[2022-04-28 16:14] erdembayar commented on #9111
I believe it's NuGetGallery issue, not NuGetClient, so I moved here.

[2022-04-28 17:18] zhhyu commented on #9111
Hello, @kalirajanganeshan! The solution of this issue should be helpful for you: https://github.com/NuGet/NuGetGallery/issues/9105

[2022-04-29 00:37] agr commented on #9097
All deployments are finished, and the update is fully rolled out. https://licenses.nuget.org/Hippocratic-2.1 now produces updated response.

Thank you for your contribution!

[2022-04-29 00:37] #9107 closed

[2022-04-29 19:07] Nessitro opened #9116 "[Bug]: Unable to load the service index for source https://api.nuget.org/v3/index.json"
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

Windows 7 (6.1.7601 Service Pack 1 Build 7601)/ dotnet.exe/ VS2019 (16.11.11)/ nuget package manager (5.11.0)

### Worked before?

Cannot determine last known working version

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Using Pa

[2022-05-02 22:07] #8505 closed

[2022-05-02 22:22] #9097 closed

[2022-05-02 23:46] dannyjdev commented on #6858
Closing this issue since it was completed by this task https://github.com/NuGet/NuGetGallery/pull/9035.

[2022-05-02 23:46] #6858 closed

[2022-05-04 09:05] sergiomcalzada commented on #9103
Same issue here since Friday 29

Windows server 2012 R2
Cipher suits checked and enabled.
TLS 1.2 enabled

nslookup api.nuget.org
[code]

Also checked: works in chrome but not in internet explorer.

[2022-05-04 19:28] zhhyu commented on #9103
Hello, @sergiomcalzada!

For Windows server 2012 R2, please ensure that any of the following two cipher suites have been enabled on the machine:
[code]
There needs an exact matched cipher suite to build the connection.

It will be helpful to check Schannel SSP:
https://docs.microsoft.com/en-us/windows-server/security/tls/manage-tls#configuring-tls-cipher-suite-order-by-using-group-policy
and also

[2022-05-04 21:25] mickgarland opened #9113 "[WIKI TYPO] Typo in "Branding the NuGet Gallery""
Hi,

There is a typo in the "Branding the NuGet Gallery" wiki.

In the [Clone The Gallery](https://github.com/NuGet/NuGetGallery/wiki/Branding-the-NuGet-Gallery#clone-the-gallery) section in point 3 you are missing a "h" in the URL, the URL is https://gitub.com/NuGet/NuGetGallery.git but should be https://github.com/NuGet/NuGetGallery.git

Cheers

[2022-05-04 22:04] joelverhagen commented on #9113
Fixed! Thank you!

[2022-05-04 22:04] #9113 closed

[2022-05-06 04:14] drewgillies commented on #8588
Dupe of https://github.com/NuGet/NuGetGallery/issues/8587

[2022-05-10 20:50] ryuyu opened #9114 "[A11y][FastPass]Ensures ARIA attributes are allowed for an element's role"
URLs:
https://www.nuget.org/users/account/SignUp
https://www.nuget.org/account/ForgotPassword

Snippet
[code]

Fix
ARIA attribute is not allowed: aria-required="true"

[2022-05-11 08:05] mattkosmach opened #9115 "Multiple certificates in your server nodes, one untrusted?"
Hello,

First of all, love nuget.
Second,

I'm having trouble accessing nuget via Visual Studio (and also via Chrome).
Sometimes it works, sometimes it doesn't.
I'm accessing [v3/index.json](https://api.nuget.org/v3/index.json) to be precise.

Is it possible you have two (multiple) server nodes, where one is using server certificate which is created by untrusted signer?
Whenever I get response fro

[2022-05-11 17:49] joelverhagen commented on #9115
Hello @mattkosmach, glad to hear you love NuGet. Me too :). It's encouraging to hear this from our users!

If you're comfortable with it, could you provide the country in which you are performing the NuGet operations? Currently this defines which CDN provider you interact with.

Also, could you run this command in PowerShell and provide the output? `Resolve-DnsName api.nuget.org`. For reference, m

[2022-05-12 02:41] baoduy commented on #1839
I have no idea why the reserved ID is so troublesome. My package is HBD.AspNetCore.XXX is also not able to be uploaded. Why did Microsoft reserve my HBD organization prefix?

[2022-05-12 05:23] anangaur commented on #1839
@baoduy, its better to open a new issue so that it catches attention of the team trying to triage every day. To your question, there could be many reasons for it. The best way is to open a support ticket by sending an email to support @ nuget.org. I have opened a ticket copying you.

/cc: @clairernovotny

[2022-05-12 15:43] mattkosmach commented on #9115
Thank you for quick response. Below is the output.

**ping api.nuget.org**
Pinging part-0032.t-0009.fbs1-t-msedge.net [13.107.219.60] with 32 bytes of data:
Reply from 13.107.219.60: bytes=32 time=20ms TTL=112

**"" | openssl s_client -showcerts -servername api.nuget.org -connect api.nuget.org:443**
bash: : command not found
CONNECTED(0000036C)
depth=0 C = US, ST = WA, L = Redmond, O = Microsoft C

[2022-05-12 16:21] joelverhagen commented on #9115
Based on this line:
[code]
This is very strange. It looks like issuer name is actually the string `CN = Untrusted`.

I decoded the ASN.1 ([example](https://lapo.it/asn1js/#MIIClzCCAYGgAwIBAgIUHbrViT08wvZhSFlaGogvSRVheewwCwYJKoZIhvcNAQEMMBQxEjAQBgNVBAMTCVVudHJ1c3RlZDAeFw0yMjA0MjcwMTE3MjJaFw0yMzA0MjIwMTE3MjJaMGIxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJXQTEQMA4GA1UEBxMHUmVkbW9uZDEeMBwGA1UEChMVTWljcm9zb2Z0IENv

[2022-05-13 06:24] joelverhagen commented on #8071
Two options:

## CDN rule

Replace any request header `x-ms-version` with `x-ms-version: 2011-08-18`. This avoids cache poisoning but does not allow clients to use a newer version.

A rule like this works:
![image](https://user-images.githubusercontent.com/94054/168223527-dc7362aa-cf7f-4a53-9648-15e93503538f.png)

## Default service version

Use the [`Set Blob Service Properties`](https://docs.mic

[2022-05-13 17:04] LoxleyColourDev opened #9117 "[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json."
### Impact

I'm unable to use NuGet.org

### Describe the bug

In Visual Studio 2022

Manage NuGet packages for solution.

Browse gives the following error:

[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json.
An error occurred while sending the request.
  The underlying connection was closed: An unexpected error occurred on a send.
  Unable to read data fr

[2022-05-13 17:44] zhhyu commented on #9117
@LoxleyColourDev Thank you for reaching out to us!

Could you please let us know whether it's an intermittent issue or an always failure? We may need to reach out to our CDN provider for the further investigation.

[2022-05-14 12:08] am11 opened #9118 "Tabs navigation permalinks"
Steps:
* Open https://www.nuget.org/packages/Microsoft.NET.Test.Sdk
* Click `Dependencies`

Expected: the URL in browser address bar is updated with permalink to Dependencies tab, ideally: https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/Dependencies /Framewroks /Versions etc. should be hooked to page load handler.

Actual: the URL is not updated, tab navigation permalinks are not supported o

[2022-05-14 13:42] LoxleyColourDev commented on #9117
Permanent failure now but it use to connect without any problems.

[2022-05-14 18:11] loic-sharma commented on #9118
Hello, thanks for the suggestion! This seems like a duplicate of https://github.com/NuGet/NuGetGallery/issues/8822

[2022-05-15 10:53] am11 commented on #9118
Thanks. Indeed, they are the same. Closing as dupe.

[2022-05-15 10:53] #9118 closed

[2022-05-16 11:59] alcoheca commented on #9117
Similar issue for me when connecting from my office. Confirmed there is no firewall or proxy interfering. Permanent failure, I noticed it first on Tuesday 10th May.

Browsing the feed url via chrome DOES work, which I find confusing.

I've tried to make a request with all available SslProtocols.

[code]

[code]

[2022-05-16 16:44] joelverhagen commented on #9103
There has been no activity on this issue for more than a week. If you are still facing connectivity issues with api.nuget.org, please check the recommendations here:
https://github.com/NuGet/NuGetGallery/issues/9103#issuecomment-1104391820
https://github.com/NuGet/NuGetGallery/issues/9103#issuecomment-1117740061

If you are still facing any issue, please feel free to contact us (https://www.nuget.

[2022-05-16 16:44] #9103 closed

[2022-05-16 16:46] joelverhagen commented on #9111
I am closing this issue because there has been no response back. If you continue to face an issue, please feel free to open a new issue. Thanks!

[2022-05-16 16:52] joelverhagen commented on #8903
I am closing this issue because there has been no response back. If you continue to face an issue, please feel free to open a new issue. Thanks!

[2022-05-16 16:52] #8903 closed

[2022-05-16 16:54] #8895 closed

[2022-05-16 16:54] joelverhagen commented on #8895
If you continue to face an issue, please feel free to open a new issue. Thanks!

[2022-05-16 16:57] joelverhagen commented on #8770
We have since moved to a new statistics pipeline. This problem should no longer occur. If you face it again, please feel free to open a new issue. Thanks!

[2022-05-16 16:57] #8770 closed

[2022-05-16 17:02] joelverhagen commented on #8674
Hello @vadi2, I think the best path forward here is to take a look at this document which focuses on creating native packages:
https://docs.microsoft.com/en-us/nuget/guides/native-packages

In the document, there is a link to an example native package. Perhaps that can get you started in the right direction. This repository is more for the nuget.org website so we're not best equipped to answer spe

[2022-05-16 17:02] #8674 closed

[2022-05-16 17:08] joelverhagen commented on #8176
If you are still facing connectivity issues with api.nuget.org, please check the recommendations here:
https://github.com/NuGet/NuGetGallery/issues/9103#issuecomment-1104391820
https://github.com/NuGet/NuGetGallery/issues/9103#issuecomment-1117740061

If you are still facing any issue, please feel free to contact us (https://www.nuget.org/policies/Contact, please log in for the contact form) or op

[2022-05-16 17:08] #8176 closed

[2022-05-16 17:10] #7947 closed

[2022-05-16 17:14] joelverhagen commented on #7786
This is no longer applicable. We have moved to managed identities.

[2022-05-16 17:14] #7786 closed

[2022-05-16 17:16] joelverhagen commented on #7620
Since this question, we have made all non-field scoped query terms required. This means the problem is less severe. The search query provided looks a lot more useful:
https://www.nuget.org/packages?q=asp.net+core+datagrid

Please feel free to open a new issue if you're still having a problem!

[2022-05-16 17:16] #7620 closed

[2022-05-16 17:21] joelverhagen commented on #7282
This is done.

[2022-05-16 17:21] #7282 closed

[2022-05-16 17:22] zhhyu commented on #9117
Hi! My apologies for this inconvenience. NuGet.org has moved to a new multi-CDN infrastructure: https://github.com/NuGet/Announcements/issues/60. Some older TLS cipher suites are deprecated from the new CDN service.

Please ensure that TLS 1.2 and any of the following cipher suites have been enabled on your machine:

TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_D

[2022-05-16 17:22] joelverhagen commented on #7217
Hello, we haven't heard back on this issue in quite a while. I will close it now. If you have further, specific questions, please consider opening a new issue. Thanks!

[2022-05-16 17:22] #7217 closed

[2022-05-16 17:26] joelverhagen commented on #7053
We have since moved to a new statistics pipeline. This issue should not happen anymore. If you run into it again, please feel free to open a new issue. Thanks!

[2022-05-16 17:29] joelverhagen commented on #6054
This is already done.

[2022-05-16 17:29] #6054 closed

[2022-05-16 18:10] LoxleyColourDev commented on #9117
I read the annoucement and enabled the ciphers on my machine previously.  It didn't helped.  It still fails to connect to NuGet.org.  Maybe I need to disable a few or rearrange the order?

![image](https://user-images.githubusercontent.com/7057224/168654841-f2ae0e4d-e6e6-463f-97f5-99c640855d3a.png)

![image](https://user-images.githubusercontent.com/7057224/168655048-688625f8-cd86-449f-89f4-c7d5b5

[2022-05-16 20:09] alcoheca commented on #9117
@LoxleyColourDev sorry for hijacking your issue - I've resolved my issue by clicking the `Best Practices` button on IIS Crypto and rebooting my PC. Looking at your screenshot you still have TLS 1.0 and 1.1 enabled, perhaps that is the issue.

Thanks for the pointer nonetheless..

[2022-05-16 20:46] necrose99 commented on #7217
I had mentioned a package such as anaconda
It also installs python3.8 or 3.9 , at present..

Additional package provided... python3.9
(Simular to Linux in style. ) ie dpkg/rpm..

Any other python depending packages can use the anaconda provided install of python3...
And won't need to install python3 again...

Ie some Linux packages might provide a fork bundle of mpeg etc ie with liberto snes9x.. G

[2022-05-16 21:32] LoxleyColourDev commented on #9117
@alcoheca - Please do hijack - especially when it helps.  Ok.  Got it back working so thanks for the input.  Wasn't quite as simple as just using the Best Practices for me.  I then had to disable the Triple DES 168 cipher, just leaving me with AES 128/128 & AES 256/256.  I then had to disable TLS 1.0 & TLS 1.1 and enable SSL 3.0.  That got the connection to api.nuget.org back working within VS.  S

[2022-05-16 21:32] #9117 closed

[2022-05-18 15:26] philipstratford opened #9121 "[Bug]: Unable to connect to NuGet - "...connection forcibly closed by the remote host""

[2022-05-18 19:40] zhhyu commented on #9121
Hello! Thank you for reaching out to us and my apologies for this inconvenience!

    It appears to be the issue related to TLS1.2 and cipher suites. Reinstalling Visual Studio may not help here because it is an OS/system level configuration.

    The two cipher suites (supported by Windows Server 2012 R2):

    TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
    TLS_DHE_RSA_WITH_AES_128_GCM_SHA256

    shoul

[2022-05-19 04:52] drewgillies commented on #5102
@joelverhagen @skofman1 It appears this newer version has been removed. Shall we close this issue?

[2022-05-19 06:32] AbhitejJohn opened #9122 "[Feature]: Mapping type names to nuget packages to improve discoverability"
### Related Problem

I find myself trying to determine the right nuget package to pull in for a type of interest. This isn't trivial the moment and is dependent on the fact that the author of the type has relevant documentation to point its consumers to the right nuget package which isn't always straightforward.

### The Elevator Pitch

Most times we start off with an API/interface of interest by

[2022-05-19 17:57] joelverhagen commented on #5102
Yes, I think we'd only update if we had a compelling reason. I don't recall a compelling reason since this issue was filed.

[2022-05-19 17:57] #5102 closed

[2022-05-20 18:41] joelverhagen commented on #9115
Hello, I have not heard back from you about this issue. I will close it now. If you are still facing a problem related to NuGet.org, please feel free to open a new issue and reference this closed one. Thanks!

[2022-05-20 18:41] #9115 closed

[2022-05-22 03:06] Rabadash8820 commented on #8876
I would also love to see this implemented. I _love_ the idea of being able to reuse my repo README inside my NuGet package. That would make documentation updates so much easier. Unfortunately, this image issue is a pretty serious blocker to that workflow; in fact, it's the primary reason I haven't made the switch yet. My repo README has lots of screenshots to assist with setup, and they all use re

[2022-05-27 14:13] mohanpaladugu opened #9124 "[NuGet.org Bug]: Details about Problem When uploading a package to nuget.org manually via the website, I can set a documentation URL that points to a readme file on github, as shown here: https://www.nuget.org/packages/blazor-server-githubactions-demo/ How do I this via a .csproject file, as I use CI / CD to publish my packages and so I don't want this to be a manual step. how publish readme file automatically along with pacakge."
### Impact

It bothers me. A fix would be nice

### Describe the bug

[NuGet.org Bug]: Details about Problem When uploading a package to nuget.org manually via the website, I can set a documentation URL that points to a readme file on github,

 as shown here: https://www.nuget.org/packages/blazor-server-githubactions-demo/

How do I this via a .csproject file, as I use CI / CD to publish my packag

[2022-05-27 16:49] jchristn opened #9125 "[Feature]: Add indexing status to the status page"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

Indexing has taken over an hour for a package I've published.  Please add indexing status to the status page on nuget.org

### Additional Context and Details

_No response_

[2022-05-28 14:25] peterrexj opened #9126 "[NuGet.org Bug]: Sign in comes back with "Error 500 - Internal Server Error""
### Impact

I'm unable to use NuGet.org

### Describe the bug

After trying to sign in from the browser, the page goes to Error 500 - Internal Server Error
I have tried to
- Clear cache
- Restart
- Try from another computer
- Try from a different browser

All of these attempts failed and navigates to Error 500 - Internal Server Error
I have confirmed that the user password is working as I tried wi

[2022-05-28 14:52] koszeggy commented on #9126
Same for me. A little addendum:

* I got the error in the OP after installing Microsoft Authenticator. I successfully confirmed the logon attempt before getting the error. I checked "Remember Me" so now I don't get any confirmation request just the internal error immediately whenever I select my account.
* I also tried to sign in with the "Windows Hello" option. I was prompted to use the fingerpri

[2022-05-28 15:00] mariuszgromada commented on #9126
The same in my case
![image](https://user-images.githubusercontent.com/16277367/170830937-92a321e8-c195-4609-8d09-c842e2d9a277.png)

[2022-05-28 15:00] JPP01 opened #9127 "[NuGet.org Bug]: 500 Server internal error when trying to login"
### Impact

I'm unable to use NuGet.org

### Describe the bug

500 Server internal error when trying to login or to publish. Publish key should be valid and also the account.
I also created a new account just to be sure and same thing is happening. I used Edge and Firefox (also in private mode)
So this is happening with two separate accounts. One is older and the other is just created.
Initially w

[2022-05-28 15:10] #9127 closed

[2022-05-28 15:11] tomahg commented on #9126
Same for me.

[2022-05-28 15:14] JPP01 commented on #9126
Same is happening to me. Also I cannot push new packet versions to nuget.org. The API endpoint (https://www.nuget.org/api/v2/package) responses the same 500 (Internal Server Error).

[2022-05-28 15:15] porechajp commented on #9126
Yes, I am getting the same issue while pushing a new version of Nuget package.

[2022-05-28 15:27] peterrexj commented on #9126
I can log in now successfully, am happy to close, or can wait for confirmation from others who have faced similar issues.
@koszeggy @mariuszgromada @tomahg @JPP01 @porechajp

[2022-05-28 15:30] koszeggy commented on #9126
@peterrexj: It's working now

[2022-05-28 15:33] JPP01 commented on #9126
@peterrexj package update/upload via nuget push working also!

[2022-05-28 15:34] peterrexj commented on #9126
Thanks, @koszeggy @JPP01 for confirming, should work for all then, closing this issue

[2022-05-28 15:34] #9126 closed

[2022-05-31 18:12] joelverhagen commented on #9124
Hey @mohanpaladugu, it looks like you might be helped with the **embedded README** feature for NuGet packages.

Take a look at this blog post for how to use it:
https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/#add-a-readme-to-your-package

[2022-06-02 00:02] agr commented on #8859
In the past month there are less than 100 sync attempts to create DB context per hour on average (vs ~millions per hour for async variant), each lasting less than 3 seconds. I think we are OK to stop investing any more time into it.

[2022-06-02 00:02] #8859 closed

[2022-06-02 17:15] #9116 closed

[2022-06-02 18:47] jchristn commented on #9125
I'm going to assume it was either [DatabaseWrapper](https://www.nuget.org/packages/DatabaseWrapper/) or [WatsonORM](https://www.nuget.org/packages/WatsonORM/) or one of their dependencies therein (for instance, ```DatabaseWrapper.Mysql```, there are about 5 of them, same with WatsonORM).

[2022-06-02 20:18] joelverhagen commented on #9125
We do retain this information for _validation_. I'm looking more at this situation and my initial theory has proven incorrect. I was assuming it was our validation pipeline (malware scanning, signing, etc) that had the delay. This was incorrect. What actually happened was that we had a massive wave of package deprecations which caused a delay in our pipeline.

Unfortunately, we do not retain _inde

[2022-06-02 21:12] jchristn commented on #9125
Thanks for following up @joelverhagen - I appreciate it.

[2022-06-02 21:12] #9125 closed

[2022-06-03 21:44] joelverhagen commented on #9124
I haven't heard back from you in the past couple of days. Take a look at the blog on how to embed a readme in your package. If you still have questions, please feel free to open a new issue. Thanks!

[2022-06-03 21:44] #9124 closed

[2022-06-03 22:40] ryuyu opened #9132 "[A11y][Fastpass]Contrast of links on README tables is sometimes not high enough."
URL:
https://www.nuget.org/packages/BaseTestPackage

![image](https://user-images.githubusercontent.com/11051729/171963165-f0f76f41-fed8-4d59-8490-1524165301fd.png)
Colour contrast of the Fancy Zones link is not high enough.
This is due to the table rendering with a non white background colour.

This will likely be an issue on all README pages that have links in tables.
Globally darkening our link

[2022-06-03 22:41] ryuyu opened #9133 "[A11y]iFrame is not able to be tab navigated"
As part of an effort to fix tab ordering, we added a "tab-index=-1" property to the reCAPTCHA iframe.
This had the consequence of removing the entire content in the iframe from the tab order.
Changing this to tab-index=1 should enable a sensible tab order AND leave the iframe content in a tabbable state.

[2022-06-03 22:44] ryuyu opened #9134 "[A11y][Fastpass]Incorrect Aria attribute used on label"
URL:'
https://www.nuget.org/users/account/ForgotPassword
https://www.nuget.org/users/account/SignUp

The aria-required property is not allowed on html label elements.
Let's either find the correct property for label elements, or move the aria-required property to the text entry box.

[2022-06-04 14:11] mohanpaladugu commented on #9124
Hi @joelverhagen thanks for responding.

Ya i implemented its working .

[2022-06-06 22:31] advay26 opened #9135 "[Deployment] 2022.06.06"
# Gallery

## Changes

* https://github.com/NuGet/NuGetGallery/pull/9119 (tracked by https://github.com/NuGet/Engineering/issues/4405)
* https://github.com/NuGet/NuGetGallery/pull/8860 (tracked by https://github.com/NuGet/NuGetGallery/issues/8822)
* https://github.com/NuGet/NuGetGallery/pull/9137 (tracked by https://github.com/NuGet/NuGetGallery/issues/8726)

Changes without tracking issue:
* http

[2022-06-14 07:45] Maraudingas opened #9140 "[NuGet.org Bug]: Connection resets and invalid JSON returned from api.nuget.org"
### Impact

I'm unable to use NuGet.org

### Describe the bug

Can't restore packages from Nuget API V3, getting the following error message:
[code]

[code]

### Repro Steps

Restore Nuget packages from Nuget API V3

### Expected Behavior

Nuget packages restored.

### Screenshots

_No response_

### Additional Context and logs

_No response_

[2022-06-14 08:31] Maraudingas commented on #9140
Good catch! I think it starting to work again. I've got a successful pipeline working and local build.

[2022-06-14 08:34] marcoschneidertui commented on #9140
Yes agree,
I see the connection is secure again
![grafik](https://user-images.githubusercontent.com/30691895/173532462-a105d5f6-0781-48f3-83df-f2eef9e02851.png)

[2022-06-14 10:09] Maraudingas commented on #9140
Agree, for a period of time it was working, but now failing again.

[2022-06-14 15:32] joelverhagen commented on #9140
Hello, thanks for all of the reports. We had an increased error rate for our V3 CDN endpoints in some geographies from 11:30 PM Pacific time to 4:15 AM. Since that time window, our monitoring indicates the issue has been mitigated. Please do let us know on this thread if you are still facing a problem -- apologies for the inconvenience. We will work with our infrastructure partners to understand m

[2022-06-14 18:36] baudday commented on #9140
I am still experiencing this issue.

[2022-06-14 19:09] joelverhagen commented on #9140
We have performed a CDN failover to mitigate the problem. Please do let us know if you are continuing to see problems restoring packages or interacting with api.nuget.org. Thank you for your patience!

[2022-06-15 22:04] zhhyu commented on #8822
It has been deployed and verified on PROD.

[2022-06-15 22:04] #8822 closed

[2022-06-15 22:35] drewgillies opened #9145 "[Deployment] 2202.06.15"
# Gallery
## Changes
* https://github.com/NuGet/NuGetGallery/pull/9139 (https://github.com/NuGet/Engineering/issues/4370)

## Progress
* [x] Build https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6288583&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b
* [x] Release https://devdiv.visualstudio.com/DevDiv/_releaseProgress?_a=release-pipeline-progress&releaseId=1348659
* [x] DEV
* [x] I

[2022-06-16 02:04] ZweHlaingPhyo commented on #3971
I have similar issue for unable access api.nuget.org. Please fix it,i will sent an email to [support@nuget.org](mailto:support@nuget.org) with the details information.

[2022-06-16 22:50] #9135 closed

[2022-06-17 04:13] #9145 closed

[2022-06-21 00:29] joelverhagen opened #9146 "[Feature]: Increase the page size of the V3 catalog"
### Related Problem

Currently, the V3 catalog on NuGet.org has a page size of 550. This has served us well for many years but, as the protocol demands, the catalog is append only so the catalog `index.json` will only grow as the number of catalog leaves accumulates. To slow down the `index.json` growth rate we can increase the page size.

This will give us more time to plan a fully scalable solut

[2022-06-21 06:58] HypsyNZ commented on #2889
Really I have to use a third party for badges in 2022

[2022-06-21 16:32] agr opened #9147 "[Feature]: Show only latest minor versions in the version list by default"
### Related Problem

Mature projects likely have a lot of versions published and the amount of choice of versions can be confusing.

### The Elevator Pitch

Change the package version list behavior so that by default it shows only the latest minor.patch versions for each major one (with an option to show all) as those are likely the ones users would want to install.

### Additional Context and Det

[2022-06-21 19:20] joelverhagen commented on #9146
Great question! We picked 1,650 because it wasn't any higher than the current highest page size. This minimizes risk and time taken to investigate the impact of a larger catalog page size.

I think we could likely get away with a larger page size than this, but I'd like to keep the work low especially since this is a proactive change not reactive to a current observed problem. We can always re-ass

[2022-06-21 21:59] joelverhagen opened #9149 "[Feature]: Move Search Service from .NET Core 3.1 to .NET 6"
### Related Problem

_No response_

### The Elevator Pitch

.NET Core 3.1 is EOL on December 13, 2022.
https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core

We should move the Search Service to .NET 6 before that time.

### Additional Context and Details

_No response_

[2022-06-21 22:39] joelverhagen commented on #9147
/cc @clairernovotny - thoughts?

I love the idea. I wonder if there's a way we can instrument the page to know how often folks click the "show all versions" link.

Also, I wonder how this translates to the PM UI and any redesign effort. @chgill-MSFT - do we have data on just showing the latest minor versions in the version dropdown in PM UI?

[2022-06-21 22:55] clairernovotny commented on #9147
My initial thought is that this assumes a project is using SemVer and/or that the third digit is a minor/in-place update. I'm not sure we can make that assumption.

[2022-06-22 00:08] loic-sharma commented on #9147
I'm concerned that this behavior may be confusing:

1. A user may misunderstand this behavior as "only the X highest versions are shown" instead of "only the highest minor version is shown for each major version". I'd consider clarifying the language for `Show all versions`.
2. What would the page look like if a package has many major/minor versions? Would a user be able to understand why a non-hi

[2022-06-22 00:12] loic-sharma commented on #9147
Before the tabs redesign, we only showed the X highest versions. If a package had more than X versions, there'd be a `+ Show more` link below the version table to show all versions. Perhaps we should bring that back?

[2022-06-22 00:41] joelverhagen commented on #4077
We've shipped a Frameworks tab on the package details page. This shows all package asset frameworks (frameworks directly expressed by assets in the package) and calculated frameworks (implicit support via TFM mappings). This was tracked by https://github.com/NuGet/NuGetGallery/issues/4843 and is now resolved. Go try it out if you haven't already 😃.
https://www.nuget.org/packages/Newtonsoft.Json/13

[2022-06-22 00:41] #4077 closed

[2022-06-22 00:41] joelverhagen commented on #4598
We've shipped a Frameworks tab on the package details page. This shows all package asset frameworks (frameworks directly expressed by assets in the package) and calculated frameworks (implicit support via TFM mappings). This was tracked by https://github.com/NuGet/NuGetGallery/issues/4843 and is now resolved. Go try it out if you haven't already 😃.
https://www.nuget.org/packages/Newtonsoft.Json/13

[2022-06-22 00:41] #4598 closed

[2022-06-30 08:45] Willy-Kimura opened #9155 "[NuGet.org Bug]: Package signing using USB eTokens not supported"
### Impact

I'm unable to use NuGet.org

### Describe the bug

NuGet package signing using `nuegt.exe` does not support or recognize cryptographic USB eTokens, only file-based key signing using p12/pfx files. Currently due to this it's literally impossible to upload any of my NuGet packages. The error raised is `Key does not exist.`

### Repro Steps

Simply try using the `nuget sign` command to si

[2022-07-05 22:08] #8476 closed

[2022-07-06 10:13] Giorgi commented on #8878
In [my project](https://github.com/Giorgi/DuckDB.NET/blob/main/README.md) the image URL is https://raw.githubusercontent.com/Giorgi/DuckDB.NET/main/Logo.jpg but it is still not displayed on NuGet even though [Allowed domains for images and badges](https://docs.microsoft.com/en-us/nuget/nuget-org/package-readme-on-nuget-org#allowed-domains-for-images-and-badges) contains `raw.githubusercontent.com`

[2022-07-06 14:10] ocbjsys commented on #9140
Experiencing this now.

It works in the browser but is a 500 in GitHub
https://api.nuget.org/v3-flatcontainer/system.text.encodings.web/index.json

Retrying 'FindPackagesByIdAsync' for source 'https://api.nuget.org/v3-flatcontainer/system.text.encodings.web/index.json'. Response status code does not indicate success: 500 (Internal Server Error).

[2022-07-06 17:43] lyndaidaii commented on #8878
@Giorgi  I was able to display the image URL you provided on NuGet.org. Please let me know if you have further question.
![Screenshot 2022-07-06 104210](https://user-images.githubusercontent.com/64443925/177611187-17dfbf0d-f24a-46fe-8fa0-94904f9c74f1.png)

[2022-07-11 08:59] v-luzh opened #9159 "[NuGet.org Bug]: An error “unable to load the service index for source” occurs after making DevOps feed https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json enabled"
### Impact

It's more difficult to complete my work

### Describe the bug

An error “unable to load the service index for source” occurs after making DevOps feed https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json enable in PM UI

### Repro Steps

### Details about Problem
VS Version: Main\32710.19
NuGet Version: Dev\6.4.0.6
OS Version: Windows-11-Enterprise-21H2 ENU

### Detai

[2022-07-11 18:55] shishirx34 opened #9160 "Non-community packages are shown in top community packages list on stats page"
### Impact

It bothers me. A fix would be nice

### Describe the bug

![image](https://user-images.githubusercontent.com/1646506/178337557-1579bef7-81a9-4ebf-9eeb-dd3d31d0e460.png)

### Repro Steps

https://www.nuget.org/stats/packages

### Expected Behavior

These packages should be excluded from this list.

### Screenshots

_No response_

### Additional Context and logs

_No response_

[2022-07-11 20:08] agr opened #9161 "[Deployment] 2022.07.11"
# Gallery
## Changes
* https://github.com/NuGet/NuGetGallery/pull/9148

## Progress
* [x] Release: https://dev.azure.com/devdiv/DevDiv/_releaseProgress?_a=release-pipeline-progress&releaseId=1360406
* [x] DEV
* [x] INT
* [x] PROD

[2022-07-12 21:38] dominoFire commented on #9159
@v-luzh  I just checked the associated Azure DevOps feed. All vendor testing teams should have access.

Please let me know if you can access this page: https://dev.azure.com/farhub/repros/_artifacts/feed/farhub/connect/nuget.exe

![image](https://user-images.githubusercontent.com/1192347/178599958-1aefb8aa-5266-4c31-abd6-ce3c56b7b819.png)

[2022-07-14 06:34] mmisztal1980 commented on #9140
We're experiencing this right now.

[code]

[2022-07-14 14:55] certara-rgottam commented on #9140
experiencing an internal server error

/usr/share/dotnet/sdk/3.1.409/NuGet.targets(128,5): error : Response status code does not indicate success: 500 (Internal Server Error)

[2022-07-14 19:35] joelverhagen commented on #9140
@mmisztal1980 - the error message provided mentions a V2 URL. Is it possible you have the feed configured as V2 with `protocolVersion="2"` in your NuGet.config file? I also noticed there is no "www." in the V2 feed URL. I'm not certain the specifics of your client setup. Finally, our telemetry is not showing any availability issues on our V2 endpoint. Is the issue persisting?

@certara-rgottam - t

[2022-07-18 22:59] lyndaidaii opened #9168 "[2022-07-18] NuGet deployment"
# Gallery
## Changes
* https://github.com/NuGet/NuGetGallery/pull/9153
* https://github.com/NuGet/NuGetGallery/pull/9158
* https://github.com/NuGet/NuGetGallery/pull/9165
* https://github.com/NuGet/NuGetGallery/pull/9163
* https://github.com/NuGet/NuGetGallery/pull/9169
* https://github.com/NuGet/NuGetGallery/pull/9176

## Progress
* [x] Build: https://devdiv.visualstudio.com/DevDiv/_build/results

[2022-07-19 22:19] ryuyu commented on #9132
This is apparently still reproducing after fixes.

[2022-07-19 22:19] ryuyu commented on #9133
No longer reproduces.

[2022-07-19 22:19] ryuyu commented on #9134
No longer reproduces.

[2022-07-19 22:19] #9134 closed

[2022-07-20 01:15] ryuyu opened #9170 "[A11y]API Keys button is rendered using the wrong HTML Element type."
Original: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1554272

Repro Steps:
 - Hit https://www.nuget.org and press Enter key.
 - Navigate to "Sign in" control and hit enter.
 - Navigate to "Sign in with Microsoft" control and hit enter.
 - Select “API Keys” from the Profile Dropdown and hit enter.
 - Navigate to "Create" button and hit enter.
 - Enter Values in "Key Name" and "Glob Patt

[2022-07-20 01:18] ryuyu opened #9171 "[A11y][ScreenReader]NVDA is announcing as the Upload package heading twice"
Original: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1554248

Repro Steps:
Hit https://www.nuget.org and press Enter key.
Navigate to "Sign in" control and hit Enter key.
Navigate to "Sign in with Microsoft" control and hit Enter key.
Select “Upload Package” from the Profile Dropdown and hit Enter key.
Verify that whether the Upload package heading is announcing as two times or not.

A

[2022-07-20 01:22] ryuyu opened #9172 "[A11y][ScreenReader]NVDA is not announcing the warning suggestion before the reading the line under the Paket CLI command."
Original: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1555446

Repro Steps:
Hit https://www.nuget.org and press Enter key.
Navigate to "Sign in" control and press Enter key
Navigate to "Sign in with Microsoft" control and press Enter key
Search for a key term (say “json”) from search box.
Click on "Newtonsoft.json" control and press Enter key
6. Navigate to "Paket CLI" control and press

[2022-07-20 01:25] ryuyu opened #9173 "[A11y][ScreenReader]NVDA is announcing extra information when the user activates the shortcut key for the heading 'H'."
Original: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1555443

Repro Steps:
Hit https://www.nuget.orgb/ and press Enter key.
Navigate to "Sign in" control and hit enter.
Navigate to "Sign in with Microsoft" control and hit enter.
Search for a key term (say “json”) from search box.
Click on "Newtonsoft.json" control and hit enter.
Navigate to "Info" and "Statistics" section present on ri

[2022-07-20 16:50] joelverhagen commented on #9140
Hello @spotvader, this issue is likely related to cipher suites enabled on your PC and on NuGet.org. Could you please reach out to our support team using https://www.nuget.org/policies/Contact (sign in first). We'll be able to more closely assist you.

Generally speaking, NuGet.org has moved to a new multi-CDN infrastructure: https://github.com/NuGet/Announcements/issues/60. Some older TLS cipher

[2022-07-20 16:53] joelverhagen opened #9174 "Add a verify or auto-commit behavior to ensure `grunt` has been run"
_Originally posted by @loic-sharma in https://github.com/NuGet/NuGetGallery/issues/9169#issuecomment-1189770558_

We must manually run `grunt` to ensure the LESS and CSS are in sync prior to committing to the NuGet/NuGetGallery repo. This is error prone since it requires the dev to remember this manual step. We can improve the process here by either:

1. Automate the `grunt` run at build time
1. A

[2022-07-20 19:14] erdembayar opened #9175 "If-Modified-Since, If-None-Match, Etag are not supported by all CDN edge nodes"
### Impact

It bothers me. A fix would be nice

### Describe the bug

Related to: https://github.com/NuGet/NuGetGallery/issues/8048 and https://github.com/NuGet/Client.Engineering/issues/1451
Http get requests with `If-Modified-Since, If-None-Match, Etag` for meta data path(https://api.nuget.org/v3/registration5-gz-semver2/stackexchange.redis/index.json) is not tested/supported for some CDN edge n

[2022-07-21 17:42] joelverhagen commented on #8476
[Microsoft.Extensions.Primitives](https://www.nuget.org/packages/Microsoft.Extensions.Primitives/7.0.0-preview.6.22324.4) was the first package to exceed `Int32.MaxValue` and things are working well.
![image](https://user-images.githubusercontent.com/94054/180278537-621807d5-4f0a-442c-8dbe-61769b8e816c.png)
([source](https://www.nuget.org/packages?packagetype=&sortby=totalDownloads-desc&q=owner%3A

[2022-07-21 18:06] camigthompson commented on #9170
Replied to the ADO bug and requested clarification as the specified headers appear in other pages and seem to just be needed as headers, not buttons.

[2022-07-22 18:17] camigthompson commented on #9171
Unable to reproduce. Replied to ADO bug asking for more information.

[2022-07-22 18:39] camigthompson commented on #9172
@ryuyu The warning icon that is being ignored by the screen readers has attribute `aria-hidden` set to `true`. Is it expected that the icon be accessible to the screen readers?

[2022-07-22 18:48] ryuyu commented on #9172
That is a great question. The expectation is that if a warning is presented, the content of the warning should be screen reader accessible. If there is another element that has the same content that is already screen reader accessible, then we can probably call that sufficient. If not, we should either expose the icon, or add a second, screen reader accessible text content.

[2022-07-22 18:50] camigthompson commented on #9172
The text content of the warning section on the page is screen reader accessible, it is only the icon that is being ignored according to the description of the issue.

[2022-07-22 20:18] nkolev92 commented on #9175
I think as long as we're not getting false negatives, we can use the If-Modified-Since header.

[2022-07-23 08:13] Timur-P commented on #8176
Make sure you install all Windows Updates on your Win 7 box. When I did this, it worked

[2022-07-23 09:30] abelbraaksma commented on #8176
@joelverhagen i haven’t seen the issues I raised here for a while now. They may have, in part, be caused by Win7 still being dominant at the time, but since support for that ended and everybody moved to 10 or 11 I haven’t seen it.

Thanks for the fixes in this regard and the continued hard work!

[2022-07-25 20:50] ryuyu commented on #9172
Let me look in to this a bit and figure out what the expectation is.

[2022-07-26 13:34] bradleypearce opened #9197 "[Bug]: Unable to browse or restore packages via Nuget"

[2022-07-28 19:13] SoftCircuits opened #9180 "Forks of my repository are ALSO posted on NuGet"
I have a general question about when people fork one of my repositories, and then post their fork on NuGet.

For example, one of my repositories is [Silk](https://www.nuget.org/packages/SoftCircuits.Silk/). This has several forks on GitHub. I don't understand all the details of forks. But one of them also posted their fork on [NuGet](https://www.nuget.org/packages/LbsFeldkirch.Silk/).

My question

[2022-07-29 12:32] EkiH opened #9182 "[NuGet.org Bug]: Using nuget.core 2.14 with https://www.nuget.org/api/v2 no longer allows finding packages"
### Impact

I'm unable to use NuGet.org

### Describe the bug

We are using NuGet.Core 2.14.0 with https://www.nuget.org/api/v2 and yesterday we noticed an error blocking finding packages.

We are getting the following exception on almost all packages we try to find using FindPackages(...)
System.InvalidOperationException: The current value 'String' type is not compatible with the expected 'System

[2022-07-30 16:51] jzabroski commented on #3450
I suggested a feature like this to Becca Z as part of GitHub Discussions Beta.
In general we need more statistics on our users.
Even better would be namespace/API coverage when someone does a pack on my library.

[2022-08-01 17:48] lyndaidaii opened #9183 "[Readme] Add warning on NuGet.org for no Readme"
Add info/warm message on NuGet.org for no Readme

NuGet upload UI shows a friendly message encouraging users to adopt best practices (license, README) | Package publishers who us the NuGet.org publish UI (~50%)

[2022-08-01 19:54] lyndaidaii commented on #9183
<html>
<body>

4 | Tooling | NuGet upload UI shows a friendly message encouraging users to adopt best practices (license, README) | Package publishers who us the NuGet.org publish UI (~50%) | Risk: None | Reward: 2/5 Many publishers become aware of best practices, but not as many as client tooling message | Server
-- | -- | -- | -- | -- | -- | --

</body>
</html>

[2022-08-02 13:29] flobernd commented on #8642
@lyndaidaii This still seems to happen (again) when uploading a package to nuget.org. Could you please check that again?

[2022-08-02 18:21] #9114 closed

[2022-08-02 18:21] #9132 closed

[2022-08-02 18:45] ryuyu commented on #9172
Ok so I tested this a little bit and looked at the bug. It appears the expectation is that when you tab to the Paket CLI button in the tab panel, it reads out the warning information, not when the warning information itself is tabbed to. We SHOULD be able to achieve this effect by dynamically adding an aria alert role to the warning element when the tab panel is tabbed to. Similar to what is done

[2022-08-03 22:20] drewgillies commented on #9140
Note this status update on Twitter: https://twitter.com/nuget/status/1554953163576586241?s=20&t=S40LVQSEMItr0CJPTg7bVQ. It's brief but it's essentially our experience--we are dependent on external services for connectivity and we have been working with them to determine what mitigations we can put in place in addition to the increased load capacity that has already been achieved.

[2022-08-04 01:37] zhhyu commented on #9180
Hi, @SoftCircuits. If you have concerns about any copyright issues, please reach out to us:
https://docs.microsoft.com/en-us/nuget/nuget-org/policies/deleting-packages#exceptions

Thanks!

[2022-08-05 10:35] flobernd opened #9185 "[NuGet.org Bug]: Newline breaks in markdown (potentially differing behavior on preview vs. rendered content)"
### Impact

It's more difficult to complete my work

### Describe the bug

Possible regression. This bug seems to be back:
https://github.com/NuGet/NuGetGallery/issues/8642

Linkebreaks are inserted after each badge image. No empty line is present in the source markdown.

### Repro Steps

Embed README.md in NuGet package:
https://github.com/flobernd/zysharp-metaprogramming/commit/a4fd3f8109e9baf34

[2022-08-06 08:27] aus10code opened #9186 "[Bug]: HTML tags supported in CommonMark not rendered in nuget.org documentation page"
### NuGet Product Used

NuGet.exe

### Product Version

6.0

### Worked before?

Not sure

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

html/css not supported in readme file when uploaded to [Nuget.org](https://www.nuget.org/packages/austen.ConsoleHelperLibrary/)

The [documentation](https://docs.microsoft.com/en-us/nuget/nuget-org/package-readme-on-nuget-org#supporte

[2022-08-08 06:38] EkiH commented on #9182
@shishirx34 Should this be moved to the new sprint?

[2022-08-08 18:25] shishirx34 commented on #9182
@joelverhagen - is this related to the #9000 issue? any thoughts?

[2022-08-08 18:29] shishirx34 commented on #9182
@drewgillies - could you investigate this issue please?

[2022-08-08 23:08] shishirx34 commented on #9183
working on redesigning the upload page to prevent confusion regarding readmes

[2022-08-08 23:13] shishirx34 commented on #9182
@ryuyu  - to investigate.

[2022-08-09 02:13] loic-sharma commented on #9186
This is a duplicate of https://github.com/NuGet/NuGetGallery/issues/8644

[2022-08-09 07:11] aus10code commented on #9186
Indeed it is.

I tried finding an existing ticket but I guess I didn't use any matching keywords.

[2022-08-10 06:50] danielchalmers opened #9187 "[NuGet.org Bug]: README doesn't render comments in code blocks"
### Impact

It bothers me. A fix would be nice

### Describe the bug

Comments in XAML code blocks aren't rendered.

### Repro Steps

Example to include in README:

\```xaml
xmlns:wp="clr-namespace:WpfWindowPlacement;assembly=WpfWindowPlacement"

\
wp:WindowPlacementProperties.Placement="{Binding MyPlacement}"
\```

### Expected Behavior

Comment `Update size, position, and state on SourceInitiali

[2022-08-11 08:44] prime167 commented on #8476
It only took 71 weeks 😃

![image](https://user-images.githubusercontent.com/3722845/184095391-60d420b1-c422-41d8-934d-d7df3255b728.png)

[2022-08-12 21:30] camigthompson commented on #9170
ADO bug closed.

[2022-08-12 21:30] #9170 closed

[2022-08-12 21:32] camigthompson commented on #9171
Still awaiting a response on ADO bug.

[2022-08-13 00:15] agr commented on #9180
This is the nature of open source projects: publishing your code publicly under open source license usually grants others the right to copy, modify and redistribute your code, so much that GitHub makes it really easy to fork public repositories.

As to why it happens in your specific case, only the person who made the fork would be able to answer, you can try checking the changes they made after f

[2022-08-13 00:59] SoftCircuits commented on #9180
@agr I understand it's open source, which allows them to do things with the source code. But publishing it as your own NuGet package with--as far as I can tell--no changes, and getting more downloads than mine just seems to be a problem.

I may contact them, but I'm not sure I can do anything more than ask nicely if they'd take ut down.

[2022-08-14 01:02] agr commented on #9180
You are comparing noise to noise: when we are talking about dozens downloads per month, those are most likely generated by bots that scrape the package feed for whatever reason. Packages with absolutely zero utility generate a few downloads per month.

And regarding the changes: quick glance at the other package repository shows that at the very least, the package was retargeted to net6.0 and some

[2022-08-14 01:46] SoftCircuits commented on #9180
@agr It already targeted .NET 6.0. The main change he made was to replace every occurrence of my name with his name.

[2022-08-15 14:33] NeilTalbott commented on #9182
For further context/reference, I see the same issue with (for example) NewtonSoft.Json - see LINQPad snippet below (again using NuGet 2.14):

[code]

This change has had a wide-ranging impact for our software since our previously deployed bootstrapping installers no longer function correctly. Very grateful for any update on this.

[2022-08-16 06:47] nickeeex commented on #9182
This is still a pretty bad blocker and requires us to manually do some work to fetch the dependencies from the v3 feed and move them to the local cache.  Any progress on this issue would be highly appreciated.

[2022-08-16 13:34] DaleMckeown commented on #8476
The download count has been stuck on 2161665532 for an hour now, though I do not know how often it updates.

![image](https://user-images.githubusercontent.com/1249673/184891360-7e0be587-92d6-46a9-aa4a-92cce4dfd87e.png)

Curiously, while this is not int32 MaxValue, it's suspiciously identical to the value of a bug I have just reported With Azure DevOps where artifact feeds are failing to consume u

[2022-08-16 19:09] ryuyu commented on #9182
Hey sorry for the slow response here. This appears to be related to an update we made to support download count values larger than the max value for int32. I'm digging into a solution here that should hopefully allow you to keep your workflow without changes.

[2022-08-17 03:36] drewgillies opened #9194 "GitHubVulnerabilities2Db throwing disposed exceptions on HttpClient"
We're seeing these exceptions in telemetry and they're blocking updates to vulnerability data.

[2022-08-17 07:21] #9194 closed

[2022-08-17 10:01] apxltd opened #9196 "[NuGet.org Bug]: totalDownloads > 2.2b can crash clients assuming int32"
### Impact

I'm unable to use NuGet.org

### Describe the bug

A handful of "really popular" packages seem to have surpassed the 2.2b threshold:
* Microsoft.NETCore.Platforms
* Microsoft.Extensions.Primitives
* Microsoft.Extensions.DependencyInjection.Abstractions

As a result, clients that process results from the [Search resource](https://docs.microsoft.com/en-us/nuget/api/search-query-service-r

[2022-08-17 19:38] MoonStorm commented on #5084
For me it was also  the `maxRequestLength` and the `maxAllowedContentLength`. Seriously, why isn't there a log file produced by default?! This is how easy it is to get it done. Open the web.config and add the following lines under the configuration element:

[code]

I believe the NuGet.Server package already adds the line:
`            config.Services.Replace(typeof(IExceptionLogger), new TraceExc

[2022-08-17 20:11] ryuyu commented on #9182
I spoke with the package maintainers, and they said that the NuGet.Core package is no longer maintained and hasn't been for a while.
They recommended moving to the NuGet Client SDK packages, NuGet.Protocol and NuGet.Packaging.
The documentation for these packages can be found at https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk

I believe the replacement you would want to use is do

[2022-08-17 20:36] nickeeex commented on #9182
We have started the work to migrate to newer nuget libraries, we just currently have our own implementation for IPackage and IPackageLookup from NuGet.Core to use azure blobs as our package store.

We could not find a similar way to do it with newer libraries. We are going to get rid of NuGet.Core but it will unfortunately still probably take a while to get there.

Bigger problem is that we have h

[2022-08-17 21:27] NeilTalbott commented on #9182
We are in a similar situation to that described by nickeeex above. All of our customers are suddenly unable to use our bootstrapping mechanisms which have worked without problems over many years. Of course we will look into migrating to newer libraries but this will be a significant task, which itself will be substantially delayed because of the interim workarounds we will urgently need to provide

[2022-08-18 08:07] martinczsmith commented on #9182
Yes, I would echo the comments above. Our deployment activities have stopped dead too as our TeamCity server is essentially useless right now. I also fully agree with Neil, this was already infuriating but to then find out that this is due to a download counter......

[2022-08-18 10:48] nickeeex commented on #9182
We got a workaround for now. Mirrored all the packages with over 2.1 billion downloads to a myget.org feed that is used before nuget.org v2 feed in dependency resolution.  Only small problem was MyGet.org import from nuget.org was also broken for these packages with over 2.1 billion downloads 😅

[2022-08-18 22:29] zhhyu commented on #9197
Hi, @bradleypearce. My apologies for this inconvenience!

We suggest you to check cipher suites configured on your machine to ensure that any of cipher suites listed in this announcement (https://github.com/NuGet/Announcements/issues/60) have been enabled.

[2022-08-18 23:11] #8864 closed

[2022-08-19 00:15] camigthompson commented on #9172
Branch merged into dev.

[2022-08-19 19:29] ryuyu commented on #9182
Thank you for your patience on this matter.
We have been working on a fix that should unblock your scenario.
We are testing it now and it should be rolling out soon.

The root of the issue here is that the v2 endpoint was returning a value that could not be parsed into a valid int32 value.
Unfortunately, it looks like this was going to happen even without any changes as this value ends up coming f

[2022-08-20 03:51] shishirx34 commented on #9182
The server side fix (`DownloadCount` capped at `Int32.MaxValue`) is now rolled out. I verified with the above repro steps, and the packages are being fetched as expected. Please let us know if you encounter any issues.

[2022-08-20 03:51] #9182 closed

[2022-08-22 11:22] dorssel opened #9200 "[Feature]: Allow README URLs from Free Software Foundation Europe, REUSE"
### Related Problem

Uploading my nuget README.md gives:

The URL in question is: https://api.reuse.software/info/github.com/dorssel/dotnet-aes-extra
(and the associated badge.

### The Elevator Pitch

Considering that REUSE is a widely used tool to ensure proper (open-source) licensing, and that nuget has a strong open-source incentive, I think such URLs should be whitelisted (either just api.reu

[2022-08-22 12:46] potatoqualitee opened #9201 "[NuGet.org Bug]: Please fully qualify NuGet\Install-Package on the installer tab"
### Impact

It's more difficult to complete my work

### Describe the bug

As a PowerShell Developer, I am excited to see a PowerShell install command on each package.

![image](https://user-images.githubusercontent.com/8278033/185921310-15f20721-1336-4260-9378-82fd2b81c34d.png)

But it always fails because `-Version` does not exist in my `Install-Package` command. Only `-RequiredVersion` exists.

[2022-08-22 13:34] joelverhagen commented on #9201
This is an excellent suggestion. The confusion between the Package Manager Console's `Install-Package` (used historically within VS) and `Install-Package` in non-VS PowerShell (for PowerShell package management) is a great source of confusion.

Renaming the command is outside of the scope of NuGet.org. Furthermore, I think it would be a very tough request to fulfill since that's a breaking change

[2022-08-22 13:37] joelverhagen commented on #9201
@potatoqualitee, are you interested in opening a PR to add the `NuGet\` qualifier as well as adding note around where this command is used? Maybe linking to https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-powershell? This seems like a great "Up for grabs" issue that a community member can gets started on contributing with.

[2022-08-22 14:14] joelverhagen opened #9202 "[NuGet.org Bug]: Use an unambiguous or locale (browser context) aware date format on the status page"
### Impact

It's more difficult to complete my work

### Describe the bug

Found by this tweet: https://twitter.com/SimonCropp/status/1559495834445938689

The format MM/DD/YYYY is ambiguous across cultures and locales. Using YYYY-MM-DD or the local format w.r.t. to browser context would be more helpful.
![image](https://user-images.githubusercontent.com/94054/185941649-f143f95f-5e7c-47af-8003-4e5d

[2022-08-22 15:43] potatoqualitee commented on #9201
Thanks! I'll see what I can do.

[2022-08-22 20:40] dorssel opened #9204 "[NuGet.org Bug]: Broken link "Read more" in warning"
### Impact

It bothers me. A fix would be nice

### Describe the bug

After just uploading the snupkg symbol file for my package I got the (correct) message:

[code]

However, the "Read more" link does not work and just loads a Bing search page. This is the link URL: https://aka.ms/NuGetSymbolsPackageValidation

### Repro Steps

1. Upload package (nupkg)
2. Upload symbols (snupkg)
3. Click the "Re

[2022-08-22 21:30] joelverhagen commented on #9204
Very strangely, this link appears to be working for me. However, I do know that aka.ms redirects to Bing for non-existent names. Could you try that URL with cURL/httpie/Invoke-WebRequest?

[code]

[2022-08-22 22:35] dorssel commented on #9204
I tried again, and this time it worked. I investigated a bit. This time aka.ms resolved to 104.73.150.198 (which works). However:

[code]

Then:

[code]

Then forcing aka.ms to resolve to the European server (23.222.48.85):

[code]

I am in the Netherlands, where it most of the times resolves to European server. That leads to Bing.
Must be a (mis)synchronization thingy.

[2022-08-22 22:37] joelverhagen commented on #9204
This seems like a bug with aka.ms itself. This service is outside of my team's scope but I will try to pass this information along and find a proper owner. Thank you so much for the additional information and debugging!

[2022-08-22 22:42] dorssel commented on #9204
Feel free to close this when it's out of your control.

[2022-08-22 22:44] joelverhagen commented on #9204
I've opened an internal ticket with the appropriate team. I'll leave this issue open for the next week or so for tracking purposes. Thanks again.

[2022-08-22 23:05] shishirx34 commented on #9196
Hello @apxltd - this bug is addressed with a fix in this issue: https://github.com/NuGet/NuGetGallery/issues/9182. Let us know if you continue to see any issues here.

[2022-08-22 23:05] #9196 closed

[2022-08-23 15:46] joelverhagen commented on #9204
Hey @dorssel, could you try to reproduce the problem again? I took some steps prescribed by our internal partner team which should fix the problem. It looks like there was a clean-up procedure which make this link inactive due to some unexpected settings but that should be fixed now.

[2022-08-23 17:45] dorssel commented on #9204
Yep, looks good.

[2022-08-23 17:45] #9204 closed

[2022-08-23 21:31] camigthompson commented on #8833
Branch merged into dev.

[2022-08-24 15:57] joelverhagen opened #9205 "[Feature]: Support renaming users and organizations on NuGet.org"
### Related Problem

We've received several support requests on NuGet.org over the years to change a user account or organization username. This is not currently supported with either a tool available to users or to site admins.

The workaround is:

1. Create a new account with the desired username.
2. Add the new account as an owner on packages the old account owns.
3. Accept ownership in the new

[2022-08-25 13:45] joelverhagen commented on #9200
Hey @lyndaidaii, could you take a look at this image domain candidate?

[2022-08-25 14:01] joelverhagen commented on #9186
We'll close this in light of https://github.com/NuGet/NuGetGallery/issues/8644. Thanks!

[2022-08-25 14:01] #9186 closed

[2022-08-25 14:08] joelverhagen commented on #9187
Thanks for the bug report @danielchalmers! This is indeed an issue and it extends beyond XAML code blocks. For example, this package uses XML (a recognized syntax highlight which XAML is not) and comments are hidden.

My guess is that the custom HTML sanitizer that's blocking https://github.com/NuGet/NuGetGallery/issues/8644 is also removing these code comments.

[2022-08-25 14:13] joelverhagen commented on #9185
Hey @flobernd, I tried to reproduce the issue by viewing this page:
https://www.nuget.org/packages/ZySharp.Metaprogramming/1.1.1#readme-body-tab

It seems to be working as you desire (no line breaks)
![image](https://user-images.githubusercontent.com/94054/186688473-aef81aec-ee86-416e-86ba-3cad3c063add.png)

Perhaps I am misunderstanding?

[2022-08-25 14:17] flobernd commented on #9185
@joelverhagen Hey, please check what ive written under the "additional context" section. I can pack you a new artifact, if that helps you.

Im as well not sure if this problem occurs on the main overview or just in the preview dialog (when doing a manual upload on nuget.org). That's the place where I noticed this behavior.

[2022-08-25 14:20] joelverhagen commented on #9185
Ah, I misunderstood! I compared the content in your live package:
![image](https://user-images.githubusercontent.com/94054/186690101-9c2bd6b8-c03a-4c2d-892b-60d71b500009.png)
(source: https://nuget.info/packages/ZySharp.Metaprogramming/1.1.1)

... with the content in your GitHub link (https://github.com/flobernd/zysharp-metaprogramming/commit/a4fd3f8109e9baf34270422910c95b82495f66a4#diff-b33563055

[2022-08-25 14:49] joelverhagen commented on #9180
## My perspective on the situation

Hello @SoftCircuits, over the years these problems have come up from time to time. There's a lot of different things that could be happening here:

1. As @agr, the fork may introduce legitimate changes or enhancements specific to the editor's needs.
   - Based on the description of the package you provided and looking at the code, you project indeed _supports_ .

[2022-08-25 18:38] dorssel commented on #9200
FYI, example nuget package here: https://www.nuget.org/packages/Dorssel.Security.Cryptography.AesExtra

[2022-08-25 19:36] joelverhagen commented on #9187
This is a duplicate of https://github.com/NuGet/NuGetGallery/issues/9060.

[2022-08-25 19:36] #9187 closed

[2022-08-25 21:28] lyndaidaii commented on #9200
@dorssel , thanks for idea. I am going to evaluate if this domain to secure to include in our image domain allowlist. I will let you know once I have result for evaluation,

[2022-08-26 12:03] ac-proagrica opened #9227 "[Bug]: https://api.nuget.org/v3/index.json/ returning 404 (with trailing forward slash)"
### NuGet Product Used

Other/NA

### Product Version

Nuget Service Index

### Worked before?

Yes

### Impact

_No response_

### Repro Steps & Context

Nexus adds a trailing slash to the service index url and expects both https://api.nuget.org/v3/index.json/ and https://api.nuget.org/v3/index.json to return the same response.

This can be seen in the answer to a similar issue here: https://issu

[2022-08-26 14:57] joelverhagen commented on #9201
Thank you @potatoqualitee for your contribution! We'll work on getting this out to NuGet.org.

[2022-08-26 15:21] carlreinke opened #9207 "[NuGet.org Bug]: Cannot sign in using Microsoft account security key"
### Impact

It bothers me. A fix would be nice

### Describe the bug

"AADSTS500201: We are unable to issue tokens from this API version for a Microsoft account. Please contact the application vendor as they need to use version 2.0 of the protocol to support this."

### Repro Steps

1. Add a security key to the Microsoft account you will use to log in
2. Navigate to nuget.org
3. Click "Sign in"
4.

[2022-08-26 15:42] joelverhagen commented on #9207
Hello @carlreinke, based on my understanding of the problem, it seems like this is outside of the scope of NuGet.org and is a problem you're encountering while you are authentication with your Microsoft account.

I am not familiar with that error message and it's not clear to me what the "application" is in that context.

I suggest trying several things:

1. Reaching out to Microsoft support about

[2022-08-26 16:00] carlreinke commented on #9207
I am assuming that NuGet Gallery is the application in this case.

Were you able to reproduce the issue with the steps I provided?  Either you will not be able to reproduce the issue or you will quickly become familiar with the error code.

I do not have trouble signing into microsoft.com or outlook.com using this security key to authenticate with my Microsoft account.

[2022-08-26 16:06] joelverhagen commented on #9207
I was not. I have a USB Yubikey associated with my personal Microsoft account that can use to sign into my Microsoft account. The flow worked as expected in an InPrivate Edge browser instance.

[2022-08-26 16:20] carlreinke commented on #9207
Hmm, maybe I need to provide better steps then.  😓

Your security key is configured to be used for "Account sign in" and not for "Account verification"?

![image](https://user-images.githubusercontent.com/11667451/186948503-d9a8c6e6-73bf-4e70-9ab5-df5879660189.png)

[2022-08-26 16:39] joelverhagen commented on #9207
"Account sign in" (to be honest I don't know the difference between those two options you stated but it looks like we match)
![image](https://user-images.githubusercontent.com/94054/186952118-1141b785-1b68-49cf-9670-0234e230e773.png)

[2022-08-26 16:46] carlreinke commented on #9207
Okay, I guess it's just my account then.  If somebody else hits the same error, maybe we can determine the common factor.

[2022-08-26 16:46] #9207 closed

[2022-08-26 17:14] potatoqualitee commented on #9201
Thank you for the acceptance and assist!

[2022-08-26 18:44] #9168 closed

[2022-08-26 18:45] joelverhagen opened #9211 "[2022-09-06] Deployment"
# Gallery

Changes:
- https://github.com/NuGet/NuGetGallery/pull/9190
- https://github.com/NuGet/NuGetGallery/pull/9193
- https://github.com/NuGet/NuGetGallery/pull/9203
- https://github.com/NuGet/NuGetGallery/pull/9206
- https://github.com/NuGet/NuGetGallery/pull/9208
- https://github.com/NuGet/NuGetGallery/pull/9212
- https://github.com/NuGet/NuGetGallery/pull/9213
- https://github.com/NuGet/NuG

[2022-08-29 19:10] baronfel opened #9215 "[Feature]: Add F# support to the new Syntax Highlighting feature"
### Related Problem

The new README syntax highlighting is great, but a .NET Language isn't supported for it: F#. I'd really like for all of my F# sample code to be highlighted just like other languages.

### The Elevator Pitch

That's because the F# syntax isn't bundled with the dfeault bundle of highlight.js. It should be very easy to add the necessary CDN extension for F# (https://cdnjs.cloudfl

[2022-08-29 21:07] zhhyu opened #9216 "[Connection] Deprecating legacy cipher suites at www.nuget.org"
In order to provide a more secure and compliant environment for our customers, we are planning to deprecate legacy cipher suites and only support the following cipher suites at www.nuget.org:

TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
TLS_ECDHE_RSA_WITH_A

[2022-08-29 21:13] zhhyu commented on #9140
Hello, we will close this issue now. Please reopen it or reach out to us at support@nuget.org if you meet this problem again. Thanks!

[2022-08-29 21:15] #9140 closed

[2022-08-29 23:46] lyndaidaii commented on #9200
@dorssel, thanks for your patience. After evaluation of this domain, we decided to add this new domain to our image domain allowlist.

[2022-08-30 00:21] lyndaidaii commented on #9185
Preview looks fine when I put both source of Readme(source1:  https://nuget.info/packages/ZySharp.Metaprogramming/1.1.1 & source 2: https://github.com/flobernd/zysharp-metaprogramming/commit/a4fd3f8109e9baf34270422910c95b82495f66a4#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5)
![Screenshot 2022-08-29 171802](https://user-images.githubusercontent.com/64443925/187321103-26bd

[2022-08-30 00:55] loic-sharma commented on #9216
Perhaps consider announcing this here as well: https://github.com/NuGet/Announcements

[2022-08-30 06:57] flobernd commented on #9185
@lyndaidaii Thanks for checking. I will try again and provide a minimalistic example, if it still does not work for me.

[2022-08-30 17:30] jeromelaban commented on #9216
Thanks. It would be interesting to explain in which conditions you've found nuget clients to use this particular set of ciphers, maybe a combination of OS and client versions?

[2022-08-30 22:29] camigthompson commented on #9171
ADO bug closed.

[2022-08-30 22:29] #9171 closed

[2022-08-31 13:32] #9202 closed

[2022-08-31 19:26] joelverhagen commented on #9180
Hey @SoftCircuits, we haven't heard back from you so I'll go ahead and close this. Please feel free to reach out to us again with another issue or with our contact page: https://www.nuget.org/policies/Contact.

[2022-08-31 19:26] #9180 closed

[2022-08-31 21:41] zhhyu commented on #9216
Hi, @jeromelaban. Thanks for your question! Cipher suite is an OS-level configuration and should be unrelated to client versions. We pick up these cipher suites to ensure that some of them are supported by old systems. Besides, this change only applies to the website (https://www.nuget.org/) and V2 feed. NuGet clients are suggested to use V3 feed (https://api.nuget.org/v3/index.json), which is not

[2022-09-01 16:31] sstevenson-oceaneering commented on #9216
The v3 feed isn't loading for me today and I am using Visual Studio 2019 for Mac community.

 https://api.nuget.org/v3/index.json: Unable to load the service index for source https://api.nuget.org/v3/index.json.
  A server with the specified hostname could not be found.
  Error Domain=NSURLErrorDomain Code=-1003 "A server with the specified hostname could not be found." UserInfo={_kCFStreamErrorCo

[2022-09-01 17:07] joelverhagen commented on #9216
Hello @spsteve-ogds, this announcement is about www.nuget.org and not api.nuget.org. Could you contact support about this problem and include the following information:
https://docs.microsoft.com/en-us/nuget/nuget-org/nuget-org-faq#why-can-t-i-download-packages-from-or-upload-packages-to-nuget-org (on Mac you can just use the `mtr` tool available from Homebrew).

You can contact us using this form

[2022-09-01 17:07] zhhyu commented on #9216
Hi, @spsteve-ogds. My apologies for this inconvenience!

This is a DNS failure related to V3 feed. We will help you through the support mailbox. Thanks!

[2022-09-01 18:20] lyndaidaii commented on #9215
@baronfel Thank you for your feedback. Sorry for missing support for F#.

To this point our main source of input on README features has been GitHub READMEs,
but now that we have many more NuGet.org READMEs we can make more targeted analysis.

Based on data on NuGet.org, most popular language includes `csharp,cs, bash, xml, html, yaml, shell, powershell, json, cshtml,cmd, fsharp, javascript,diff,sq

[2022-09-01 18:21] baronfel commented on #9215
No problem at all, I'm just excited to see more NuGet.org README features :)

[2022-09-02 17:01] joelverhagen commented on #9149
This is fully deployed to PROD.

[2022-09-02 17:01] #9149 closed

[2022-09-02 22:16] #8726 closed

[2022-09-02 23:18] ClaudioFriederich commented on #9216
This is happening to me too.  nslookup api.nuget.org shows unable to resolve.

[2022-09-02 23:26] zhhyu commented on #9216
Hi, @ClaudioFriederich. Could you please reach out to us at  [support@nuget.org](mailto:support@nuget.org), with the information of your geographical area? Thank you!

[2022-09-05 12:12] joelverhagen opened #9218 "[Mitigated incident] api.nuget.org is failing for some requests"
## Impact

It's more difficult to complete my work

### Current status: mitigated as of 2022-09-07 4:32 PM UTC

## Problem description

While restoring packages from https://api.nuget.org/v3/index.json, you may encounter request timeouts or errors. This is an active incident that the NuGet.org team is investigating.

If you are facing an issue, please post a comment here with your approximate geog

[2022-09-05 12:16] tomasbruckner commented on #9140
Having the same issue right now, Everything was working fine yesterday (also pipeline in Gitlab CI using Docker image)

[2022-09-05 12:27] hulken76 commented on #9218
Issue on own hosted devops build agent (Ubuntu 20.04), location Sweden
`"/azp/_work/1/s/src/AzureFunctions/DeviceEventHandler/DeviceEventHandler.csproj" (Restore target) (1) ->
       (Restore target) ->
         /azp/_work/_tool/dotnet/sdk/6.0.100/NuGet.targets(130,5): error : Failed to download package 'System.Linq.Expressions.4.1.0' from 'https://api.nuget.org/v3-flatcontainer/system.linq.expre

[2022-09-05 12:28] Arnab-Developer commented on #9218
GitHub action is failing at nuget restore step with below error message.

[code]

[2022-09-05 12:56] joelverhagen commented on #9140
Hey @tomasbruckner, we have this issue tracking today's availability problem: https://github.com/NuGet/NuGetGallery/issues/9218. On that issue, please let us know if you are still encountering a problem.

[2022-09-05 13:36] maksperovpm opened #9219 "Grpc.Net.Common .NETStandard is missing "Grpc.Net.Compression.DeflateCompressionProvider""
### Impact

It bothers me. A fix would be nice

### Describe the bug

I'm using a host application which targets .NET 6.0 with GRPC service developed under windows which references "Grpc.Net.Common". under windows all works great but when the solution is built and packages restore under a debian machine (docker), it restores this library as .NETStandard v2.0 which is not the same one which is rest

[2022-09-05 13:48] Arnab-Developer commented on #9218
@joelverhagen GitHub action is working now. Thanks for the quick resolution. 👍🏼

[2022-09-05 19:05] agr opened #9220 "[Self-hosted Bug]: Running Gallery locally taints localhost with HSTS header which breaks authentication in other apps"
### Impact

It's more difficult to complete my work

### Describe the bug

Gallery unconditionally uses HSTS header, so when running locally, browser you open it with receives instruction to always use HTTPS for localhost. Unfortunately, browsers seem to associate that "always use HTTPS for localhost" with just a hostname, not with "hostname/port" combination.

This breaks the authentication in ap

[2022-09-05 19:08] agr commented on #9220
The workaround I found is: copy the URL from the browser window with failure, open private/incognito window, paste it there and fix the protocol to `http`.

Potential fixes:
1. Completely remove the HSTS header from web.config and inject it at build time instead:
 https://github.com/NuGet/NuGetGallery/blob/2a9b7267d4ce76ddf7fa598721f69e153a9ad010/src/NuGetGallery/Web.config#L387

2. Reduce `max-ag

[2022-09-06 05:05] msedi opened #9221 "[NuGet.org Bug]:"
### Impact

It's more difficult to complete my work

### Describe the bug

I'm creating an msbuild task which we deliver as a nuget package. Everything works fine so far, the task does what it should but a problem is the installation of the nuget package. It takes around 5 minutes to install the nuget package and there is not real log to identify the source of the lag.

During development I simply

[2022-09-06 18:44] jmecosta opened #9222 "[NuGet.org Bug]: code signing certificates"
### Impact

I'm unable to use NuGet.org

### Describe the bug

We have a bigger wider organization in nuget that we want everyone to use in the company.  However some of the groups don't have signing certificates and nuget.org prevents their packages from being uploaded because other users in the organization have uploaded their certificate that they want use when delivering their packages.

We do

[2022-09-06 20:50] joelverhagen commented on #9222
Hey @jmecosta, I like the direction of this question. It's something that hasn't been explored deeply for general NuGet.org users. The Microsoft organization on NuGet.org has some procedures in place but these aren't easily replicated for all organizations (for a variety of reason). Up until now, the features and documentation for NuGet.org has been mainly tailored to individual developers or smal

[2022-09-06 22:10] lyndaidaii opened #9223 "[License]Add warning/info message about missing License on upload page"
Add warning/info message about missing License on upload page to encourage package authoring best practices.

[2022-09-06 22:13] lyndaidaii opened #9224 "UX cleanup for upload page"
- remove unnecessary metadata
- change font (not use italics)

[2022-09-06 22:22] lyndaidaii opened #9225 "Package quality warnings on NuGet.org upload page Spec"

[2022-09-06 22:41] lyndaidaii commented on #9225
duplicate issue #4561 https://github.com/NuGet/Engineering/issues/4561

[2022-09-06 22:41] #9225 closed

[2022-09-06 23:42] camigthompson commented on #8833
Verified in PROD.

[2022-09-06 23:42] camigthompson commented on #9173
Verified in PROD.

[2022-09-06 23:42] #9173 closed

[2022-09-06 23:43] camigthompson commented on #9172
Verified in PROD.

[2022-09-06 23:56] joelverhagen commented on #9201
This is deployed on www.nuget.org. Thanks again for your contribution!

[2022-09-06 23:56] #9201 closed

[2022-09-06 23:58] #7447 closed

[2022-09-07 06:24] jmecosta commented on #9222
On Tue, Sep 6, 2022 at 11:50 PM Joel Verhagen ***@***.***>
wrote:

I dont see us having a single certificate for the all company, even
security wise is more problematic because more users using it more likely
the certificate can leak. Unless you develop a central way of doing it
without users having access to it.. Then we also have multiple CIs so
applying that looks complicated. Each division or

[2022-09-07 08:10] potatoqualitee commented on #9201
Looks so good, I told all my friends 😅

![image](https://user-images.githubusercontent.com/8278033/188825645-fa81e6e0-93cd-4997-8853-fcd96fcb732f.png)

[2022-09-07 08:10] potatoqualitee commented on #9201
Thanks again for the assist 💯  100/100, would PR again.

[2022-09-07 16:47] paulhickman-a365 commented on #9218
I'm getting intermittent failures on 7 Sep 2022 15:00 - 17:00 UTC trying to download packages from a Microsoft hosted DevOps agent in the UK South region using the image "windows-latest". e.g.

[code]

In most cases an attempt is succeeding within the 5 retries it makes and the build still completes, but sometimes as per the log above, it fails all 5 attempts.

[2022-09-07 17:11] #9200 closed

[2022-09-07 19:15] #9211 closed

[2022-09-08 00:34] camigthompson opened #9226 "[NuGet.org Bug]: 500 - Internal Server Error when accessing certain package pages"
### Impact

I'm unable to use NuGet.org

### Describe the bug

If in the package's README, a specific scenario exists, attempting to access the package's page results in a 500 error. This issue comes to light with the added support of internal links in READMEs.

The 500 error occurs as a result of an unhandled NullReferenceException.

This may be a result of a separate bug within Markdig (auto-lin

[2022-09-08 19:42] joelverhagen commented on #9227
Thanks for the heads up @donnie-msft. I transferred it.

[2022-09-08 20:42] joelverhagen commented on #9227
Hello @ac-proagrica, I've read through your issue.

Given our current V3 protocol, it is acceptable for the NuGet.org feed to return a 404 Not Found for the URL `https://api.nuget.org/v3/index.json/`. This is not the documented service index and there is no NuGet V3 protocol documentation that asserts the slash and unslashed version of the URL should be treated as the same by the server.

_That be

[2022-09-08 22:55] ac-proagrica commented on #9227
Hello @joelverhagen
Thank you for taking the time to provide such a detailed response. It's very informative.

It's very difficult to argue with what you've outlined, I have just not been able to find the basis for the assumption that has been made by the Nexus team, nor been able to understand why it suddenly "broke" but it may be related to what you've said about CDN providers.

I have also foun

[2022-09-09 01:21] joelverhagen commented on #9227
Sounds good, we'll close it then.

[2022-09-09 01:21] #9227 closed

[2022-09-09 21:33] agr opened #9230 "[2022-09-09] Deployment"
# CDN Redirect

## Changes
* CDN redirect now monitored on its own (without following redirects to underlying CDN);
* Separate Mooncake CDN monitoring.

## Progress

* [x] Build: https://dev.azure.com/devdiv/DevDiv/_releaseProgress?_a=release-pipeline-progress&releaseId=1390253
* [x] DEV
* [x] INT
* [x] PROD

[2022-09-10 15:45] SoftCircuits commented on #9180
@joelverhagen Thanks. I did contact the author and it appears he has deprecated his package.

[2022-09-12 20:57] lyndaidaii opened #9231 "[Readme]: Support razor, csthml for syntaxhighligthing"
### Related Problem

Few packages include razor, cshtml code block in their readme, but nuget.org doesn't support now
For example: https://www.nuget.org/packages/opcuaclient_eilev_brustugun/1.0.6

### The Elevator Pitch

support razor, cshtml

### Additional Context and Details

To support razor, cshtml with syntax highlighting, we need include additional library https://github.com/highlightjs/hig

[2022-09-12 22:45] camigthompson commented on #9226
The proposed fix in the above PR fixes the 500 internal server error, but results in some strange behavior.

[2022-09-13 14:21] MangelMaxime opened #9234 "[Feature]: Search v3 ability to search by multiple tags"
### Related Problem

Cannot search packages by using multiple tags in the query.

### The Elevator Pitch

For Fable,
an F# to JavaScript, Python, Dart, etc. compiler we are hosting packages on NuGet.

Users have a hard time discovering what Fable packages are available. We have the idea of using tags like:

- `fable`
- `fable-binding`
- `fable-library`
- `fable-javascript`
- `fable-dart`
- `fable-

[2022-09-13 15:34] MangelMaxime opened #9235 "[NuGet.org Bug]: Different search result count between NuGet.org search UI and API"
### Impact

Other

### Describe the bug

There is a different number of pacakges found between NuGet.org website and the search API.

### Repro Steps

Click on the links below and compare the number of packages reported.

| Source     | Url                                                           | TotalHits |
|------------|---------------------------------------------------------------|---------

[2022-09-13 23:41] juaguirre opened #9236 "[Feature] Show total numbers on the package stats page in addition to 6 week figures"
### Impact

It's more difficult to complete my work

### Describe the bug

I work at Microsoft Azure Cloud Marketplace, I am in charge of developing download analytics for this package
https://www.nuget.org/packages/Marketplace.SaaS.Client
The problem I am having is in the front page shows 52 per day downloads
However when I enter the "full stats" link which provides 6 weeks rolling total I see a

[2022-09-14 00:17] joelverhagen commented on #9234
Currently field scoped queries (such as `Tags:"fable" Tags:"fable-binding"`) are combined roughly with an OR logic. This basically Lucene behavior where a document (package) matching multiple search teams gets a boost but a document containing either is also matched but at a lower base score (tf-idf, etc.). The reason you're not seeing Glutinum.Fuse at the top (it matches both tags) is because the

[2022-09-14 00:19] joelverhagen commented on #9235
This is because prerelease and SemVer 2.0.0 packages are filtered out by default. Please take a look at the API documentation here: https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource#request-parameters.

Try this URL:
https://azuresearch-usnc.nuget.org/query?q=Tags%3A%22fable%22&prerelease=true&semVerLevel=2.0.0
(note the `semVerLevel=2.0.0` parameter I added)

The NuGet.org

[2022-09-14 00:27] joelverhagen commented on #9236
The "per day average" you see on the main package details page is `TOTAL_DOWNLOADS / DAYS_SINCE_FIRST_VERSION`. So 18.8K divided by 359 (days since 2021-09-19). This rounds to 52, as of today (2022-09-13).

The math you're doing on the stats page is totally different because it's for only download counts for the past 60 days instead of the past 359 days.

I hope this helps.

_side note:_
Assuming

[2022-09-14 06:48] MangelMaxime commented on #9235
Hello @joelverhagen,

thank you for the explanation. I was aware of the `prerelease=true` requirements but I didn't know about the `semVerLevel` I will make sure to include it in my search query.

[2022-09-14 06:48] #9235 closed

[2022-09-14 09:09] MangelMaxime commented on #7494
I am still seeing this problem today.

The scope of my search is for around 350 packages. I am making request with 50 elements per page in order to show a progress bar to the user.

However, doing so results in duplicated packages.

If I search for 1000 packages at once then the problem doesn't occur.

For now, I am going to go with 1000 packages pages however this will not be working once we reac

[2022-09-14 18:24] juaguirre commented on #9236
Hi Joel,

Thanks a lot for your response now its more clear to me however IMHO it would be great to have TOTAL download figures in addition to only  6-weeks rolling totals, when clicking the “full stats” link which is for that very reason a misnomer as currently total downloads only appear at front page and they do so with no detail, and with limited resolution i.e. 18.8K (resolution of 1/100)

My

[2022-09-15 17:27] joelverhagen commented on #9236
Sure, sounds good. I have updated the title of this issue to reflect your feature request.

[2022-09-15 17:39] juaguirre commented on #9236
That’s great Joel thank you very much!

Best Regards,

Juan L Aguirre - WIPRO
Data Analyst / Power BI
***@***.******@***.***>
SMS +1 5127396096

***@***.***

From: Joel ***@***.***>
Sent: Thursday, September 15, 2022 10:27 AM
To: ***@***.***>
Cc: Juan Aguirre (WIPRO ***@***.***>; ***@***.***>
Subject: Re: [NuGet/NuGetGallery] [Feature] Show total numbers on the package stats page in addition to 6

[2022-09-16 20:36] advay26 opened #9237 "[Deployment] 2022.09.16"
# Gallery

## Changes

* https://github.com/NuGet/NuGetGallery/pull/9233 (tracked by https://github.com/NuGet/NuGetGallery/issues/9226) - **Hotfix into main**
* https://github.com/NuGet/NuGetGallery/pull/9229 (tracked by https://github.com/NuGet/Engineering/issues/4566)
* https://github.com/NuGet/NuGetGallery/pull/9228 (tracked by https://github.com/NuGet/Engineering/issues/4555)

## Progress
* [x

[2022-09-19 23:40] advay26 opened #9241 "[NuGet.org Bug]: Include a warning to 'add a backup admin' to your organization account"
### Impact

It's more difficult to complete my work

### Describe the bug

Users often create company organizations to upload packages, and do not add any other Admins to the org. They then leave the company, leaving the company's organization account and its packages without an owner, and we aren't always able to restore the company's access to its resources.

We should add a warning/suggestion f

[2022-09-20 06:58] SharonTancy opened #9242 "[Feature]: Getting complete data of a package from database"
### Related Problem

Hi,

I'm wondering where does NuGetGallery store the package data at backend? Or which **database** is used to hold the metadata of these packages? Kusto DB or SQL DB or any other databases?

The most important thing I want to consult is that **can we access these databases to get the complete data of a given package** without downloading and write into DB by ourselves? We wan

[2022-09-20 18:20] loic-sharma commented on #9242
The team uses [NuGet Insights](https://github.com/NuGet/Insights) to analyze things like folder structure and assemblies:

Specifically:
1. [`PackageAssemblies` table](https://github.com/NuGet/Insights/blob/main/docs/tables/PackageAssemblies.md) - Analyze assemblies
2. [`PackageArchiveEntries` table](https://github.com/NuGet/Insights/blob/main/docs/tables/PackageArchiveEntries.md) - Analyze folder

[2022-09-21 00:01] Gsonovb opened #9244 "[NuGet.org Bug]: can't download "OrchardCore.Rules" Package in China"
### Impact

It's more difficult to complete my work

### Describe the bug

Hi,

I tried to create Orchard CMS project,
Adding ”OrchardCore.Application.Cms.Targets“  package, error "not found".
![image](https://user-images.githubusercontent.com/3164300/191384840-fb7a6169-b5d7-4acb-b5d2-eaa55aa78183.png)

Using Fiddler to view the request,

"GET, https://api.nuget.org/v3-flatcontainer/orchardcore.ru

[2022-09-21 16:53] zhhyu commented on #9216
This work has been finished. Thanks for your understanding!

[2022-09-21 22:08] #8865 closed

[2022-09-21 22:33] #9230 closed

[2022-09-22 10:26] SharonTancy commented on #9242
Another thing is that, does the data of these [API ]([Overview of the NuGet Server API | Microsoft Learn](https://learn.microsoft.com/en-us/nuget/api/overview))comes from the tables generating by this Insights? And can we specify our own feed to analyze? Thanks!

[2022-09-22 12:58] joelverhagen commented on #9242
@SharonTancy, it's actually the reverse. The tables generated by Insights comes from the NuGet Server API. An Azure Function in the Insights project reads the Server APIs and stores the data in one place for analysis.

Insights is tailored in a couple ways specifically for NuGet.org. I have not attempted running it on another feed. It is theoretically possible to make most of the data tables build

[2022-09-22 18:03] camigthompson commented on #8833
Hotfix for 500 error has been verified in PROD.

[2022-09-22 18:03] #8833 closed

[2022-09-22 20:21] #9237 closed

[2022-09-23 01:35] christianliebel opened #9252 "[NuGet.org Bug]: Add caniuse images via bitsofco.de to trusted image domains"
### Impact

It bothers me. A fix would be nice

### Describe the bug

We are offering Blazor wrapper packages for different web APIs. There is a great service called caniuse.com that shows the availability of a particular API on different platforms. Ire Aderinokun offers a service that shows the caniuse.com status data and MDN compat data in a (static) image, e.g.:

https://caniuse.bitsofco.de/ima

[2022-09-26 18:07] joelverhagen commented on #9222
Hey @jmecosta, just wanted to check in and see if you have everything sorted. I'll close this issue after 7 days if I don't hear back from you.

[2022-09-26 21:19] dannyjdev commented on #9244
@Gsonovb, thank you for rising this bug, we just deployed a fix, you should no longer have this issue.

[2022-09-26 21:19] #9244 closed

[2022-09-27 17:15] melanchall opened #9257 "[NuGet.org Bug]: SearchQueryService (primary) returns stale data"
### Impact

It's more difficult to complete my work

### Describe the bug

It looks like primary SearchQueryService returns stale data when package information queried. I observe the same stale total downloads count for my package for several days (see repro steps).

### Repro Steps

1. Execute https://api.nuget.org/v3/index.json.
2. Take primary SearchQueryService URL; at the moment it's https://

[2022-09-27 19:59] jmecosta commented on #9222
@joelverhagen  thanks and apologies for the delay... everything is clear now from our side... The description you provided works quite ok. thank you again

[2022-09-27 19:59] #9222 closed

[2022-09-28 02:19] zhhyu opened #9258 "[NuGet.org Bug]: The generated link for owner request is broken."
### Impact

It's more difficult to complete my work

### Describe the bug

The link in the email doesn't point to www.nuget.org.

### Repro Steps

Add a package owner and check the generated link in the email.

### Expected Behavior

The link should be workable. What about other scenarios?

### Screenshots

_No response_

### Additional Context and logs

_No response_

[2022-09-28 17:35] dtivel opened #9259 "NuGet.org: transition away from deprecated Symantec timestamping service"
NuGet.org (DEV, INT, and PROD environments) use the deprecated Symantec timestamping service for repository signing and countersigning NuGet packages.  The industry-wide deprecated status of the service led to the [2021 incident on Linux](https://github.com/NuGet/Home/issues/10491).

We need to move away from this service to another service in good standing for all new packages pushed to NuGet.org